[2015-12-04 10:56] istvank opened #2 "mismatch-identity after successful user creation"
Hi, thanks for taking up the work of @unagi! :+1:

Before investigating the code closer, maybe my problem is a known issue already: After logging in, I get an "ERROR: Mismatch identity" message. The log says "New user created" and "Successful login for", but then comes the "mismatch-identity" error. I tried with sub, preferred_username or name, all give the same error. Our OIDC provider is availab

[2016-01-16 20:57] amvanbaren commented on #2
Bump. Same error. @istvank, did you find a solution?

[2016-01-18 15:20] daggerhart commented on #2
I'm not experiencing this issue, but I mainly use the "Login Button" approach.

@istvank @amvanbaren  Not sure if this is the issue, but could you let me know if you're using SSO or the Login Button?

Thanks

[2016-01-18 16:48] amvanbaren commented on #2
@daggerhart I'm also using the login button. I tried to use the SSO approach to see if that makes a difference, but the issue still persists. From what I've seen the plugin does a successfull login, then does a redirect (statuscode 302) to the home page, but after that the login page is loaded again (statuscode 200) with the error. Another thing is that the cookies (wp_sec cookies) that are being

[2016-01-18 17:15] istvank commented on #2
It turned out to be some WordPress cookie related issue. After commenting out the failing cookie check it works. Let me check which line it was...

[2016-01-18 17:56] amvanbaren commented on #2
I've re-installed Wordpress, with only the openid-connect-generic plugin installed. The issue persists.

@istvank Yes, the cookies seem to be messing it up. Which line did you comment?
@daggerhart I've attached some screenshots to further illustrate the issue.
![identity-mismatch-callback](https://cloud.githubusercontent.com/assets/14129099/12398520/764b6efc-be14-11e5-9a44-99ec1744b2e5.png)
Here t

[2016-01-19 13:07] istvank commented on #2
Here, it's this if clause: https://github.com/daggerhart/openid-connect-generic/blob/master/includes/openid-connect-generic-client-wrapper.php#L97 Commenting all the four lines out fixed it for us (thanks to @pedela). Somewhere in there the cookie has a wrong id.

[2016-01-19 14:31] daggerhart commented on #2
@amvanbaren Those cookie screen shots are very helpful.

I think the issue is with this bit of code that sets the cookie:  https://github.com/daggerhart/openid-connect-generic/blob/master/includes/openid-connect-generic-client-wrapper.php#L292

If I had to guess, your tokens are not coming back with an 'expires_in' key, so the cookies are being set to expire immediately.  I just took a look at the

[2016-01-19 14:54] amvanbaren commented on #2
@daggerhart I was looking into the same line of code :smiley: Mine does have a expires_in property, but it expires in 3.6 seconds. This is probably too little time. I'll apply your fix and see if it works.

@istvank Thanks a lot! Login finally works.

[2016-01-19 14:55] istvank commented on #2
We also got the expires_in set. We tried with the 14400 and still the same error unfortunately.

[2016-01-19 15:10] amvanbaren commented on #2
Tried the fix, but same result as @istvank. Looks like the cookie is not set. This is the debug output I get:
[19-Jan-2016 15:03:25 UTC] is logged in: 1
[19-Jan-2016 15:03:25 UTC] openid connect user: 1
[19-Jan-2016 15:03:25 UTC] PHP Notice:  Undefined index: openid-connect-generic-identity in /var/www/html/wp-content/plugins/openid-connect-generic-3.0.2/includes/openid-connect-generic-client-wrap

[2016-02-06 21:20] atif-shaikh commented on #2
@daggerhart Thanks for extending the original plugin :+1: .

@istvank @amvanbaren The issue/minor mistake is, due to the flag value passed in setcookie function (https://github.com/daggerhart/openid-connect-generic/blob/master/includes/openid-connect-generic-client-wrapper.php#L293).

The 6th param/flag option 'TRUE'  passed in setcookie is for secure.

As taken from PHP Manual
-------------------

[2016-02-07 12:19] amvanbaren commented on #2
Good job! Didn't know that. Did some quick research and found out that Wordpress has a standard function to determine whether the connection is secure (SSL) or not. Its called [is_ssl()](https://core.trac.wordpress.org/browser/tags/4.4.2/src/wp-includes/functions.php#L3913). The function is a bit different than the solution you're proposing, but will work in most cases.

[2016-02-07 12:49] atif-shaikh commented on #2
@amvanbaren yeah that looks good :+1:

[2016-02-08 04:21] daggerhart commented on #2
@atif-shaikh and @amvanbaren, That was very helpful, thanks!  I've made the change to the plugin.

@istvank could you please test the newest version to see if this resolves your problem?

Thanks again

[2016-02-11 15:51] istvank commented on #2
Thanks, we just verified that it is working indeed.
Very much appreciated! :+1:

[2016-02-25 16:33] missfx opened #3 "ERR_TOO_MANY_REDIRECTS"
Hello,
i've this error : ERR_TOO_MANY_REDIRECTS.
the website is a subdomain like that : http://montest.monsite.fr
any idea ?

[2016-03-21 13:29] missfx opened #4 "information profile"
It's possible to have te access token request in the headers rather than the url ?
because I can not retrieve profile information, any ideas ?
thanks a lot

[2016-03-21 18:58] #3 closed

[2016-03-22 14:04] daggerhart commented on #4
I think we can do that.  I'll look at the specs to see if there is a preferred header for that type of thing.  If not, I'll make something up

[2016-03-22 14:04] #2 closed

[2016-06-01 14:17] DioDread opened #7 "Identity Key problem."
Greetings, I have little trouble with Identity Key. After user_info is queried and authorization is performed. On main page wordrpress shows 'sub' as currently logged in user's name, no matter which Identity Key I set up in plugins configurations. Thanks in advance!

[2016-06-01 14:30] robertstaddon commented on #7
@DioDread, I think that you may be misunderstanding "Identity Key". This is not the username of the user to log in. This is the location in the user claim array to find the user's identification data. If you're able to successfully log in with any user into your OpenID Connect server, it's probably working fine for you.

OpenID Connect allows you to log into the site with any user that authenticat

[2016-06-01 18:27] DioDread commented on #7
Sorry for misguidance. I mean it showing sub's value from claims - that is subject (I supposed to think some sort of unique ID or SAML related code), kinda 01210ade0a20d etc. But after i changed it to preferred_username and delete user from wordpress db it now show username and not sub value. Maybe it was caused by some configurations.

[2016-06-01 19:27] robertstaddon commented on #7
Ok. I'm connecting into an OpenID Connect server hosted on Drupal (https://www.drupal.org/project/oauth2_server) and "preferred_username" is what worked for me. So is everything working well for you with that set?

Perhaps I should change the description under the field to this:

[2016-06-01 22:49] DioDread commented on #7
Yep, thank you, all fine now.

[2016-06-01 22:51] #7 closed

[2016-07-26 18:28] wgengarelly commented on #4
Thanks for improving the original plugin!

I also ran into an issue when the access token was included in the url. If I'm reading the spec correctly,  [section 5.3.1](http://openid.net/specs/openid-connect-core-1_0.html#UserInfoRequest) recommends sending the access token in the Authorization header field. My identity provider (IdentityServer3) seems to require the access token in the header, and

[2016-08-29 16:09] dalareo opened #11 "Integrating with wso2 IS"
Hi!
Congrats for the plugin!!
I am trying to integrate it with WSO2 but I get:

[code]

Any help?

[2016-08-30 14:59] dalareo opened #12 "Auto login error"
If I choose autologin option I get:

[code]

[2016-09-13 00:14] musti2 opened #13 "invalid user claim"
Hi,

I am continuously facing an **'invalid user claim'** error after successfully authentication with our OpenID Connect provider...  I have tested my token and checked the return values and made sure it matches what wordpress is expecting as the username..

My setup is correct as it's working on the original 'Generic OpenID Connect' plugin however the only issue with the original version is that

[2016-09-13 01:35] musti2 commented on #13
Error message from the log: object(WP_Error)#4677 (2) { ["errors"]=> array(1) { ["invalid-user-claim"]=> array(1) { [0]=> string(18) "Invalid user claim" } } ["error_data"]=> array(0) { } }

[2016-09-13 14:01] robertstaddon commented on #13
What version of PHP are you using?

[2016-09-13 14:03] robertstaddon commented on #4
This excellent pull request was merged so I will go ahead and close this out.

[2016-09-13 14:03] #4 closed

[2016-09-14 05:47] musti2 commented on #13
PHP 5.5

[2016-09-20 16:08] Blackbaud-JasonRikard commented on #13
Check the `expires_in` value from your token endpoint response. The cookie expires in X seconds dictated by that value.

https://github.com/daggerhart/openid-connect-generic/blob/f2d2a8083b1f1ceabf4bbb93214b4d10f772cb77/includes/openid-connect-generic-client-wrapper.php#L319

http://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthResponse

After that time elapses, you will receive the in

[2016-10-10 21:09] danielmcquillen opened #14 "Alternate method to route callback?"
Thanks authors for this great library!

I'm experimenting with it to connect a WordPress site (client) with a Django-based site that serves as the OP.

However, after the Django site authenticates the user, it returns to the WP site where the page just has a "0" ... nothing more. The url is https://(my test WP site).org/wp-admin/admin-ajax.php?state=(some long string of numbers)&code=(some long st

[2016-10-11 22:13] danielmcquillen commented on #14
It may be that my client is stripping the `action=openid-connect-authorize` GET variable from the response URI.

... if that's the case, is there a way to configure openid-connect-generic so that it uses a specific url rather than `admin-ajax.php?action=openid-connect-authorize`?

[2016-10-11 22:23] daggerhart commented on #14
That sounds like it could be the problem. WP's ajax API returns `0` when it fails. I don't currently have a way to change the URL in the plugin, but that is a feature I could look at.  Alternatively, is there a way to whitelist that query variable from your client?

I'll look at adding configuration for a custom URL.

[2016-10-12 00:43] danielmcquillen commented on #14
Thanks @daggerhart. I'm looking into the other side of this now. I'm using an Open edX system as the IdP. They override a bunch of Django plugins that provide OAuth2 and then OpenID connect features. I can see that it saves the callback URI correctly, so I think in the actual code that builds the response it's stripping out that first GET var.

If you do create a custom URL that avoids the need to

[2016-10-13 22:08] danielmcquillen commented on #14
@daggerhart am I right in thinking that one approach would to use WP API to create a more conventional callback URL (with no 'action' GET variable) for the authorize callback? http://v2.wp-api.org/extending/adding/

[2016-10-14 10:45] radenui commented on #13
I had the same issue and I believe this is a bug: the "sub" field in openid claims is supposed to give the unique identifier of the logged-in user, which you do not necessarily find in user claims with the same name "sub" (for instance, I have this information in the "ID" field of my user claims).

I modified `validate_user_claim()` function in `includes/openid-connect-generic-client.php` to check

[2016-11-12 12:05] rwasef1830 opened #15 "validate_token_response token_type check should be case-insensitive (fails with keycloak)"
Hello,
Thanks for a very useful WordPress plugin. Was just testing it with KeyCloak 2.3.0 final and noticed a very minor bug. In the ```validate_token_response``` there is a check that compares the ```token_type``` value to ```Bearer``` using ```!==```.

This does a case-sensitive check that fails with implementations that return ```bearer``` such as keycloak and causes login to fail with "Invalid

[2016-11-13 05:08] robertstaddon commented on #15
Thank you for your fix! https://github.com/daggerhart/openid-connect-generic/pull/16

[2016-11-13 05:08] #15 closed

[2016-11-13 08:36] rwasef1830 commented on #15
Hey, @robertstaddon I think this should be merged into the dev branch as well.

[2016-11-14 14:02] robertstaddon commented on #15
Done!

[2016-11-20 09:40] rwasef1830 commented on #13
@musti2 This maybe due to IdP returning "bearer" in lowercase instead of "Bearer" upper-case in ```token_type``` property in the response. This was fixed in #15

[2016-11-20 09:41] rwasef1830 commented on #11
@dalareo Maybe due to issue fixed by #15.

[2016-11-20 09:41] rwasef1830 commented on #14
@danielmcquillen maybe possible to use mod_rewrite to make a special url without query string ? just an idea.

[2016-11-20 09:43] rwasef1830 commented on #12
@dalareo Check if another plugin is sending whitespace or response before openid-connect-generic. Unless there is a situation in which openid-connect-generic is the one sending the response, then this bug is invalid.

[2016-11-21 15:52] daggerhart commented on #12
This maybe due to our attempts at setting a cookie in in the middle of a page load.

setcookie: http://php.net/setcookie

Offending code: https://github.com/daggerhart/openid-connect-generic/blob/master/includes/openid-connect-generic-login-form.php#L100

I suspect we need to detect the need for the cookie somewhere else (much earlier), and keep this method limited to displaying the login button.

[2016-11-21 15:56] rwasef1830 commented on #12
@daggerhart My pull request #20 addresses this.

[2016-11-21 23:35] daggerhart opened #23 "Use a popular OAuth2 client library"
Ideally there is a reliable php OAuth2 client library out there that we can incorporate instead of rolling our own.  First glance finds: https://github.com/thephpleague/oauth2-client (minimum PHP 5.5)

Second glance finds: https://github.com/Lusitanian/PHPoAuthLib - php 5.3, late update July 12th

Using a client library would allow us to focus on the WordPress side of plugin and greatly simplify t

[2016-11-22 18:47] rwasef1830 commented on #23
It could simplify things, but it would hinder implementing superset features outside OAuth 2.0 like the discovery endpoint, integrated logout ... etc.

thephpleague seems better implemented and more well-known than the second one.

[2016-11-25 20:11] daggerhart commented on #14
@danielmcquillen I've added an alternate redirect_uri to the dev branch.  You'll need to enable it on the settings page, then flush the rewrite cache by saving the Permalinks settings page. Let me know if you have any issues.

[2016-11-27 22:45] danielmcquillen commented on #14
Awesome @daggerhart ... we've pushed off the SSO thing but will probably circle back to it. @rwasef1830 thanks for the suggestion but looks like this recent change will work for us.

[2017-01-23 21:23] #23 closed

[2017-01-23 21:23] #14 closed

[2017-01-23 21:24] #13 closed

[2017-01-23 21:24] #12 closed

[2017-01-23 21:24] #11 closed

[2017-03-07 19:57] ahatherly opened #26 "Timeouts"
Hi,
I am using your plugin to connect to an OpenID Connect server (in my case Keycloak), but I am finding that users that login that way are timing out very quickly (in a few minutes), whereas users that login with a username/password don't have the same issue. Any ideas what I need to change to increase this timeout? I can see a timeout in the plugin settings for requests, but my issue is with th

[2017-03-07 20:19] ahatherly commented on #26
Actually ignore this - I wasn't using the latest version, and I can see you have added refresh tokens in the later version which should solve the issue - apologies!

[2017-03-07 20:19] #26 closed

[2017-04-13 09:59] xou816 opened #30 "Host header in user info request ignores port"
The "Host" header that is set by request_userinfo ignores the parsed port.
With Keycloak, it resulted in invalid issuer errors.
Modifying line 207 to `$host = $parsed_url['host'].':'.$parsed_url['port'];` seems to fix it.

[2017-04-19 20:05] daggerhart commented on #30
Hi @xou816

I've added this to the dev branch. If you have time could you please test that it works as expected?

Thanks,
Jonathan

[2017-04-20 08:43] xou816 commented on #30
Hi!
Thank you for handling this issue!
It seems to work as expected for my setup (Keycloak 2.5.0.Final + WordPress 4.7.3) :)

[2017-06-02 16:47] #30 closed

[2017-08-09 15:11] olkitu opened #33 "LemonLDAP SSO + OpenID Connect"
I installed OpenID Connect and login working but when returning back to WordPress i get on plugin debug log:

  ["errors"]=>
  array(2) {
    ["http_request_failed"]=>
    array(1) {
      [0]=>
      string(21) "URL was incorrect."
    }
    ["request_authentication_token"]=>
    array(1) {
      [0]=>
      string(40) "Request for authentication token failed."
    }
  }
  ["error_data"]=>
  arra

[2017-08-10 20:17] daggerhart commented on #33
Looks like the URL for the IDP's token failed. This is the "Token Validation Endpoint URL" in the plugin settings. Can you verify that the endpoints you've provided to the plugin settings are correct?

It could also be related to the "Verify SSL" settings. Could you try that both as enabled and disabled to see if you get different results?

[2017-08-10 20:31] olkitu commented on #33
Thanks, i have typo on Token Validation Endpoint. Now i get another error about token

  ["errors"]=>
  array(1) {
    ["invalid-token-response"]=>
    array(1) {
      [0]=>
      string(22) "Invalid token response"
    }
  }
  ["error_data"]=>
  array(1) {
    ["invalid-token-response"]=>
    array(4) {
      ["token_type"]=>
      string(6) "Bearer"
      ["access_token"]=>
      string(64) "43

[2017-08-10 20:36] daggerhart commented on #33
This is happening because the "id_token" is NULL.  That value is a requirement of the OpenId specifications, so I suspect the IDP to provide it.

Maybe there is an issue with the previous failed attempts. Could you trying logging out of both WordPress and your IDP and then trying to login again?

[2017-08-10 20:38] olkitu commented on #33
Thanks very much, i found setting on LemonLDAP: ID Token signature algorithm, i changed value RSS512 to  HS256. Now login works, thank you.

[2017-08-10 20:38] #33 closed

[2017-08-11 07:44] Reccetech opened #34 "admin-ajax returning 0"
Hi Daggerhart,

Many thanks for all your work on this. I have installed the plugin and after authentication I just get a "0" which I understand is a problem with admin-ajax action not matching a wordpress hook.

An example of my response that fails is:
https://mywebsite/wp-admin/admin-ajax.php?action=openid-connect-authorize?code=bbdae34ac6a040e5712fe78c9a11b828d76e08b355c618b45e9c68e05453078a&sta

[2017-08-11 13:26] daggerhart commented on #34
Hi Keith,

The first issue (admin-ajax = 0) is due to the resulting URL of your response.  It has 2 `?`s in the query string which is not being parsed correctly by php.  The resulting `$_GET` of that example is this:
[code]

If there is no way for you to fix it on the IDP end, I recommend you use the "Alternate Redirect URI" setting, which will use `/openid-connect-authorize` for the endpoint inst

[2017-08-14 04:42] Reccetech opened #35 "End Session Endpoint URL"
#### Filing as seperate issue:

**Issue:**
In the settings you request the End Session Endpoint URL. The OpenID Connect service I am using does not have sessions and many of the other OpenID Connect Plugins I have seen don't request this setting. Perhaps in future versions of the plugin you can make this optional?

**Response from Daggerhart:**
Regarding the End Session Endpoint, I think you're ri

[2017-08-22 05:57] lionello opened #36 "Per spec, `refresh_token` is optional, but plugin fails without it"
This line of code prevents login without `refresh_token`:
https://github.com/daggerhart/openid-connect-generic/blob/b64fab27be1a66d065a060703173a540c4b4b845/includes/openid-connect-generic-client-wrapper.php#L138

Here's the line from the OAuth spec regarding `refresh_token`: https://tools.ietf.org/html/rfc6749

[code]

The OpenID-Connect spec does not redefine this.

[2017-08-22 06:25] Reccetech commented on #34
It was indeed a problem with the IDP server inserting an extra ?. Working now. We can close this.

Thanks,
Keith

[2017-08-22 13:10] #34 closed

[2017-09-01 17:14] cedrox opened #38 "Logout Url : Adding id_token_hint as optionnal parameter"
Hello,
Following openID documentation http://openid.net/specs/openid-connect-session-1_0.html#RPLogout, id_token_hint prevent some denial of service attack and is considered as a best practice. Could you help me to implement it ?
I just wanted to concatenate $url from get_end_session_logout_redirect_url( $redirect_url ) function in \plugins\openid-connect-generic-dev\includes\openid-connect-generi

[2017-09-01 17:54] daggerhart commented on #38
Hi @cedrox,

I'm not 100% sure this is right, but maybe you can test it or otherwise provide feedback.  Here is a patch rolled against the dev branch.

[code]

[2017-09-01 18:10] cedrox commented on #38
Thanks a lot @daggerhart !
I try it but here the output of my OAuth Server
error:invalid_client
error_description:Invalid post_logout_redirect_uri

I don't know if there is a kind of process on id_token_hint but the OAut server I work with force the use of it and this is no more optionnal...

Thanks

[2017-09-01 18:47] daggerhart commented on #38
I'm not sure, but I think that means the `id_token_hint` is working. But there might be a problem with the `post_logout_redirect_uri`.

Is there somewhere in your IDP where you need to specify allowed redirect uris? Or do you have some documentation about your IDP you can link me to for further investigation?

[2017-09-02 09:34] cedrox commented on #38
Unfortunatly, I don't have documentation about how open Id is configured on my IDP. What's the  difference between authorized / return url and post_logout_redirect_url ?
Thanks for your time and feedback !!

[2017-09-08 07:00] geopal opened #39 "Logout fails"
You log in with openid connect and wordpress creates a user if there is not one and then logs in. After selecting to log out, wordpress logs out the user but when you try to login again with openid connect then you login automatically like you didn't log out. This problem can be solved only by cleaning browser's cache (Ctrl + Shift + Del).

[2017-09-11 13:20] daggerhart commented on #38
@cedrox, there is a new PR from someone implementing this. Do you have a moment to test it with your IDP?

#40

[2017-09-11 20:46] cedrox commented on #38
Yes, with pleasure ! I will test it and come back to you tomorrow max :)

[2017-09-12 20:27] skidos commented on #38
Here some specification about parameters that are passed as query parameters in the logout request:
## id_token_hint
**RECOMMENDED**. Previously issued ID Token passed to the logout endpoint as a hint about the End-User's current authenticated session with the Client. This is used as an indication of the identity of the End-User that the RP is requesting be logged out by the OP. The OP need not be

[2017-09-14 09:45] geopal commented on #38
I implemented the changes and I tested it on IdentityServer4 (http://docs.identityserver.io/en/release/index.html), but it cannot bypass the prompt asking for disconnection.

[2017-09-14 13:54] svenvanhal opened #41 "Don't force re-login after token expiration"
When a user is logged in and the access token expires, the user is redirected to the login page and a notification ("Session expired. Please login again.") is displayed.

It's not always necessary / desirable to be redirected to the login page. When a user was logged in, leaves the site and returns at a later moment, the user is currently -always- redirected to the login page if the access token h

[2017-09-14 15:38] daggerhart commented on #38
@geopal Interesting. Did you implement the patch I had pasted in this thread, or PR #40 ?  I'm pretty sure the patch from this thread was wrong, I was just guessing at what needed to be sent as the id_token_hint.

Their documentation says: http://docs.identityserver.io/en/release/endpoints/endsession.html#refendsession

So hopefully once we are able to send them to correct id_token_hint you will b

[2017-09-14 16:17] daggerhart commented on #41
Good suggestion.  I've created a PR with this change and will merge it in on the next release.

[2017-09-14 16:22] daggerhart commented on #39
HI @geopal,

It seems this is related to the #38 issue, in that the user is not being logged out of the IDP. I'm going to close this issue and we can continue working through the problem on 38.  Apologies if this is a separate issue, please re-open if I've misunderstood.

[2017-09-14 16:22] #39 closed

[2017-09-14 17:24] geopal commented on #38
@daggerhart I implemented the [#40](https://github.com/daggerhart/openid-connect-generic/pull/40) patch. Output seems to be correct according to the [IdentityServer 4 documentation](http://docs.identityserver.io/en/release/endpoints/endsession.html#refendsession). Using [Fiddler,](http://www.telerik.com/fiddler) I have captured and compared the id_token_hint which our plugin creates, with the id_t

[2017-09-17 00:17] cedrox commented on #38
Oups, look like I forget to do a follow up on this. Sorry for that !
I test the changes and it work great for me.
Let me know if you need some implementation details but it was pretty straight forward.
Thanks

[2017-09-17 07:48] geopal commented on #38
I confirm that the patch works fine with identityServer4 (http://docs.identityserver.io/). The client may also send a post_logout_redirect_uri parameter to allow the user to redirect back to the client after sign-out. BE CAREFULL: The value must match (EXACTLY) one of the client’s pre-configured PostLogoutRedirectUris. Be aware of the trailing slashes. I had a problem having https://www.example.co

[2017-09-18 07:43] cedrox commented on #38
Thanks for those inputs !!

[2017-09-18 15:22] daggerhart commented on #38
I've merged #40 into dev branch. Will cleanup some other issues and make a new release soon. Thanks everyone for the help!

[2017-09-21 10:20] cedrox opened #43 "Register Sequence"
Hello,
I try to add register via sso to my site but it seem that it's not working properly.
Let me explain :
1. I click register on my site
2. I am redirected to sso provider page
3. User create his account and receive a mail (parameter sign and data-info are send to the auth server to change the redirect uri)
4. User click in the mail and he is redirected to our site.
5. Website(plugin actually)

[2017-09-21 20:58] mdomsch commented on #43
I have a similar need.  For registration, I expect the sequence to be:
1.  /wp-register.php redirects to
2.  /wp-login?action=register   redirects to
3.  my application's custom registration URL, of the form:

https://idp.example.com/auth/realms/myrealm/protocol/openid-connect/registrations?client_id=myclient&redirect_uri=https%3A%2F%2Fmyapp.example.com%2F&state=ee4fd4a4-1031-4757-bd78-aeb8a9071cb

[2017-09-22 13:28] mdomsch opened #44 "Override WP user registration form"
When using SSO, user registration needs to happen on my IDPs pages, not within WP.  For user registration, I expect the sequence to be:

/wp-register.php redirects to
/wp-login?action=register redirects to
my application's custom registration URL, of the form:
https://idp.example.com/auth/realms/myrealm/protocol/openid-connect/registrations?client_id=myclient&redirect_uri=https%3A%2F%2Fmyapp.examp

[2017-09-22 15:03] cedrox commented on #44
Thanks @mdomsch for clarifying our needs. @daggerhart, do you think this kind of scenario could be implemented ? I am developper (not wp one unfortunatly) but maybe if you can give some inputs about how to implement this cleanly, I could try something...

[2017-09-25 23:37] cedrox commented on #43
Hello;
To get this done, we need that the plugin process the parameters in the url to extract access_token and / or id_token.Then, plugin must have in its local storage things to check that the answer comes from the server proper auth server (for security). This done, it must recover a state in its local storage, and deduce a page to redirect the user.
I think this is an interesting feature as use

[2017-09-26 02:37] #35 closed

[2017-09-29 21:51] mdomsch commented on #44
https://wordpress.stackexchange.com/questions/46848/how-to-modify-the-register-link-in-the-login-page
under "not multisight, eh?"

[2017-10-06 15:35] daggerhart commented on #44
@cedrox I think we can implement a redirect like @mdomsch linked to relatively easily.  I'll work something up soon.

[2017-10-13 09:57] cedrox commented on #44
Hello and thanks for your reply.
I already try to update plugin but I am not sure that this is the standard method... This work for us as my idp can adapt a bit the redirect process...
We add parameter auth-info where we add a small json like this : {"RootUrl":"rurl"}
![image](https://user-images.githubusercontent.com/10764310/31540873-2423ed9c-b00d-11e7-8434-e0f9e8f8b567.png)

but I am not sure t

[2017-10-13 10:04] cedrox commented on #44
Anyway, maybe it can be nice to have this auth-info parameter expose in the back office ?

[2017-11-13 16:09] #38 closed

[2017-11-13 16:11] cedrox opened #45 "Nonce parameter"
Hello,
Nonce parameter is not generate by the plugin. Is there any option to activate it ?
http://openid.net/specs/openid-connect-core-1_0.html#NonceNotes

Thanks

[2017-11-13 16:13] cedrox commented on #43
Merge into Thread https://github.com/daggerhart/openid-connect-generic/issues/44

[2017-11-13 16:13] #43 closed

[2017-11-21 19:05] svenvanhal opened #46 "AJAX authorize endpoint does not redirect after succesful login"
As of WordPress 4.9 (I'm not sure what caused the issue exactly), `admin-ajax.php?action=openid-connect-authorize` halts on an empty page displaying just `0` after successfully logging in.

[2017-11-21 19:18] #46 closed

[2017-11-23 19:27] wgmv opened #48 "Usage with League OAuth2 server?"
I'm trying to use your plugin with laravel passport - which is built on top of the League OAuth2 server.
After logging in to my app (the redirect works) I don't see the expected "authorize" window but another login window which looks like a simple .htaccess login window.

I'm just checking out your plugin / looking for a generic oauth2 client

I was wondering if this should work or not and if you

[2017-11-23 21:39] wgmv commented on #48
sorry this was my fault - I put the wrong client_id into the config.
However now I get "Invalid token response". I'm taking a look at the source code:

`if ( ! isset( $token_response['id_token'] ) || ! isset( $token_response['access_token'] ) ||
		     ! isset( $token_response['token_type'] ) || strcasecmp( $token_response['token_type'], 'Bearer' )
		) {
			return new WP_Error( 'invalid-token-resp

[2017-11-30 16:55] daggerhart commented on #48
Hi @wgmv,

Sorry for the delay, I broke my local dev setup earlier in the week and then had a series of long meetings.

I'm not exactly sure what the issue is here. I'll dig into this over the weekend and see what I can find.

[2017-11-30 21:46] wgmv commented on #48
Hi thanks for your reply! I actually switched to another oauth client plugin now. So please don't spend too much time on this problem ;) I liked your plugin though!

[2017-12-01 15:19] daggerhart commented on #48
@wgmv No worries, I'll still dig into this issue. At some point I'd like to start using the league's oauth client within this plugin, so the more experience I get with it the better.

Out of curiosity, which plugin did you end up using? I made this plugin because I couldn't find another I liked, so it'd be great to know what else is out there.

Thanks!

[2017-12-01 18:00] wgmv commented on #48
I ended up using miniOrange oauth https://www.miniorange.com/wordpress-oauth-login-solution

[2017-12-14 23:51] pjeby opened #49 "link_existing_users flag causes orphans sessions if a concurrent session logs out"
Currently, the `openid-connect-generic-user` meta flag is set to false when a user logs out (if `link_existing_users` is set), but this doesn't work correctly if a user has more than one login session, because then the other sessions will stop refreshing tokens and act like ordinary Wordpress sessions.  (And thus will remain live with current permissions even if those permissions have been revoked

[2017-12-15 00:08] pjeby commented on #45
The nonce parameter is optional for the Authorization Code flow, which is what this plugin uses.  See:

http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

In this flow, the role of the nonce is effectively handled by the `state` parameter.  States are randomly generated, valid for no more than 3 minutes, and invalidated upon first use -- thereby preventing replay attempts.

[2017-12-16 18:51] pjeby opened #50 "wp_logout before wp_loaded causes problems w/other plugins (e.g. woocommerce)"
Currently, the plugin can fire a `wp_logout()` before all plugins have fully loaded.  This can create problems when there are logout hooks which make use of plugins that are not yet loaded; for example, the Woocommerce Follow-Up Emails plugin tries to access the Woocommerce cart on logout, but the main plugin complains that the cart can't be accessed yet.

Changing the direct call of `ensure_token

[2017-12-16 20:08] pjeby opened #51 "Attempting to refresh expired refresh_token"
Currently, the plugin doesn't check the expiration time of the refresh token, leaving that to the IdP.  This results in an error message *always* being displayed when the refresh token has timed out, even if you don't have the login redirect flag set.  (Also, the error message comes from the IdP, and thus can't be themed or translated within Wordpress.)

The plugin should keep track of the `refres

[2017-12-21 12:10] ThomasWilhelmUR commented on #30
Hey guys, sorry to open this up again but I think you may be able to help me.
I am also trying to connect it to a Keycloak IDP but get this error: "cURL error 7: Failed to connect to localhost port 8089: Connection refused"

Since it works for you, Alexandre, can you show me your keycloak and plugin setup?

Thanks, Thomas

[2017-12-21 12:52] daggerhart commented on #30
Hi Thomas,

One thing to make sure of is that you're using HTTPS for the WordPress site. If you don't have HTTPS setup, then you'll need to check the plugin setting:  'Disable SSL Verify'.

Another thought, I assume keycloak is installed on your local machine and knows about 'localhost'. Is that correct?

Jonathan

[2017-12-21 13:57] ThomasWilhelmUR opened #53 "Using with Keycloak: Config problems (missing documentation)"
This is probably not a bug but a config issue:

I am trying to use Keycloak 3.4.1.Final as the IdP. In order to try it out I fired up a fresh wordpress install in docker and added a realm + client to the Keycloak installation. I used different ressources that I could find on this plugin to configure the client.

Here is a part of the config for the Keycloak realm:
[code]

Some data for the Keycloa

[2017-12-21 14:11] ThomasWilhelmUR commented on #30
Thanks for your reply, meanwhile i provided some more info here:
https://github.com/daggerhart/openid-connect-generic/issues/53

SSL verification is disabled since I'm on localhost (in docker).

Redirects work fine and I also checked the JWTs which look fine (for the auth request).

[2017-12-21 15:05] daggerhart commented on #53
Thanks for all that useful info. I have never used keycloak before, but was able to set it up and get it working in about 30 mins just by following your issue description.

Since I was able to get it working, I'm not exactly sure what the problem is. Perhaps docker related?

Some other ideas:

* Your keycloak Root URL has a period instead of a colon after http: `http.//localhost:8080/` -- not sure

[2017-12-21 15:29] ThomasWilhelmUR commented on #53
Thanks for the quick reply and your effort.

Root URL was a typo, sorry.
I played around with lots of settings between Keycloak and the plugin to no avail. What I am not sure about is what to enter in the scope field - and how to set up Keycloak accordingly.

I went back and checked the docker setup to make sure the two systems can reach each other. The containers are now using the same docker net

[2017-12-21 15:48] daggerhart commented on #53
Scope settings:

* Keycloak: default, I didn't change anything
* Plugin: `email profile openid offline_access`

Here is my keycloak export (zip because github doesn't allow json) [my-wordpress-client-id.json.zip](https://github.com/daggerhart/openid-connect-generic/files/1579690/my-wordpress-client-id.json.zip)

Also here are my plugin settings:

[code]

If this doesn't highlight anything wrong in

[2017-12-21 16:03] ThomasWilhelmUR commented on #53
Thanks again, I did not find anything differences in the configs that a) I
didn’t try before or b) are different.

Here is the docker-compose.yml for you to try. I would really appreciate it.
Pretty sure now something docker-y is going on.

(Beware of very bad passwords… )

// BEGIN docker-compose.yml

version: '3.1'

volumes:

  postgres-data:

    driver: local

  keycloak-data:

    driver: loc

[2017-12-21 16:26] daggerhart commented on #53
I'm just spit-balling here, but it looks like your WP container is mapping its port `:8080` to the host's port `:80`.  And then you're mapping keycloak's container port `:8089` to the host's port `:8080`.

Your error is `Failed to connect to localhost port 8089:`, so maybe the issue is with the URLs you are providing the WordPress plugin.

Can you try changing the plugin settings to look for `loca

[2017-12-21 16:31] ThomasWilhelmUR commented on #53
It's the other way round: internal 80 is mapped to the hosts (localhost) port 8080. I can reach Keycloak and Wordpress just fine using 8089 and 8080 respectively.

It seems like the wordpress plugin cannot reach Keycloak. It's not the client config, keys or anything within the plugin it seems. Will work on the docker part / try it using a different setup. Will get back to you, thanks for all the h

[2017-12-21 19:31] pjeby commented on #53
Each docker container has its own IP address that `localhost` points to.  So the Wordpress container is trying to contact *itself* on port 8089, so that doesn't work.

In order to do OpenID Connect, both the browser *and* the application (Wordpress) need to be able to connect to the identity provider (Keycloak) via the same URL.

In this case, you need a *non*-localhost hostname, and that should w

[2017-12-21 20:30] pjeby opened #54 "Sending the wrong id_token_hint at logout"
As with #49, this is a problem where the plugin assumes only one session is active at a time.  It sends the `id_token` from the *most recent login*, rather than the login relevant to the current session.  Depending on the IdP, this may or may not log out the correct session.

In the case of Keycloak, this results in a "We're sorry...  An internal server error has occurred" when you:

* log in via

[2017-12-21 21:30] #49 closed

[2017-12-21 21:30] #51 closed

[2017-12-22 00:36] pjeby opened #56 "Feature proposal: setting and/or filter to limit refresh token lifetime"
I'd like to be able to be able to set a long timeout for refresh tokens on my Keycloak instance, but have some of my sites use a shorter idle timeout (notably, ones that control more sensitive data).

Since we now track a `refresh_expires` value, there could be a setting and/or filter to put a cap on the validity duration, and the session would be timed out automatically.

I'd be happy to write a

[2017-12-22 00:37] pjeby commented on #50
Fixed by #52.

[2017-12-22 00:37] #50 closed

[2017-12-22 01:25] pjeby commented on #36
Now that PR #52 has landed, this should no longer be an issue.  Absence of a refresh token will simply result in a login session that expires when the corresponding access token does.

[2017-12-22 06:34] pjeby commented on #36
After doing some more research, it seems that there is actually another way to revalidate besides a refresh token; one can simply run the authentication flow again.  The [keycloak-proxy OIDC client](https://github.com/gambol99/keycloak-proxy/) does this if you don't enable a backend store or cookie store for refresh tokens: it sets the access token as a cookie, and simply redirects to the IdP when

[2017-12-22 09:06] ThomasWilhelmUR commented on #53
Oh well, your right. Thanks!

I got the both to talk to each other.
Going to make a working docker-compose now.

[2017-12-22 10:13] pjeby opened #57 "Encode Redirect URL in State to Prevent Issues with Missing Cookies"
If an error occurs during the login process (e.g. too long to login, missing state, etc.), `handle_redirect_cookie()` resets the redirect cookie while on the login page that displays the error message.  It should not change the URL if the cookie is set and there is no `redirect_to` in the URL.

On a related note, why does the redirect cookie have an expiration time instead of being a session cooki

[2017-12-22 17:57] pjeby opened #58 "Session refresh should happen in determine_current_user"
The current strategy for refreshing tokens and expiring the current session is to run at `init` or `wp_loaded`, but after observing the many corner cases for logout and token timeouts (I haven't posted them all as issues yet, believe it or not!), I think that the root of the problems with logout scenarios is that the user is first logged *in*, and then logged back *out*.

However, Wordpress has a

[2017-12-22 18:42] pjeby commented on #58
On further reflection, I've noticed that there's a pattern to the kind of issues I'm finding with the plugin: nearly all the things I'm reporting as bugs or requesting as features have to do with *front end* users for things like Woocommerce, LearnDash, etc.  But ISTM that this plugin was actually written with *back end* users in mind, who are probably used to seeing Wordpress's interstitial error

[2017-12-22 23:24] daggerhart commented on #58
Regarding the 2nd issue about direction:

I think you should become a co-maintainer.

I'm also not a full-time WP dev. Used to be, but now I do much more Drupal. I created this plugin because I needed it for a project, but then that project changed direction. I continue to maintain the plugin because it's fun to do and people use it, but I actually don't have a use-case atm.

I have multiple local

[2017-12-23 00:41] pjeby commented on #58
So, maintainer sounds fine, except that I'm not sure how long I can commit to support -- especially since I'm worried that I might end up needing to replace the *other* 2400 lines of the plugin besides the ones I already deleted.  :wink:

Like you, my interest is for one specific project.  I'm finding the further I go along on that project, that the session management design of this plugin simply

[2017-12-24 20:34] daggerhart commented on #58
I'm about to be away for the holidays so just wanted to reply real quick with some thoughts.

Everything you mentioned wanted the system to do makes sense to me, but I don't think the refactoring task is quite as big of a problem as "rewrite the entire plugin". Most of the work that needs to be done (as I see it) is in the client wrapper class, which needs a refactor anyways as it has become a bit

[2017-12-25 20:02] daggerhart opened #60 "4.x Branch Planning"
Some notes for next major version of the plugin.

* leave you logged in without much fuss most of the time, but force you to have authenticated within some time window to do higher-privilege operations
* could have sessions that don't bother with the refresh tokens or possibly even access tokens
* support backchannel logout and revocation
* API for controlling the flow

* backward compatibility
*

[2017-12-27 04:10] pjeby commented on #60
One thing I'd like to suggest is reifying things that should be objects, and turning the singleton objects into either statics or true singletons.  Right now, the main objects in the program only ever have one instance, but that instance isn't accessible except from code that's been passed the object.

In contrast, most of the problem domain objects (sessions, tokens, flows, claims) are just passe

[2017-12-29 00:48] daggerhart commented on #60
This all makes perfect sense to me. I'll work on a very simple draft over the next few days. Lots of blank spaces and code comments, we can the structure more before diving in.

Question: I've been willing to bump the plugin requirements to 5.6 for a while now in order to use an existing client solution. Ex, [phpleague's client](https://github.com/thephpleague/oauth2-client) What do you think abou

[2018-01-03 00:24] pjeby commented on #60
FYI, I've checked in a copy of my draft [here](https://github.com/pjeby/oidc-sso).  It's a working proof of concept, as in it logs people in and out, manages their sessions/refresh/expiration, does OIDC `state` properly (no expiring transients), and has an API (not documented).  It allows more sophisticated user data mapping strings, and changes WP's login/logout URLs to pass through the plugin in

[2018-01-06 03:00] pjeby commented on #60
Just an update: my draft now has its own option and settings page, working independently of this plugin.  I need to do some more work on error handling before I can call it done, but it should now serve as an example of where the plugin could go.  I ended up switching back to using wp-login.php, but using the `login_init` hook to disable the regular functionality and to also use wp-login.php as th

[2018-01-09 15:40] daggerhart commented on #60
Thanks for the update. I've been watching your repo to see how it progresses. Unfortunately I got sick last week and everything is falling behind. I hope to work on this over the weekend at the latest. Sorry for the delay on being involved.

[2018-01-09 17:47] pjeby commented on #60
No problem, it's pretty much done now for my purposes at least.  The error handling is purely filter-based at this point, but I only just finished the last place where errors can be issued from (IdP-redirected error codes).  But everything else is done now, I think.

[2018-01-11 03:44] lliming opened #61 "WordPress Plugin Directory?"
This is more a question than an "issue," though it's an issue for me.  I'm wondering whether we can get this plugin added to the WordPress Plugin Directory (https://wordpress.org/plugins/developers/).  This would allow novice WordPress users to use this plugin without going to GitHub, cloning the repo, and uploading to their server.

The reason this is an issue for me is that I want to recommend t

[2018-01-11 19:38] daggerhart commented on #61
Hi @lliming,

Great question!

The main reason I didn't originally put this in the WP repo was that I am not an OpenID nor OAuth2 expert, I just needed this functionality and wasn't happy with existing solutions. Not being confident in my ability to support the OAuth2 specs is a big deal to me because this is fundamentally a security related plugin.

Since releasing it there have a lot of great pe

[2018-01-11 19:41] daggerhart opened #62 "Hook refreshing into determine_current_user instead of allowing the user to be logged in and then logged out"
Taken from [this comment](https://github.com/daggerhart/openid-connect-generic/issues/60#issuecomment-354911339)

[2018-01-11 19:42] daggerhart opened #63 "Handle `wp_remote_post()` timeouts without affecting other plugins"
Taken from [this comment](https://github.com/daggerhart/openid-connect-generic/issues/60#issuecomment-354911339)

[2018-01-11 19:43] daggerhart opened #64 "Improve autoloader with a prefix check"
Taken from [this comment](https://github.com/daggerhart/openid-connect-generic/issues/60#issuecomment-354911339)

[2018-01-11 19:49] daggerhart commented on #62
there is a better issue for this. I sidetracked it. #58

[2018-01-11 19:49] #62 closed

[2018-01-12 17:16] daggerhart commented on #63
Merged #66 which addresses this issue by removing the generic wp filter and leveraging the internal plugin's filter for adjusting the request timeout.

[2018-01-12 17:16] #63 closed

[2018-01-13 14:47] daggerhart commented on #36
Going to close this as it should be resolved per #52.  If we decide to allow for re-authentication flow in the future that can be another issue.  Thanks!

[2018-01-13 14:47] #36 closed

[2018-01-13 14:53] #48 closed

[2018-01-13 14:57] daggerhart commented on #45
Closing this for now. @cedrox if you want to re-open with additional thoughts/needs around nonce-ing, please do so. Thanks!

[2018-01-13 14:57] #45 closed

[2018-01-13 14:58] #41 closed

[2018-01-14 04:56] lionello commented on #36
Thanks!

[2018-01-22 16:08] kkplein opened #67 "logout url"
Hi,

We have openid-connect-generic running in combination with keycloak. Works very nicely, thank you very much!

One issue though: Logging out doesn't work properly:
After installing your plugin, the wordpress logout url has been changed into https://www.oursite.com/wp-login.php?loggedout=true

However, we had disabled wordpress default links, such as /wp-admin and /wp-login url (using the WP Ce

[2018-01-22 16:30] lliming commented on #67
The settings panel provides a place to configure an "End session endpoint URL." I set mine to the logout URL provided by my OIDC identity provider and it works very well. (My OIDC IDP allows parameters to be included in the link that direct back to my site from the logout page, which is also a nice feature.)

If I understand correctly, not all IDPs provide a logout URL. I'd be surprised, however,

[2018-01-22 16:34] lliming commented on #67
This might help?  http://www.keycloak.org/docs/3.2/securing_apps/topics/oidc/java/logout.html

I haven't used KeyCloak myself, so I'm not sure how you'd obtain the parameters to the logout URL they suggest, but maybe you do.

[2018-01-22 16:54] daggerhart commented on #67
I'm looking into it and think I might have the issue roughly identified.

In the plugin settings on my keycloak-testing site I have my *End Session Endpoint URL* set to `http://localhost:8080/auth/realms/master/protocol/openid-connect/logout`. This will get you logged out of keycloak when the user attempts to logout, but appended to that logout url is some hardcoded WP expectations. I think those

[2018-01-22 17:05] kkplein commented on #67
Daggerhart: what you are saying sounds like our issue, yes.

Reading this (http://lists.jboss.org/pipermail/keycloak-user/2016-April/005675.html) I thought I could add a url to the logout endpoint, like: https://keycloak.oursite.com/auth/realms/ourrealm/protocol/openid-connect/logout?redirect_uri=https://www.ourexternalsite.com
But this does nothing.
I am no programmer, but willing to help/test in

[2018-01-22 17:12] kkplein commented on #67
Noticed also in the keycloak event log, that the logout event is logged with a redirect uri like this:
"redirect_uri | https://www.oursite.com/wp-login.php?loggedout=true"
Which is NOT what I typed into the wordpress openid-connect-generic config. So, somewhere, something adds this redirect uri.

[2018-01-22 20:04] daggerhart commented on #61
Alright, the plugin has been accepted and I have svn access. I'll upload it and review a little more in the next day or so.

One thing I'm not sure about, they made me change the plugin slug to `daggerhart-openid-connect-generic` because I do not legally represent openid... ¯\\\_(ツ)_/¯  Hopefully that doesn't mean that the plugin directory will be `daggerhart-openid-connect-generic` when it's down

[2018-01-25 06:00] pjeby commented on #60
FYI, the [new plugin](https://github.com/pjeby/oidc-sso) now supports silent login and recent login checks.

Specifically:

* There's an option you can set that will redirect logged-out users through the IdP every so many minutes, to automatically log them in if they've already logged into another site via the same idP.  (To avoid unnecessary redirects, it only happens if some user has previously

[2018-02-23 05:55] pjeby commented on #67
The issue is that WP Cerber is *not* filtering `logout_redirect`, so the default WP redirect URL is used.  You can fix this by either making your logout links use an explicit redirect location, or by getting the WP Cerber folks to fix their plugin so that `wp-login.php?loggedout=true` is replaced with the correct page.

The specific issue here is that Cerber filters `wp_redirect` so that any redir

[2018-02-25 15:32] daggerhart commented on #61
This is now in the repo. Sorry for the delay.

Note: The folder name for the plugin downloaded through the repo is different because of the plugin-slug issue mentioned above. Just be sure to not have 2 versions of this plugin on your site at once, or things will probably break.

https://wordpress.org/plugins/daggerhart-openid-connect-generic/

[2018-02-25 15:32] #61 closed

[2018-03-07 15:55] terenc3 commented on #48
I like to contribute my two cents here. I had the some problem with keycloak but adding openid to the scope solved it.

Found via http://lists.jboss.org/pipermail/keycloak-user/2018-February/013181.html

[2018-03-13 04:51] anttileppa opened #68 "Option for changing state time limit"
It would sometimes be useful to change the value for state time limit from 3min to something else. For example when IdP requires user to fill some details on first login or when it requires user to read a license agreement, etc.

[2018-03-13 22:39] #68 closed

[2018-03-18 10:13] fredziak opened #70 "Auto login SSO does not work ?"
Hi,

I don't know if it is a bug report, a feature request or if I don't understand how to use it but it seems to me that the "auto login SSO" mode is not working, at least not as I expected it to work.

I installed and configured the wordpress plugin in order to communicate with a Keycloak OpenID provider.
I chose the "auto login SSO" because the provider is already used by other applications but

[2018-03-23 02:19] drzraf opened #71 "sample configurations"
It's supposed that Google is a supported openid provider.
It already provides a metadata URL which should ease configuration:
 https://accounts.google.com/.well-known/openid-configuration
Anyway the **"End Session Endpoint URL" is not clear**. Is it actually what Google calls a "revocation_endpoint"?

Samples of configuration for common providers would be welcome or, better, make use of the metada

[2018-03-23 15:26] drzraf opened #72 "ability to derivate new claims from existing ones"
Here are `user_claims` fetched from GSuite:
[code]

I would like my user nick to be "me" (= localpart of the email).
For this I would normally, in a hook, create a new clair derived from "email" that I'd would use as a "Identity Key" instead of "sub" or "preferred_name".
But the `openid-connect-generic-user-login-test` does not permit `user_claim` modification.
Could this hook be adapted, or a new

[2018-03-24 12:47] ullakalaim8 opened #74 "Getting ERROR: Missing state.ERROR: Invalid user claim"
I have Trying to integrate Key cloak into word press but i'm getting Invalid user Claim here is my Configuration of Key cloak
![fireshot capture 6 - keycloak admin console_ - http___auth 4devlab net_8080_auth_a - copy](https://user-images.githubusercontent.com/22903480/37864074-77d31d26-2f8f-11e8-840d-bd650f9a2c40.png)

I'm unable to Fix this issue

[2018-03-24 13:34] daggerhart commented on #72
I think it's very reasonable to add a new filter for the array passed into `wp_insert_user()`?

We could change this:
[code]

into something like this:
[code]

here: https://github.com/daggerhart/openid-connect-generic/blob/dev/includes/openid-connect-generic-client-wrapper.php#L703

What do you think?

[2018-03-24 13:58] daggerhart commented on #71
Making use of the metadata URLs sounds awesome. I definitely want to look into that.

In this case, yes the End Session Endpoint URL is meant to be that URL where the access token is revoked. But, it is very simple and expects the url will automatically handle the revocation upon being visited (GET request).

I've not tested this with Google, do they expect a POST request or something more than si

[2018-03-24 14:25] daggerhart commented on #70
Hi Frédéric,

I'm not super familiar with keycloak so you might have to help me out here. When you enable SSO in keycloak does it give you a field where you can list URLs that are part of the SSO group? If so, then I think we can handle this without much work.

I've been searching online for an example of using keycloak setup to manage SSO for its identity providers but haven't found anything. If

[2018-03-24 14:29] daggerhart commented on #74
Some more information about the error from the plugin perspective would be useful. Can you:

1. On the plugin settings page near the bottom - "Enable Logging"
2. Try to login again
3. On the plugin settings page near the bottom - Find the errors from the failed login attempt and paste them back here in this issue?

Those logs can be really helpful when getting setup for the first time.

Also, what

[2018-03-24 14:52] fredziak commented on #70
Hi,

Thanks a lot for your reply.

The faster way to run keycloak is probably to use the docker image (with embedded database) : https://hub.docker.com/r/jboss/keycloak/
Allowed URLs can be defined in admin console at the "client" level : http://www.keycloak.org/docs/latest/server_admin/index.html#_clients

I have allowed the URL corresponding to my wordpress site in the "Valid Redirect URIs" and

[2018-03-24 15:28] daggerhart commented on #70
Thanks, that's very helpful!

I think the issue boils down to needing something like: "When a user logs into keycloak, keycloak should immediately send them through the authentication process for various service providers".

This would allow them to be automatically authenticated with WordPress, while users that have not logged into keycloak can still visit the site as normal. I believe this is th

[2018-03-24 15:59] fredziak commented on #70
Well... I am not a SSO specialist either, but I think it is not the responsibility of the identity provider to notify the applications of login but rather the contrary: every application needs to ask keycloak of the login state. Imagine a quite extreme case where there are 10 or 20 applications, it would be useless to open a session on all of them if the user access only 2 or 3... And if you multi

[2018-03-24 17:33] drzraf commented on #72
1) that would happen only for creating a new user. Should a similar hook
affect user login?
2) the original $user_claim should be passed to the filter since it
contains additional information.

On 24 March 2018 at 10:34, Jonathan Daggerhart <notifications@github.com>
wrote:

[2018-03-24 20:14] daggerhart commented on #70
I think you're right. I'll look into some approaches to implement this and ask around.

[2018-03-25 08:44] fredziak commented on #70
OK. Thanks. Perhaps it is not the only way to cope with OpenID SSO but I see applications that follow this case, i.e. implicit login when a session is already open in the provider, and it makes sense when you use one. I think the main question as far as the implementation is concerned is how the login state can be efficiently checked.

[2018-03-26 04:51] ullakalaim8 commented on #74
Here is the Screen Shots of
![fireshot capture 11 - openid connect - generi_ - http___localhost_wpdad_wp-admin_options-general php](https://user-images.githubusercontent.com/22903480/37887418-3de53b34-30df-11e8-942b-3ffaa8af18d9.png)
![fireshot capture 10 - openid connect - generi_ - http___localhost_wpdad_wp-admin_options-general php](https://user-images.githubusercontent.com/22903480/37887419-43

[2018-03-28 15:46] turbo2ltr opened #75 "Validating the access token JWT"
It does not appear that this client validates the signature on the JWT passed back from the token server.  All it does is make sure the resource request response data matches the unencoded data in the JWT.

https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-7.2

Will this feature be added?

Thanks.

[2018-04-14 18:44] drzraf commented on #72
Do you think a PR is needed (with a filter including `$user_claim`)?

[2018-04-17 15:56] hesscj opened #76 "Login URL has a ? in it..."
Our Login Endpoint URL has a ? in it so that it breaks the plugin:
https://example.com/authorize.php?request=authorize

When the authentication link is then built it becomes:
https://example/authorize.php?request=authorize?response_type=code&scope=....

Becuase there are two question marks it doesn't work.

I don't consider myself a strong programmer but my suggestion is to change the make_authent

[2018-04-19 17:09] samueldjack opened #77 "Any way of forcing the standard WP login screen when Auto Login is enabled?"
I'm planning to enable the Auto Login option so that all Logins to our WP site go through OpenId Connect.

But just suppose that something goes wrong with the OpenId Connection server. Is there then a way of forcing the standard WP login screen to be shown so that I can log in the normal way?

I'm assuming that if I couldn't login via Open Id connect I wouldn't then be able to get to the admin das

[2018-05-02 18:39] chimmy opened #78 "Additional User Information into User Account?"
I'd like to add company name to the user when logging in. Is that possible?

[2018-05-03 14:16] daveboulden opened #79 "Is this plugin compatible with a multi-site setup?"
We have employed this plugin on two sites, one being a single site, the other a multisite setup with two sites in the network. The single site works correctly.

The multisite allows us to log in just fine, but logging out is not working. Checking the network traffic in the browser developer tools, it seems the multi-site logout process doesn't redirect to the authorisation server, so the user is o

[2018-05-04 01:30] daveboulden commented on #79
This can be closed. It turns out another plugin had hooked a function to the action "wp_logout" and was failing, halting the WPO logout process after logging out before performing redirection and so preventing the redirection on logout to the end-session endpoint of the auth server.

[2018-05-10 13:47] daveboulden commented on #77
As a last resort, if you can access the database, then find the entry in wp_options for the plugin and change:

s:10:\"login_type\";s:4:\"auto\";

to

s:10:\"login_type\";s:6:\"button\";

to switch back to standard WP login with an OpenID login button.

[2018-05-10 15:10] daveboulden commented on #79
I am re-opening this issue as there is still something related to this that is particular to multi-site installs. I am using the hooks:

[code]

to initiate, upon login, the storing of claims data against a plugin (WishList Member) that is specific to the user on that site rather than just the user globally in the network sense. I adapted the suggested code from the 2nd last comment here: https://

[2018-05-10 15:12] daveboulden commented on #79
I am re-opening this issue as there is still something related to this that is particular to multi-site installs. I am using the hooks:

[code]

to initiate, upon login, the storing of claims data against a plugin (WishList Member) that is specific to the user on that site rather than just the user globally in the network sense. I adapted the suggested code from the 2nd last comment here: https://

[2018-05-11 08:49] samueldjack commented on #77
That's the same conclusion I came to!

Many thanks!

[2018-05-11 08:49] #77 closed

[2018-05-11 16:10] daggerhart commented on #79
Hi Dave,

Disclaimer: Multisite is not an area of expertise 😅, so this reply is going to be a scatter of information. Hopefully some of it helps.

Looking at `wp-includes/ms-functions.php`, I think I see some hooks that may be useful.

* Action: `add_user_to_blog`
    https://core.trac.wordpress.org/browser/trunk/src/wp-includes/ms-functions.php#L200
    It seems like this is useful, but this woul

[2018-05-11 17:54] daggerhart commented on #79
Thanks, I think that helps.

Maybe this is a dumb question, but could you check the user's WLM access each time they login (including the first time) and update their accounts using the WLM api as appropriate?

Something like:
[code]

Obviously there is a lot of made-up code there, I have no idea how WLM works, but the general idea is to check the user's WLM related access to all the sites each ti

[2018-05-12 10:29] daveboulden commented on #79
Thanks Jonathan. Unfortunately, I don't believe the WLM API allows cross-site access through its API. At least I now know I will have to find a workaround to set both blog's WLM profile upon first log-in, probably direct to the database.

I will post details of whatever solution I end up with.

Many thanks for taking a look at this!

[2018-05-24 12:39] drzraf opened #81 "Google provider: "Missing required parameter: token" on disconnect"
[code]

This is the json (instead of a HTTP redirect) that I got at:
`https://accounts.google.com/o/oauth2/revoke?id_token_hint=XXXXXX&post_logout_redirect_uri=http%3A%2F%2Fmy-domain%2Fwp-login.php%3Floggedout%3Dtrue`
after I clicked the **disconnect** link.
(But I observe that I've been actually disconnected when I get back on the website)

### Settings
[code]

### last token response (keys)
[cod

[2018-05-24 13:54] drzraf commented on #71
For the record:
https://gitlab.com/.well-known/openid-configuration
https://auth0.auth0.com/.well-known/openid-configuration
https://accounts.google.com/.well-known/openid-configuration
https://login.yahoo.com/.well-known/openid-configuration
https://connect-op.herokuapp.com/.well-known/openid-configuration
https://login.salesforce.com/.well-known/openid-configuration
https://login.windows.net/com

[2018-05-28 13:31] drzraf opened #85 "not sync'ed with WordPress trunk"
https://plugins.trac.wordpress.org/browser/daggerhart-openid-connect-generic/#trunk
https://wpackagist.org/search?q=openid-connect-generic&type=any&search=
Is it expected to be done automatically?

Could it be an option to add a `composer.json` and offer via packagist?

[2018-05-29 20:40] sun commented on #85
@daggerhart That sounds super awesome.

Just discovered by accident that there is some traction on GitHub.  I read your (Drupal-related) blog post from years ago and that was sufficient reason for me to base my current work on top of your plugin.  Some PRs are in the pipeline! :-)

Aside from watching GitHub instead of WP.org, is there anything else we should consider? (might be worth a Wiki page

[2018-05-30 02:01] daggerhart commented on #85
@sun that's great to hear! PRs always welcome

@drzraf I've made the required changes and put this on packagist - https://packagist.org/packages/daggerhart/openid-connect-generic-wordpress

I haven't pushed to the WP dot org yet. My local setup appears to be broken and I wasn't able to successfully test 3.4.0. I'll try to fix it tomorrow, test, and push to the repo.

[2018-05-31 13:27] drzraf opened #87 "handle session expiration (and corresponding admin popup)"
We usually can not set the session validity (which depends upon the ID provider). Eg: 1h for Google.
When editing, we end up with a popup: "Your session has expired. Please log in to continue where you left off".
In the current system, a click on "OpenID" would open a new window/tab and the user loose the content it's currently working on.
There may be a way to manage this situation and refresh (p

[2018-05-31 13:30] drzraf commented on #60
- [ ] [Autoconfiguration](https://github.com/daggerhart/openid-connect-generic/issues/71)
- [ ] [Session refresh / reconnexion](https://github.com/daggerhart/openid-connect-generic/issues/87)

[2018-05-31 13:43] drzraf opened #88 "consider using a dedicated library"
OpenID provides an implementation here: https://github.com/openid/php-openid
(for both server and client). It's Apache-licensed, tested and maintained.
It may be worth considering whether client code advantageously replace the OpenID-aspects of current one (session refresh, endpoint autodetection, ...)

[2018-06-07 12:33] cedrox opened #89 "Get mail from access_token"
Hello,
All information used to create user are provided by $user_claim
$_email = $this->get_email_from_claim( $user_claim, true );
For security reason, my idp don't have email into claims.
Question : Do you think it is possible/valid to get some information from access token if this is not provided by claims ? I think mainly about email.

Like if email is not in claims, get it from access token...

[2018-06-11 08:53] cedrox commented on #89
Hello,
Pointed function is actually something build to re request UserInfo endpoint.
It would be helpful to get piece of code to get basic information provided in access_token (email...)
Thanks

[2018-06-11 16:01] cedrox commented on #89
Hello, here's my changes to get datas from id_token.
Please let me know if it can be added to master.
Thanks
[openid-connect-generic-client-wrapper.zip](https://github.com/daggerhart/openid-connect-generic/files/2090774/openid-connect-generic-client-wrapper.zip)

[2018-07-03 15:22] SilvanaBanana opened #90 "Error: Missing state"
Hello,

I have problems using the plugin in my Production Environment. (On dev the login/logout worked fine...)

I get the error "Missing state", with the following error details:

![image](https://user-images.githubusercontent.com/36152088/42229069-da4a0190-7ee5-11e8-9c9d-4a5c11b984dc.png)

For me, it seems like state has a value and the parameter is there...anyone can help me out here or hint me

[2018-07-04 10:53] SilvanaBanana commented on #90
Seems like the bug is "fixed" when enabling the plugin setting "return to page where login button was on successfull login"--> seems too be a problem with redirection.

Also, disabling a caching plugin was neccessary to properly logout.

[2018-07-14 06:40] uira commented on #79
@daveboulden please just say that you have a PR for us... ;)

[2018-07-14 17:36] uira commented on #79
But did you have success to use the plugin in a MultiSite installation, right?

Can you share the diff nedeed for set this working?

[2018-07-15 16:13] daveboulden commented on #79
There are no changes needed, the plugin works on a multisite install for the task it is intended to perform. The issue was that certain hooks were only fired on the first login attempt to the network, irrespective of which blog was hit first. Other than that, which is not actually any kind of error or failing, the plugin works just fine for multi-site installs.

[2018-07-16 13:50] daggerhart commented on #79
Thanks @daveboulden for the update and verification that this works with multisite.

I develope against a multisite install, so I'm pretty comforable closing this issue with an answer of "Yes, works with multisite".

[2018-07-16 13:50] #79 closed

[2018-07-17 23:28] sanojsniksah opened #91 "incomplete-user-claim"
hello daggerhart,
i'm using version 3.3.1 of your openID connect generic client and am having a weird issue.

I have 2 WP sites all on ecs / rds

Site A (nonprod) was setup first from scratch / fresh db(mysql)/ freshly installed plugins and everything works perfectly. SSO & plugin work as expected.

Site B ( qa site ) is a dup/copy of site A.

My setup for site B  was:
build & deploy docker image

[2018-07-18 13:33] joaocg opened #92 "ERROR: Invalid token response"
Sorry for my ignorance!
I'm getting the error message below:

ERROR: Invalid token response

Is there any specific settings I need to make in the plugin?
Or what do I have to do on openid?

[2018-07-24 11:09] Anasxrt opened #93 "Auto Login - SSO on Woocommerce login page"
Hi,

I have install woocommerce plugin and the woocommerce got difference login url at "/my-account"
How could I get the page "/my-account" get Auto login SSO same as "/wp-admin"

Thanks for the great plugin.
Montri

[2018-08-03 14:03] gnegreiros opened #94 "How to map roles?"
Hi,
I have these roles in my system they get to connect to WordPress but always as a subscriber
How can I map these roles between OpenID and Wordpress?

[code]

Thank you,

[2018-08-10 18:46] tolstenko commented on #92
I am facing this same problem. Did you solve it?

[2018-08-14 13:48] mcburge opened #95 "Setting logged in cookie/session"
Hi,

Apologies if this isn't the correct place to put this. However, we're having a bit of an issue getting the plugin to work correctly.

We've gotten everything to the point where the user gets signed in to the WordPress website, however they are logged out immediately after navigating to another page. In reviewing, it looks like neither a session or appropriate cookies are being set.

The plugi

[2018-08-30 14:08] cedrox commented on #90
I don't understand, you have to disable your cache plugin for this to work ?

[2018-08-30 14:12] SilvanaBanana commented on #90
Yes, that's at least what my colleague who's in charge for the wordpress part found out. As soon as the caching plugin was turned off, redirection worked.

[2018-09-06 16:23] felipepastor opened #97 "Is it possible to register a user in WP and in the OpenID server?"
I think the title is clear enough. I'm trying to find a solution for this and I couldn't find a solution yet using this plugin. If it's not possible, probably i'll need to overwrite the hook after the registration and then call the server service.

What do you think? If you have any thoughts and it's viable for this plugin I would like to help and include this feature.

[2018-09-12 13:39] cedrox commented on #90
Thanks for the feedback :)
Then, you have to have your leave your wordpress without cache ? That's really anoying... I work with wp-rocket. Is there a way to setup something ?

[2018-09-24 16:12] takizo opened #99 "Missing State: State Checking as Optional"
Would it be a good idea to make state checking as optional?

i.e Instead of click the button to login, I would like to generate the URL on top of the menu for "Login Here" to my sso page.

Due to the state checking, after authentication I will get the error of missing state

[2018-09-25 00:14] takizo commented on #99
Better option is to [create the state code](https://github.com/daggerhart/openid-connect-generic/pull/98#issuecomment-424093330) instead of skip the checking

[2018-09-25 00:14] #99 closed

[2018-09-26 01:53] timhampton commented on #92
Me too!

[2018-09-26 08:29] cedrox commented on #90
I finally try to deactivate my cache plugin.
I also try to uprise State time limit to 3600.
Still experience issue.
![cedrox-config](https://user-images.githubusercontent.com/10764310/46067360-ecec2200-c176-11e8-8767-7bbfec3e3413.png)

[2018-09-27 14:46] mvarblow commented on #92
The response from your identity provider is missing the id_token, which is required by the Open ID Connect specification. Your identity provider does not seem to implement Open ID Connect?

https://openid.net/specs/openid-connect-core-1_0.html#TokenResponse

[2018-10-01 09:13] mrm1st3r commented on #92
I had the same problem and it helped to add "openid" as a scope in the plugins settings.
I'm using the plugin in combination with Keycloak, if that matters.

[2018-10-04 06:55] prase09 commented on #90
@cedrox me too facing the same error, did you got fix? if any please share.

[2018-10-11 10:42] funkycram opened #101 "Bug with some special char in the firstname or lastname"
This will repair the bug :
https://github.com/daggerhart/openid-connect-generic/compare/dev...funkycram:patch-2

[2018-10-15 14:19] savoierider opened #102 "Checkbox "Identify with User Name" has some bad effect"
Hi,
If you check the "Identify with User Name" checkbox, if you try to connect with a new username that has an email adresse that already exist in the wordpress user database, you get this error :
[code]
It's because Wordpress doen't authorize having two user with the same mail adress.

Can you add on option to create the user without any adresse mail in case the adresse mail is already used (or m

[2018-10-15 14:35] savoierider opened #103 "Users comparison is not correctly effective"
Hi,

Here is the case :
My Wordpress' user database have a user called "admin".
My app's user database have a user called "admin" too.
I've checked the "Link Existing Users" box
I've checked the "Identify with User Name" box

I try an authentication : your extension detect that a user "admin" is already existing in the wordpress database.
It's the first time I try to connect to wordpress with the

[2018-10-21 11:33] cedrox commented on #90
Hello, This error come from the fact that the state have a lifecycle. I manage to get something more stable thanks to the parameter State time lime. I increase to 24 hours...
Hope this help

[2018-10-30 16:41] drzraf commented on #60
@daggerhart here [is a plugin](https://gitlab.com/animalequality/wp-openid/blob/master/wp-openid.php) relying upon openid-connect-generic to configure (at a low-level) domain authorization when people connect via OpenId.

I'm really happy openid-connect-generic now provides a powerful enough low-level API to hook in in order to create custom authorization schemes. But I wondered whether you'd find

[2018-10-30 16:45] drzraf commented on #85
seems fixed?

[2018-10-30 16:46] drzraf commented on #60
I would also like to mention #88 for 4.x :)

[2018-11-03 15:29] daggerhart commented on #67
Seems like a lot of good information here, but no clear direction for modifications to this plugin. I'm going to close the issue for now. Please feel free to re-open if there is some additional information that can lead to a fix in my end. Thanks

[2018-11-03 15:29] #67 closed

[2018-11-03 15:30] daggerhart commented on #54
Fixed in another PR

[2018-11-03 15:30] #54 closed

[2018-11-03 15:36] daggerhart commented on #102
Hi @savoierider,

There is an undocumented hook you can use to modify user information before a new user is created.

Something along the lines of
[code]

The logic for how to modify that user's email is completely up to you. May want to start by querying WP to check if the email address already exists, and then make the change based on your preferences.

[2018-11-03 15:36] #102 closed

[2018-11-03 15:41] daggerhart commented on #88
@drzraf  Thanks for this. I agree, and will add this consideration to the 4.x roadmap

[2018-11-03 16:03] daggerhart commented on #85
Finally fixed this. There was some discrepancy in the different versions available on WP repo and packagists. I incremented another version number to 3.4.1 and created new releases everywhere.

[2018-11-03 16:03] #85 closed

[2018-11-04 09:51] cyxou commented on #101
Got troubles authenticating users who have say firstName and/or lastName with cyrillic symbols. The patch does its job, I hope it will be integrated asap.

[2018-11-04 12:53] daggerhart commented on #101
Merged into dev branch. Thanks!

[2018-11-04 12:53] #101 closed

[2018-11-04 14:54] daggerhart commented on #76
Hi @hesscj

Do you still need this feature?

[2018-11-04 14:56] daggerhart commented on #44
Circling back around to all the issues here where I've failed to resond.

Do you still need work done on this issue?

[2018-11-04 20:59] mdomsch commented on #44
I've moved on to other projects. Don't keep this open on my account.

On Sun, Nov 4, 2018 at 8:57 AM Jonathan Daggerhart <notifications@github.com>
wrote:

[2018-11-05 02:11] #44 closed

[2018-11-05 13:15] lheazel opened #105 "Password-protected posts trigger login interface?"
Good day.

I’m working on a theme for my employer and I’ve run into an odd situation. If I password protect a post, navigate to it, input the password and press enter, I’m sent to the account authorization page on my account management service. It’s exactly as though I had just logged in, and then get navigated to the wp-admin page.

This only happens when I have the plugin set to Auto Login-SSO;

[2018-11-08 16:32] hesscj commented on #76
I'm currently using a modified version of the plugin to make this work for
now. I'd love to be able to use the standard one and if this was available
I should be able to.

Thanks,
Chris

On Sun, Nov 4, 2018 at 7:54 AM Jonathan Daggerhart <notifications@github.com>
wrote:

[2018-11-09 13:39] flat235 opened #106 "wp rewrite flush (via cli) broken"
The merge below was introduced to fix some "headers already sent" problem.
However: Now everytime "wp rewrite flush" is used on the cli, the redirect for the alternate_redirect_uri is broken.
Introduced:
Commit 87470689dbaa770eace59ca4360eeb199dcd69fc
https://github.com/daggerhart/openid-connect-generic/pull/96

Maybe both can be fixed by putting the return after the part responsible for the rewri

[2018-11-09 16:02] samueldjack opened #107 "Is it possible to link users by email only when the email_verified claim is true?"
Would it be possible to add the ability to only match user accounts by email when the email_verified claim is included in the userinfo?

[2018-11-09 18:46] samueldjack opened #108 "Redirect_to broken in 3.4.1"
We just updated our Wordpress installation to version 3.4.1 of this plugin, and discovered that our login flows get broken. Users log in correctly, but they are then redirected back to the homepage rather than the page they were aiming at.

For example, if I go to /wp-admin, I first get redirected to our SSO page (as expected) so that I can log in. Once logged in, I am then left at the homepage ra

[2018-11-12 20:46] denisj07 commented on #92
I have the same issue, and adding 'openid' to the plugin's scope did not fix it. Is there anything else that I should consider? (I've followed this guide to setup keycloak and the openid-connect plugin)

[2018-11-15 15:45] klzsysy opened #109 "Some problems with Gitlab connection"
I tried to connect with gitlab, the login was successful, but there are some problems

1. After logging in successfully, it will be automatically logged out from time to time.

2. When the user's email in Gitlab is not set to public, the login will be wrong.
    ![image](https://user-images.githubusercontent.com/3226923/48563445-5a266300-e92f-11e8-8aa6-7bcb32052f63.png)

3. When used with the plug

[2018-11-19 09:32] cyxou commented on #91
Same problem here even for existing WordPress users.

[2018-11-19 10:21] cyxou commented on #91
For me, the problem was in the "Display Name Formatting" field of the plugin settings. I used default "{given_name} {family_name}" which results in error for some of my users. Clearing this field solves the issue, but it surely may not be considered as a solution to a problem as the problem hides in the [format_string_with_claim](https://github.com/daggerhart/openid-connect-generic/blob/6917df262f

[2018-12-03 08:44] savoierider commented on #102
Thank's for the trick !

[2018-12-26 20:36] drzraf commented on #106
I agree.
`wp rewrite flush` needs `add_rewrite_rule` from `OpenID_Connect_Generic_Client_Wrapper::register` to be run.

I believe inserting the `return` [here](https://github.com/daggerhart/openid-connect-generic/blob/87470689dbaa770eace59ca4360eeb199dcd69fc/openid-connect-generic.php#L103) could make it... as long as it returns before **OpenID_Connect_Generic_Login_Form::register**.

[2018-12-26 20:45] drzraf commented on #108
Could you check whether it's related to #98? (trying to apply/revert this sole patch?)

[2018-12-26 20:48] drzraf commented on #95
browser configuration about cookies?
Activate browser's network tools, enable "persist logs", browser the login page, login and browser another page and look at the 3 or 4 "Cookie" lines of the requests issues by browser + the 3 or 4 "Set-Cookie" header lines of all server responses.

[2018-12-26 20:54] drzraf commented on #58
I personally quite annoyed by the 3600-seconds disconnection. How to move forward on this topic?

[2019-01-10 10:38] samueldjack commented on #108
@drzraf It looks like that patch could well be the problem. With that patch, the redirect cookie is now created only if you use the login button. But we have auto-login set to true, so I don't think the login button ever gets created.

[2019-01-17 05:11] hypery2k opened #111 "OAuth2 authorization capabilities"
Any chance to get authorization capabilities? Would enable more advanced resource management, like [this](https://www.keycloak.org/docs/3.1/authorization_services/index.html).

[2019-01-17 05:11] hypery2k commented on #94
any news?

[2019-01-17 13:11] gnegreiros commented on #94
It was fixed.

[2019-01-17 13:58] flat235 commented on #106
Thank you for the PR, as far as I can tell, this works for me (the rewrite rule survives `wp rewrite flush`).
Since I never experienced the reason for PR https://github.com/daggerhart/openid-connect-generic/pull/96 I cannot test if this becomes an issue again or stays fixed.

[2019-01-17 19:48] drzraf commented on #106
#96 was because `init()` runs `setcookie()` which in turn triggers "headers already sent" (but maybe not in -production because of the error_reporting level)

[2019-01-18 16:23] hypery2k commented on #94
so I add client roles and they will be mapped to Wordpress roles?

[2019-01-25 12:03] prase09 commented on #90
@cedrox  I have increased to 24 hours still am facing this issue. Can you please suggest any other?

[2019-01-26 02:11] CharlyRipp commented on #91
@cyxou - That was exactly the problem. Thank you!
Also had a typo on the Nickname Key, which caused the same issue but this made me look for it

[2019-01-26 02:14] CharlyRipp commented on #92
@joaocg Adding `openid` to the scope worked for me. Keycloak 2+ no longer sends the id_token unless the openid scope is specified.
It did give me the same error when attempting to login from the screen it drops you on when you get the error -- it worked once I left and went through a normal login flow.

Well, when I say worked, got further -- the defaults for `Display Name Formatting` didn't match

[2019-01-30 11:24] vcestra opened #112 "'Application not configured' with Keycloak"
Hello,

I have installed the plugin on my Wordpress. Unfortunately I cannot make it work with Keycloak. After logging in the following message appears:

**Application not configured.**

Thanks in advance!

Vincenzo

[2019-01-30 13:13] vcestra commented on #112
I understand the problem. This plugin is going in conflict with OAuthClient by MiniOrange! So I had to uninstall the MiniOrange plugin.
Thanks
Vincenzo

[2019-01-30 13:13] #112 closed

[2019-02-10 05:37] aaronpk commented on #75
The name of this issue should be "Validating the id_token JWT", but yes it appears that it doesn't actually validate the JWT, it just extracts the claims without validating.

[2019-02-15 19:00] hallkj4 commented on #90
Has this been figured out yet? I am having the same problem, but only when I am trying to log in after being authenticated on another site.

[2019-02-18 06:43] sarahistiqomah commented on #90
anyone solved this?

[2019-03-07 15:55] eniris opened #114 "wordpress login form disabled option"
Please, add the "remove_login_form()" function in optional checkbox.
So, administrator can connect the wordpresse identification form, in "wp-login.php?login-error" case

[2019-03-14 22:08] ryancwalsh commented on #90
This plugin looks super useful (thanks, @daggerhart ! I'm very excited to have found it 😃), but currently I'm stuck on this same problem.

I don't have any WordPress caching plugin installed, and I've set the "State time limit" option to 86400 seconds (24 hours) as suggested above.

But I still get "ERROR: Missing state."  And when I temporarily edit the plugin code to try to debug where it's fail

[2019-03-14 23:47] ryancwalsh commented on #48
Like the first post above, I'm trying to use this plugin with [Laravel Passport](https://laravel.com/docs/5.8/passport), too!

And I'm still stuck.

But https://github.com/benbjurstrom/passport-custom-jwt-claims and https://auth0.com/docs/tokens/id-token#id-token-payload look like they are hinting at the answer to the earlier question "[What is `$token_response['id_token']` as this seems to be mis

[2019-03-14 23:47] ryancwalsh commented on #90
**It turns out that "Error: Missing state" was not my real problem.** That was caused by temporary changes I'd make to the plugin while trying to debug (so I reverted those changes).

But then I ran into other problems, which seemed to relate to the fact that I was using Laravel Homestead and wasn't using Ngrok (e.g. Laravel Share). So starting to use that (and paste the Ngrok URL into the plugin

[2019-03-27 06:43] hmoffatt commented on #114
How can the remove_login_form be used now?

[2019-03-27 09:09] eniris commented on #114
remove_login_form() function, remove the login form node with javascript, and when I have a wp-login.php?login-error I don't have access Wordpress native login alternative. After reflexion, my problem whasn't really to disable remove_login_form() function, but can have an alternative login with native wordpress admin user.

[2019-03-27 09:33] AdvinRoz commented on #101
@daggerhart This bug has been fixed on the dev branch, do you have any idea when this will be merged to master?  (the plugin from the dev-branch is only usable in my case, because of this bug).

[2019-03-29 13:44] Patt027 opened #115 "Office 365"
I'd already configure the plug in to work with Azure AD. Everything works fine but i'd try to login to my website automaticaly when the user is already log on office 365. I'd create a portal on a sharepoint site and I'd put a link to the website on it. the link is my URI but iu'd always the error : login-error=no-code&message=No+authentication+code+present+in+the+request.

Can you help me please ?

[2019-04-01 17:02] Patt027 commented on #115
I'd found it myself. Beside the URI I'd to redirect to the wp-admin.php page.

[2019-04-09 04:39] OneATC opened #117 "Compatibility with WordPress 5.1"
Any chance to ensure compatibility with WP 5.1 ?

Perhaps it's already the case but, the plugin's info window of the 3.4.1 only displays compatibility with 4.9.10.

Thanks for clarifying.

[2019-04-21 13:45] #106 closed

[2019-04-21 14:03] daggerhart commented on #108
@samueldjack  and @funkycram could you look at PR #119 and let me know if this resolves the issue?

[2019-04-21 14:16] daggerhart commented on #76
Committed some code very similar to this into the dev branch. Thanks!

[2019-04-21 14:16] #76 closed

[2019-04-21 14:18] daggerhart commented on #94
Closing due to reporting fixing it. If you have another similar request, please open a new issue. Thanks!

[2019-04-21 14:18] #94 closed

[2019-04-21 20:37] funkycram commented on #108
Yes, thanks a lot, just tested and PR #119 resolves the problem !

[2019-04-23 11:35] #108 closed

[2019-04-23 11:36] daggerhart commented on #108
Thanks for the test. I've merged it into dev and will be in the next release.

[2019-04-23 11:37] daggerhart commented on #101
I plan to make a new release within the week. Hopefully by monday or tuesday next week this will be in master and a new version will be out.

[2019-04-26 07:53] MelvinHB opened #121 "Problems with hooks"
**Hi,
I tried to implement one hook from the documentation. For this I have added a filter  in the openid-connect-generic.php (also tried the functions.php from th Theme)**

add_filter ('openid-connect-generic-user-creation-test', function ($ result, $ user_claim) {
// Do not let anyone with email @ account.com create an account.
$ email_array = explode ('@', $ user_claim ['email']);
if ($ email_a

[2019-04-27 18:51] menathor opened #122 "Syncing user data fields between Wordpress and OIDC server (Keycloak)"
Hi, just wondering if there's any way to sync user data (custom fields) between Wordpress and Keycloak? If so, could someone point me in the right direction? Thanks!

[2019-04-29 07:09] MelvinHB commented on #121
Happy to could fix that by myself. I put the Filter in function-admin.php from my Theme, and it works.

[2019-04-29 07:09] #121 closed

[2019-05-07 11:37] ngpi-integrate opened #123 "Passworded posts and pages corking up?"
I've noticed that with the plugin installed, password-protected posts and pages trigger the login interface when the password is input, then the page just hops back to where it was before.

Is this expected behavior? Has anyone else experienced this?

[2019-05-10 14:21] bdegoy commented on #103
Hi,
I am in the same situation than savoierider.

I could accept the admin2 user, why not? But the creation fails because my OIDC admin has the same e-mail than the WP admin (not an unusaul case), so WP fails with ERROR: Failed user creation.

I would like WP link to existing admin.

Thank you daggerhart for a great job!

[2019-05-11 10:38] bdegoy commented on #103
I comment myself my previous post.

If we could link a WP user with the same ID as the provided OIDC login, we could access WP with his privileges. A big security breach!

deggerhat did it the right way. What one's should do :
- connect to WP by Login with OpenID Connect with login 'admin'. WP creates 'admin2'.
- connect to the WP administration by the classic method and assign administrator privi

[2019-05-28 11:39] MelvinHB opened #125 "User comparison"
Hi, here is my case:
I moved my site to a server behind a loadbalancer with SSL offloading. Now the comparison with the existing users does not work anymore. Every time a new user is created. Anybody an idea how to fix this?

[2019-06-24 22:58] fnicollet commented on #108
Thanks for this patch, it also solved my issue (applyied manually) 👍

[2019-07-04 09:27] etienne-royer-adeo opened #128 "Auto login - redirect url fix in wordpress, put dev to master"
Hi Daggerhart,

Is it possible to put line 47 (see context) from dev to master and refresh the plugin in:
https://wordpress.org/plugins/daggerhart-openid-connect-generic/

Context:
daggerhart/openid-connect-generic
openid-connect-generic/includes/openid-connect-generic-login-form.php
Line 47

Many thanks

[2019-07-08 14:59] MelvinHB opened #129 "Auto Login / Password protected Pages Issue"
Hi,
if the Login Type is set to "Auto Login - SSO", you can not unlock password-protected pages / posts with the Wordpress function, as wp-login.php can no longer be called. Is there a solution for this?

[2019-07-09 14:05] #125 closed

[2019-07-15 13:06] MelvinHB commented on #129
could fix that bay changing the loginpage manually to https://mydomain/wp-login.php

[2019-07-15 13:06] MelvinHB commented on #105
could fix that bay changing the loginpage manually to https://mydomain/wp-login.php
also works with the plugin: https://wordpress.org/plugins/wps-hide-login/

[2019-07-15 13:08] MelvinHB commented on #123
could fix that bay changing the loginpage manually to https://mydomain/wp-login.php
also works with the plugin: https://wordpress.org/plugins/wps-hide-login/

[2019-07-15 13:09] #129 closed

[2019-07-18 07:12] kitkan87 commented on #90
I had the Missing state error also. I am using FusionAuth with daggerhart/openid-connect-generic.
This is on the dev side. No other plugins on wordpress except daggerhart.

I had to disabled cache in wp-config.php `define('ENABLE_CACHE', FALSE);`

Then it gave me an Invalid token response, exactly the same as #92 which I then removed everything in OpenID Scope and just used `openid` as a tag.

The

[2019-07-18 19:10] tripflex opened #132 "$token_response in create_new_user does not exist"
I only noticed this while browsing the code in PHPStorm and noticed the lint error so figured I would mention it here

https://github.com/daggerhart/openid-connect-generic/blob/f3829b48e28eeb7e8548749a90d489d886f0af45/includes/openid-connect-generic-client-wrapper.php#L664

`$token_response` is not set anywhere in the `create_new_user` method, so if values are missing, that code block will never a

[2019-07-19 07:51] benochen opened #133 "automatic user creation behavior could be changed ?"
Hi

Thanks for this great plugin. I have a question.

When I'm connected with an account with my identity provider which is not link to an existing wordpress user, a new user is created.

If I understand correctly it is not possible for now to configure the plugin to not create the user instead.
The method authentication_request_callback() contains the following line
`
// if we didn't find an exis

[2019-07-21 20:20] ben57univ commented on #133
I have see [this filter](https://github.com/daggerhart/openid-connect-generic#openid-connect-generic-user-login-test) which could work but I think a settings in the UI could be interesting and more user friendly. I have created a  [pull request ](https://github.com/daggerhart/openid-connect-generic/pull/134)  which reflects that.

[2019-07-22 15:58] daggerhart commented on #133
Thanks @ben57univ, I'll take a look at this when I get a moment during the week. I appreciate and welcome all PRs!

[2019-08-01 17:55] menathor opened #135 "Cloudflare origin certs result in cURL error 60"
Hi guys,

After a lot of head scratching I think I've finally figured out why I keep getting **cURL error 60: SSL certificate problem: self signed certificate in certificate chain** errors. Turns out Cloudflare's origin certificates might be the problem:

https://community.cloudflare.com/t/error-self-signed-certificate-in-https/75374/5

Would it be possible to add the -Ik flag to the curl requests

[2019-08-01 18:05] menathor commented on #135
Sorry, just ignore my blindness. Found the option 5 minutes after posting this!

[2019-08-01 18:05] #135 closed

[2019-08-03 19:54] menathor opened #136 ""Invalid token" with official wordpress oauth2 plugin"
Hi guys,

I've been trying to this working with the WP-API oauth2 plugin (https://github.com/WP-API/OAuth2). The auth confirmation screen comes up but after confirming, I'm redirected to the client site's login page and get an "Invalid token" error. The oauth2 plugin is definitely working (tested in Postman). I noticed a similar issue here: https://github.com/daggerhart/openid-connect-generic/issu

[2019-08-21 11:10] ben57univ commented on #133
Thanks @daggerhart  . Did you have time to take a look ?

[2019-08-29 14:14] dfredell commented on #91
@cyxou Thanks for a link to the code. I modified my local php `./wp-content/plugins/daggerhart-openid-connect-generic/includes/openid-connect-generic-client-wrapper.php` and enhanced the error message so I could tell what field it was unhappy about: `'User claim incomplete: '.$format.'`
Turns out that for me it was mad at the `Email Formatting` field so I switched it from `{email}` to `email` and

[2019-09-02 16:34] yamdud opened #138 "Logout Url : User automatically signed in after logout"
hi everyone,

Having issues around logout.
Using [ Identity server 4](http://docs.identityserver.io/en/latest/) as Identity provider.
I have added a custom link on navbar for logout(https://example.com/wp-login.php?action=logout). Not sure if this the correct logout url.
The login works fine, but logout does not redirect to the endsession endpoint hence the user is never logged out.

I'm quite ine

[2019-09-03 17:28] laurenrhodes-im opened #139 "Enforce privacy is "checked", user is logged out after 2-4 page views"
When logging in as an admin the user stays logged in after the forced login scree however, those with lower user roles are logged about and forced logged in after a certain number of page views. Seems to be no option to adjust this in dashboard

[2019-09-10 15:52] gassan opened #140 "Error notice if output is unbuffered"
please check this patch to avoid notice:
Warning: Cannot modify header information - headers already sent by (output started at XXX/wp-login.php:82) in XXX/wp-content/plugins/openid-connect-generic/includes/openid-connect-generic-login-form.php on line 86

zlib.output_compression must be 'off' such as other output buffers

[code]

[2019-10-03 16:31] liber-tas opened #141 "Allow periods and spaces in usernames?"
Periods and spaces are fairly common in usernames, e.g. for Wordpress sites (which I'm working on integrating with KeyCloak). Any chance we can include those characters?

It's a simple change on one line (below). I can send a PR if needed...

https://github.com/daggerhart/openid-connect-generic/blob/f3829b48e28eeb7e8548749a90d489d886f0af45/includes/openid-connect-generic-client-wrapper.php#L526

[2019-10-03 16:32] liber-tas commented on #141
Awesome work BTW, thank you so much @daggerhart

[2019-10-07 13:19] schamblee opened #142 "Redirecting to origin page with multiple query parameters"
Hello,

This plugin is a great tool. Thank you for sharing it!

I'm using the setting "Redirect Back to Origin Page" and auto-login so that we can take users from our site directly to a new order we create for them in WordPress so that they can pay for it easily.

Would it be possible to support redirecting back to origin when the origin has multiple query parameters in the URL?

For example, the

[2019-10-07 15:53] spikyjt commented on #88
I would second this in principal, but would hardly consider php-openid "maintained" - last release in 2015, last commit over a year ago!

The jumbojett client looks promising, but is not compliant with the standard yet.

OpenId Connect clients for PHP seem to be woefully lacking!

[2019-10-07 16:01] spikyjt opened #143 "Use discovery"
Acquire (and cache) the provider's configuration information using discovery https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig

This will keep things working if anything changes at the OP end and means less config for the plugin user.

It could be optional of course, in case some OPs don't support it (they should).

[2019-10-07 21:18] drzraf commented on #88
This is way better https://github.com/thephpleague/oauth2-client

[2019-10-08 13:26] gb056 opened #144 "Support IdPs that don't support refresh tokens"
Unless I'm reading this wrong, the plugin does not currently support identity providers that don't provide refresh tokens. On logging in to such an IdP on my test site I immediately get a `access-token-expired` error, seemingly from here: https://github.com/daggerhart/openid-connect-generic/blob/dev/includes/openid-connect-generic-client-wrapper.php#L140

Refresh tokens are an optional part of the

[2019-10-08 13:30] gb056 commented on #92
With regards to the `openid` scope, this is a **required** scope in order to use Open ID Connect. If you are intending to use Open ID Connect, you MUST have this scope in your list. It may not solve all problems above but should be included regardless.

[2019-10-09 14:01] spikyjt commented on #88
That's a very mature library, but important to note that it is OAuth2, not specifically OpenId Connect.

[2019-10-22 20:47] bevinhex commented on #138
in my case I think problem might be the nginx proxy settings, specifically proxy_buffer_size stuff, which causing logout abnormality, thus user logs out on wordpress side , but keycloak still thinks user active.

[2019-10-24 10:19] daggerhart commented on #142
Hi @schamblee,

I'm sure we can make this work with some additional logic around decoding urls in the areas you mention.

Do you want to attempt a PR for this change, or would you prefer someone else attempt it?

[2019-10-24 10:20] daggerhart commented on #143
I like this idea a lot, thanks for brining this up.

Would you like to attempt a PR, or would you prefer someone else do it?

[2019-10-24 10:21] daggerhart commented on #144
That makes sense to me, thanks for bringing this up.

Would you like to attempt a PR for this change or would you prefer someone do it?

[2019-10-24 10:29] daggerhart commented on #141
Hi @liber-tas,

A PR is always welcome, and I'm more likely to merge a PR quickly than I am to make a simple one myself just due to how easy it is.

If you have a moment to submit one, what do you think about allowing dashes? Seems like people might also have dashes in their usernames.

I can also make this change if you'd rather not submit a PR. Your call.

[2019-10-24 10:32] daggerhart commented on #139
Hi @laurenrhodes-im,

That's an interesting problem. I think this could be the fault of WP or the authentication server.

Are both the admin user and regular users authenticated with OpenID to log into the site?

[2019-10-24 10:37] daggerhart commented on #133
Apologies for the long delay here. Getting caught back up on issues as I can. I left a question on the PR about changing the logic of the checkbox, otherwise this looks good to me. Thanks!

[2019-10-24 10:53] bevinhex commented on #122
From keycloak to wordpress can be done via hooks, for revese, I'm researching as well

[2019-10-24 11:32] schamblee commented on #142
Thanks for the response! I can attempt a PR.

[2019-10-24 12:56] daggerhart commented on #142
Thanks for the help!

[2019-10-24 12:56] #142 closed

[2019-10-24 13:26] #140 closed

[2019-10-25 17:17] sidneivl opened #147 "Invalid authorization code"
Hi,

I'm facing a issue about this authorization code on local machine, I'm receiving this info: /wp-admin/admin-ajax.php?action=openid-connect-authorize&code=1KIn6H&state=093a71b45069ec6e5a79382cd3c78d62

but after login I'm redirect to /wp-login.php?login-error=invalid_grant&message=Invalid+authorization+code%3A+1KIn6H

How I'm not the dev that implement it, I'm lost.

The log show me:

[code]
A

[2019-10-29 15:57] yrammos commented on #88
@spikyjt @drzraf generi OAuth2 support would be doubly good to have.

[2019-10-30 11:58] spikyjt commented on #88
@yrammos is generic OAuth2 a good idea for this plugin? It's title suggests it is specifically OpenId Connect. I think there a plenty of OAuth2 libs and plugins, but OpenId Connect has very specific requirements and is distinctly about authentication, when OAuth2 is just authorization.

@daggerhart would be good to know your thoughts

[2019-10-30 12:00] spikyjt commented on #143
@daggerhart I think #88 needs to come first, as there is no point implementing this if you would then rip out the underlying library and replace it. Ideally the requirements for #88 would be that the lib implements discovery. If it doesn't and we need to extend it, then I'd be happy to look at doing a PR for this.

[2019-10-30 12:05] yrammos commented on #88
@spikyjt I'm sorry for my elliptical comment, which warrants your question. You see, there is no open-source or even reasonably-priced OAuth2 client for WordPress right now and this is the closest project that I was able to locate. If it is outside your purview, of course, I'll have to rest my case… Thanks.

[2019-10-30 12:11] spikyjt commented on #88
@yrammos no apology needed! I wasn't aware Wordpress was lacking this, as there are so many PHP libs for OAuth2, I assumed there must be a plugin. Anyway, the question is really for @daggerhart who owns this project and can decide what his intentions for it are/were.

[2019-11-05 07:13] benochen commented on #144
I'm interessted to dig into the plugin. I can submit a PR in the nex weeks if you want.

[2019-11-06 20:29] henrikmotzkus opened #149 "Invalid user claim - Azure AD"
Hi there,
want to authenticate by Azure AD with an Oauth2 v2 endpoint. I alway getting the error "invalid user claim" whatever I specifiy in "Identity key" or "Nickname key". What I'm doing wrong? Or do I misunderstand the settings?
Thanks
Henrik
p.s. Here I have the documentation of the supported user claims: https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens

[2019-11-13 00:32] flat235 opened #150 "broken iconv implementation silently fails to transliterate"
on alpine-docker-image `iconv` of a valid ascii string fails without error message and returns an empty string. fixing this should probably be done upstream (fix iconv on alpine), but a sensible error message would have been really helpful.

https://github.com/daggerhart/openid-connect-generic/blob/1c126d11b850c6ef32c2fdad4de94437d0a69747/includes/openid-connect-generic-client-wrapper.php#L526

(P

[2019-11-14 20:17] amysticool opened #152 "invalid-user-claim error ($user_claim is not array)"
Hello everyone,

I have an invalid-user-claim error after successfull authentification with the provider. spend fews days on it with no success. (At least if someone can explain how $user_claim work on is filled).

After investigation i found that this is due to an array check failed here :

if ( ! is_array( $user_claim ) ){

[code]

**Message log error is :**
Type: invalid-user-claim
Date: 2019-1

[2019-11-15 13:12] amysticool commented on #149
Hello @henrikmotzkus did you find any solution ? have the same problem.

Thanks

[2019-11-18 08:25] henrikmotzkus commented on #149
Unfortunately not. Can the developer help?

[2019-11-26 20:22] connerbw opened #153 "One configuration for all blogs on Multi-Site Install"
This is a follow up to: https://github.com/daggerhart/openid-connect-generic/issues/79

Expected: One configuration for the entire network.
Actual: A separate configuration for each blog.

I was looking at the code. To get what I want I have to change.

 + `is_admin()` to `is_multisite() && is_network_admin()`
 + `add_action( 'admin_menu', array( $settings_page, 'admin_menu' ) );` to `add_action(

[2019-12-01 13:16] maganuk opened #154 "Settings via Environment Variables"
Hi,

Is there any way to set the endpoints, client_id and the client_secret via environment variables?

Thanks

[2019-12-02 12:21] ksimunovic opened #155 "Missing filters for modifying token response and id token claim"
I'm using this plugin for a project when I need to enable users to login via swiss-rx-login and besides missing filters, it's working great. The problem with this OpenID Connect provider is that it's not following specification to the letter and therefore not including "sub" in $id_token_claim or id of the token in the $token_response. Their documentation can be found [here](https://www.refdata.ch

[2019-12-12 08:41] gengengengengen opened #157 "How to disable the auto creation of users?"
Hi,

Thanks for the great plugin!

In my case, I create many users manually in Wordpress local and I want to use these local user information to verify the login user from SSO.

If a login user from SSO not belong to local user, I want the website block this user, but I still found creations happens when new user login from SSO.

How can I disable the auto creation?

I think my case is same as #13

[2019-12-12 10:00] gengengengengen opened #158 "Always redirect to login page(req param 'reauth' always '1')"
Hi there,

I met a problem.

After successfully logged in and redirected to the homepage, if I click the links of dashboard or another sub-page, the page will redirect the login page and I must login again.

Only if I go to homepage from other pages, the case will not happen.

Maybe this case is caused by some defects or wrong configuration but I have no idea to fix it.

[2019-12-13 06:58] gengengengengen commented on #158
Fixed, urls of my website changed but some image-related widgets did not update the image urls automatically.

[2019-12-13 06:58] #158 closed

[2019-12-19 14:03] neonnero opened #159 "Option to create custom login buttons"
I'd like to have additional options when using a separate login button ([openid_connect_generic_login_button]).
My suggestions:

- Don't show the login button if you're already logged in
- Customize the button label text
- When using a separate login button (using a shortcode), enable that the user can be redirected back to the page they were on after logging in

This could also be extended to a p

[2019-12-20 14:40] DaichiKortex opened #160 "How can i access beare token after login?"
Hi

In my project after login i need use the bearer token to the next api request.
How do i take the token after the login?

[2019-12-23 17:00] #160 closed

[2020-01-11 19:45] KrzychuR commented on #144
Hi all,

Firstly, thanks a lot for the effort! I'd like to use this plugin with Azure B2C Active Directory (see https://azure.microsoft.com/en-us/services/active-directory-b2c/ )

I think B2C supports refresh tokens but.. I had to comment out from https://github.com/daggerhart/openid-connect-generic/blob/dev/includes/openid-connect-generic-client-wrapper.php#L124 to the end of procedure to be able

[2020-01-11 20:12] KrzychuR commented on #144
One more, according to: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-tokens B2C supports refresh tokens

[2020-01-11 20:41] KrzychuR commented on #144
OK... sorry for a lot of posts but.. I finally configured plugin to work with B2C, to receive refresh token we have to add 'offline_access' to scopes and.. tada! :)

The next question is... email mapping... but.. I'll create separate issue for it.

[2020-01-11 20:45] KrzychuR commented on #149
@henrikmotzkus
1. Define OpenId scope like this: 'openid email profile offline_access'
2. Identity key -> use 'sub'
3. For a nickname -> 'name'
It works for me with Azure AD B2C version

One more thing, in Azure AD B2C configuration you can select which claims will be returned.

[2020-01-11 21:21] KrzychuR opened #161 "Azure AD B2C no user email mapped"
Example token, decoded on https://jwt.io

![image](https://user-images.githubusercontent.com/18367771/72210712-fd392500-34bf-11ea-8b2c-cb1f22215656.png)

I've tried to change Email Formatting to '{emails}' but it didn't help

[2020-01-11 22:08] KrzychuR commented on #161
Temporary workarround:
[code]
And.. change Email Formatting (config) to 'emails'.

[2020-01-14 13:30] jerryhopper opened #162 "post_logout_redirect_uri contains dynamic values"
im using this plugin in combination with FusionAuth, and i've run into a problem.

The logout fails on FusionAuth, due to the dynamic url variables added to the redirect url.

Ive opened an issue at Fusionauth  https://github.com/FusionAuth/fusionauth-issues/issues/433
But i thought this could also be 'fixed' from the plugin-side.

So the generated redirect uri contains dynamic values which i cant

[2020-01-15 08:51] MelvinHB opened #163 "exceptions for "enforce privacy" for iFrame"
Hi, is it possible to create an exception for IFrames or certain domains for the enforce privacy function? I´ve no much experience with JS and pushed to the limits here with php. At the moment I have put the function into: if(!-_SERVER['HTTP_REFERER'] == 'YourFrameURL'){}
However, I don´t want to disable the function for iFrames in general, but only for certain domains.

[2020-01-16 14:57] mrtndwrd opened #164 "Mapping of roles from oauth system to WordPress"
I would like to be able to map my SSO system's roles to user soles, so I can create an admin user on the SSO system that automatically gets admin rights on WP as well. Usually this is possible by mapping some "roles" from the SSO system to "roles" inside the application.

Is that possible with this plugin? Or would it be easy for me to make a PR to make it possible? I'm not good with WP plugins, b

[2020-01-17 07:43] MelvinHB commented on #164
You can do that by custom scopes, that you can set in your OIDC provider. take a look in the Documentation. You can find some filters, you can add to your functions.php

Example:

// (User role by Claim/Scope) -->

		add_action('openid-connect-generic-update-user-using-current-claim', function( $user, $user_claim) {
		// Based on some data in the user_claim, modify the user.
		if ( !empty( $user_c

[2020-01-21 07:19] MelvinHB commented on #164
yep, that´s correct. this action will only take effect after the 2nd login, because this action modifies the role of already existing users. But you can change the default user Role in Wordpress (“Settings” –> “General” for “New User Default Role” So that you don´t need this:
else {
		$user->set_role( 'contributor' );
	}

[2020-01-21 09:36] ms42Q commented on #164
Thanks for your feedback!

Do you think it would be possible to add this as a feature to the plugin?
Maybe by passing a `role_key` option and a mapping for each role. Something like this:

[code]

[2020-01-22 12:09] henrikmotzkus commented on #149
@KrzychuR : Thanks, now I'm one step further.

Now Azure AD B2C redirects me to the alternate redirect url (https://sitename/openid-connect-authorize).

But wordpress returns a 404.

Wordpress runs on a Azure App Service

[2020-01-22 23:01] leandroquinger commented on #152
I getting the same error @amysticool, did you solve that?

![image](https://user-images.githubusercontent.com/5852585/72942125-7272e880-3d51-11ea-9a3e-ad7cff82d8f4.png)

Or did someone has a hint to help us?

[2020-01-24 18:17] KrzychuR commented on #149
Hi @henrikmotzkus,

To be honest, I've dropped this idea for now. In my case (at this moment) I don't need to login user into WP base on B2C credentials nor syncing WP users with B2C.
I'm working on dedicated JS plugins for WP (and.. any other CMS). I just need access-token generated by B2C to be able to access mine API. For this purpose I have WP site and API on AzureAppServices and I've configur

[2020-01-27 13:36] mrtndwrd commented on #164
Thanks for the answers, @MelvinHB ! Somebody told me that editing `functions.php` manually is a bad practice. Does this means that the best way to configure openid-connect-generic is by making a second plugin which configures it for our purposes?

We want to use this in a fully automated context, so we'd like to edit the least amounts of files possible. If we would implement a PR that would allow

[2020-01-30 21:34] rzimmerr opened #165 "Bad user claim"
Just started to test this plugin and I noticed it has not been updated in a little while.  But I am getting the error below when I try and hit my test site.

object(WP_Error)#1285 (2) {
  ["errors"]=>
  array(1) {
    ["bad-claim"]=>
    array(1) {
      [0]=>
      string(14) "Bad user claim"
    }
  }

[2020-01-31 10:53] giovannigenna commented on #152
I'm getting the same error as @leandroquinger "Invalid user claim".
have someone solved it ?

[2020-01-31 14:29] giovannigenna commented on #152
Solved by setting blank "Userinfo Endpoint URL"

[2020-01-31 18:21] rzimmerr commented on #165
I may have discovered the issue.
$response = wp_remote_get( $this->endpoint_userinfo, $request ); was coded as wp_remote_post which seemed to have been trying to post to our IDP rather then GET.  I have no idea if this will help anyone but that's how I fixed my issue.  Along with this I had to define a couple extra scopes in the plugin settings to work with my IDP.

[2020-02-01 01:50] rajrsingh opened #166 "Put login button in custom code"
I want to put a login button in a function I'm writing, so I can't use the shortcode option. I can't find instructions on how to do this. Is this possible?

[2020-02-03 09:37] MelvinHB commented on #164
Hello, I'm just a user of this plugin, not a developer. I would recommend using a childtheme, alternatively you can of course use your own plugin, which would mean more effort.

[2020-02-05 10:35] benochen commented on #157
Hi

There is no way currently to disable this. I have submitted a PR to do that here : https://github.com/daggerhart/openid-connect-generic/pull/148 . If you want to patch the plugin yoursel you can use that.

It seems it has not been tested by the Daggerhart for now but it works for me.

[2020-02-05 13:58] tophattom opened #167 "Claim field `resource_access` missing"
I'm using Keycloak as the OpenID server and the default `roles` mapper by default puts user's client roles in path in `resource_access.${client_id}.roles` token. This field is not present in the `$user_claim` passed to the `openid-connect-generic-update-user-using-current-claim` action. However, when I change the path to `asd.${client_id}.roles`, for example, they will show up in the `$user_claim`

[2020-02-05 16:50] leandroquinger commented on #152
Solved! thanks @giovannigenna

[2020-02-06 08:46] VincentSC commented on #87
FYI: with Gitlab the session time outs in 60 seconds. What help/donation do you need?

[2020-02-06 11:40] chdenat opened #168 "Added a new filter to change user_claim"
Hello,

1st, great job ! It works like a charm !

In our company, we have 3 ways to be authenticated into our OIDC server in order to be then logged in all our apps (TOTP, SAML and laptop secured key dongle) and,  on our WP site we need email to be authenticated, not sub.

Both 2 first authent mechanisms  returns all the information required , but using the dongle, for security reasons, we have on

[2020-02-07 10:56] VincentSC commented on #109
Have the same problem. The session is invalidated after one minute (cron-job?) or *immediately* when any next admin-page is accessed - so when redirection is turned off, it will only log out when you go to admin.

Looking into the error `The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another clie

[2020-03-16 08:49] riccardoscix commented on #141
Hi everyone,
I'm facing the same issue described by @liber-tas .
I would like to include periods, dashes and other characters in the username, is the PR you were talking about available. Otherwise, what would be the necessary changes on the code line you were mentionig? I don't know php that well to go a and change the cose myself, I'd probably mess something up. So what should I change to include

[2020-03-17 11:40] CrowdHailer commented on #144
Hi, we have run into the same issue using [did.app](https://did.app) as our identity provider, which does not currently issue refresh tokens

Can I ask if there is any progress on this PR

[2020-03-19 23:48] subrato30 opened #169 "Use custom login link rather than /wp-admin"
We have anchor tags for login and would like to use that link rather than https://www.site.com/wp-admin link. (We also intend to use SSO mechanism which is provided by our Identity solution provider). How do I make the link show login using those anchor tag (e.g. Login to comment link should pop-up the box provided by the solution provider) rather than redirecting to wp-admin page.

[2020-03-27 15:36] erbridge commented on #90
We have had the same error occur on nearly every log in request during a preiod of high load coinciding with a COVID-19 announcement. As the load dropped off, the error rate reduced. I suspect this is due to a race condition in https://github.com/daggerhart/openid-connect-generic/blob/acbd46c7173b383a2d34c12213b139d385459cfb/includes/openid-connect-generic-client.php#L260 and its sibling functions

[2020-03-30 10:34] daggerhart commented on #90
@erbridge, I've submitted a PR with an approach to fixing this (#171). Would you mind taking a look?

[2020-03-30 10:54] daggerhart commented on #168
Thanks for this issue. I'm looking at the code, and don't see any reason why we wouldn't just move the existing filter (`openid-connect-generic-alter-user-claim`) to the top of the create_new_user() method. Seems like if someone wants to alter the user claim, they would want to do that before the rest of the method.

What do you think?

[2020-03-30 14:00] chdenat commented on #168
Thanks for replying.

Yes it is exactly  this. We need to alter the claims on one use case.

As I wrote before, using a dongle secured keys, it is not possible to get the email. But on some legacy systems we need it to login
.
So by  adding a new filter here , it is possible to get the required information (by requesting our LDAP). the "alter-user-claim" filter is called too late in the process.

[2020-03-30 18:05] #90 closed

[2020-04-06 23:08] cescarsega commented on #92
Can anyone help me with the this? I can't seem to get passed the code not valid error after logging in with keycloak.
![image](https://user-images.githubusercontent.com/51525515/78613359-7f678a00-7820-11ea-8518-105292d3e3e2.png)
![image](https://user-images.githubusercontent.com/51525515/78613410-b0e05580-7820-11ea-8a9e-ac139e5dfc51.png)
![image](https://user-images.githubusercontent.com/51525515/

[2020-04-12 22:11] Arnold85 opened #175 "Checked "Identify with User Name" but new user created"
Hi everyone,
I'm no programmer and I think I just dont understand enough of how openId works.
What I want:
sell an e-learning course with woocommerce. When a new user is created I send an HTTP-request to Azure so that a user is created there aswell. In the end the user created in Wordpress is updated so that it has the same username as the user in Azure Active Directory.
With the "Identify with Us

[2020-04-12 22:58] connerbw commented on #153
#wontfix

[2020-04-12 22:58] #153 closed

[2020-04-12 23:09] daggerhart commented on #153
Hey @connerbw,

Sorry for the months of no-reply, I had my email filters setup wrong for most of last year and I missed a lot of issues.

I'm open to a PR that allows people to use one configuration for an entire network. I don't think we want to replace the current per-site configuration, as someone may be using that already to control sites differently. But if you still want to take a stab at a

[2020-04-12 23:37] connerbw commented on #153
It's OK.

I'm not working on this anymore. Pressbooks has another solution now.

Thanks for your hard work.

[2020-04-22 09:44] tzim-fr opened #176 "On multisite, plugin tries to create user even if exists on other site."
The function "get_user_by_identity" does not search user in whole multisite user base.

Adding             'blog_id' => 0 in the WP_User_Query found the correct user if it exists.
Thus, it permits to add needed rights (adding user to blog if needed) in openid-connect-generic-update-user-using-current-claim action.

Could this be corrected ?

[2020-04-22 12:22] daggerhart commented on #175
Is your WP a single site or multisite?

[2020-04-22 12:31] daggerhart commented on #168
I've moved the `openid-connect-generic-alter-user-claim` filter to the top of the method. You should be able to use that for your purposes now. Let me know if there is more to do here. And thanks again for the request!

[2020-04-22 12:31] #168 closed

[2020-04-25 15:18] ceefour opened #177 "Support custom post_logout_redirect_uri"
Currently the `post_logout_redirect_uri` is always `https://about.lovia.life/wp-login.php?loggedout=true&wp_lang=en_US`, which is not always desirable, and may cause error because it's not an allowed post_logout URI, e.g. with FusionAuth:

[code]

We should be able to customize the logout URI specifically, or just leave it empty (so the OIDC provider will determine where to go after logout).

[2020-04-27 08:59] sahnisani opened #178 "Access token not updated in WP user meta"
Hi guys,

first please let me say i'm not an experienced WP dev. In my project I log in users to WP via my Keycloak server and retrieve the access_token in my Angular custom elements from the WP user meta `openid-connect-generic-last-token-response` via WP ajax to authorize calls to my system.

This works like a charm, except that the access token in the user meta does not appear to be updated aft

[2020-04-30 03:53] kgbsmurf commented on #103
@bdegoy Thank you so much for explaining this.  I was banging my head against this "2" issue.  Makes complete sense.

[2020-05-03 13:56] TimoKunze commented on #141
Maybe it would be best to add a filter for customization of the username. The current implementation generates lower case usernames. I would like to have the same usernames as provided by the OpenID provider. Of course I can just change the plugin's source code, but this makes updating the plugin more complicated.

[2020-05-04 22:22] waqastravelervip opened #180 "ERROR: No authentication code present in the request."
Hello I have enabled the plugin on my WP website and using openedx as my validator. When I use my generic URI **https://waqas.datasciencedojo.com/openid-connect-authorize** it gives em below error and take me to login page. There I have a btn called 'Login with OpenID Connect' when I click that it takes me to edx and I log in and it successfully redirects to me to wp dashboard but why this issue i

[2020-05-05 12:46] ChaseHall opened #182 "Log out loop with keycloak"
I have require logged in to view site turned on, when I go to logout, it just "refreshes" the page, as it logs me right back in with OAuth from keycloak.

What can I do to actually sign out? (Ideally have it sign me out of keycloak)

[2020-05-05 13:00] daggerhart commented on #182
There is a setting named "End Session Endpoint URL" that should be usable. If you set that value to keycloak's logout url, then the user should get redirected there automatically when they perform a WP logout. (see: https://github.com/daggerhart/openid-connect-generic/blob/f401b3f53bf8f8a043fb51be4e6ed1be749fbb4a/includes/openid-connect-generic-client-wrapper.php#L51)

I don't know keycloak well e

[2020-05-05 13:07] ChaseHall commented on #182
I have the URL set, I should've included that sorry!

     https://sso.chasehall.design/auth/realms/realm/protocol/openid-connect/logout

This URL when directly visited *does* sign me out of keycloak, but I visit the WP site again and it keeps me signed in there.

[2020-05-05 15:39] ChaseHall commented on #182
Closing since it appears to work on my second wordpress site, I'm sure I just have this one setup in a stupid way.

Thanks for helping.

[2020-05-05 15:39] #182 closed

[2020-05-06 14:38] bpetersen1 commented on #177
This will be so helpful, I'm experiencing the same issue. If we could have a custom logout URI that would make life so much better.

[2020-05-12 21:29] nixnuex opened #186 "Timeout setting apparently not applied to request"
Once in a while, I get timeout errors with my OpenID provider (probably lagging/slow). Surprising: the error message highlights a value of 10 seconds, although the setting "HTTP Request Timeout" is set to 30 seconds:

`cURL error 28: Operation timed out after 10001 milliseconds with 0 out of 0 bytes received`

What could be the reason for this mismatch?

OpenID Connect Generic v3.5 with Wordpress

[2020-05-19 09:06] dband opened #187 ". and - are cut from the preferred_username"
Hi,

is there a reason why the plugin does not allow . and - in the username? They are normalized in 'get_username_from_claim' in openid-connect-generic-client-wrapper.
As far as I checked my Wordpress user table, WP should not have a problem with those characters.

Cheers
Daniel

[2020-05-22 08:14] benochen commented on #133
Good morning

I have submit a [PR](https://github.com/daggerhart/openid-connect-generic/pull/148) to propose a integration of this  but I receive no feedback. I'm sure you are busy but I would appreciate to know if it will be include or if I shall maintain my own version of the plugin to have this feature ?

Thanks

[2020-05-26 18:05] Olsm opened #188 "Error: Your client is configured to authenticate using CLIENT_SECRET_BASIC"
When using this plugin for Norwegian Bank ID from Signicat after signing in I get redirected to wp-login with the following error message: "Error: Your client is configured to authenticate using CLIENT_SECRET_BASIC"

How can I solve this issue? You may see the Signicat documentation for openid connect protocol here:
https://developer.signicat.com/documentation/authentication/protocols/openid-conne

[2020-05-27 09:16] Olsm commented on #188
The issue was that the default authorization method Signicat had was CLIENT_SECRET_BASIC which is the Authorization header Basic, and this plugin use the method CLIENT_SECRET_POST which is client id and secret in the body of the request.

I contacted Signicat about this and they changed to CLIENT_SECRET_POST and now it works fine.

Maybe you could add an option in the wp admin settings to choose b

[2020-06-07 03:54] Kiina commented on #143
It's kinda similar to #71 which basically is the same idea but not as precisely articulated. I think this would be an important addition as it makes setup a lot easier and faster

[2020-06-07 04:27] Kiina opened #192 "empty_user_login / Failed user creation"
Whenever I try to login a new user I get the empty_user_login message. I added gitlab as OpenID provider and this is the data returned (with the info removed for privacy):

[code]

This is the full error:
[code]

And these are my settings:
![image](https://user-images.githubusercontent.com/2419591/83960318-c6f1ad00-a887-11ea-84a4-5de415ee440c.png)

I also tried to uncheck and check `Identify with

[2020-06-08 13:27] timnolte commented on #149
@henrikmotzkus it seems according to a couple of responses on the [WordPress.org Support forums](https://wordpress.org/support/topic/azure-ad-redirect-url/) that there is a plugin setting to change the endpoint to the alternate redirect URL.

[2020-06-14 09:41] benochen commented on #133
Hi

Issue opened and PR submitted since several months . Is it possible to have a feedback ( or at least a timeframe in which this will be taking into account) or I will not have any chance to have this implemented in the regular plugin package updatable through wordpress  ?

Regards

[2020-06-14 13:37] daggerhart commented on #133
Hi Benochen,

I'll get this commited today and get an updated release out to wp dot org

[2020-06-15 10:36] daggerhart commented on #141
Merged the PR for periods and spaces. I'm open to a refactoring/writing of the username generation in general. Closing this issue for now. If there is another specific username related request, another issue is welcome.

[2020-06-15 10:36] #141 closed

[2020-06-15 11:06] #150 closed

[2020-06-15 11:29] daggerhart commented on #187
I've merged a PR that resolves this issue in 3.6.0

[2020-06-15 11:31] daggerhart commented on #169
This should be handled by enabling the SSO option. When the login approach is set to SSO, users will bypass the wp-admin page during login attempts.

Closing for now. Feel free to reopen if SSO isn't working as expected.

[2020-06-15 11:31] #169 closed

[2020-06-15 11:32] daggerhart commented on #175
Closing as stale. Please reopen if you have more specifics.

[2020-06-15 11:32] #175 closed

[2020-06-15 11:35] daggerhart commented on #163
I'm not clear on the exact issue here. If you can tell me where you put your custom code, maybe we could add a filter or something to help.

[2020-06-28 08:02] aupr commented on #92
this approach worked for me. After saved the settings when I tried for the first time it failed but it started to work from second request :)

[2020-07-01 23:15] timnolte commented on #149
For anyone else having problems I got this all working making sure to set the Identity Key to `upn` and I also opted to set the Nickname to `upn` also. I'm currently having problems authenticating guest users through Azure AD and so I'm working with an Azure AD admin to figure this out. With the `upn` setting users are able to login via SSO and have it connected to their existing account or a new

[2020-07-02 00:00] subrato30 commented on #169
hi @daggerhart

how would I handler editors who still need to login through the wp-admin link? We have 2FA enabled (a default requirement on WordPress VIP). When I enabled that option I had no way for admins & editors to login using wp-admin

[2020-07-02 01:47] timnolte commented on #149
I Wanted to provide an update since we had problems with guest logins. After reading through the documentation here:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc

I was able to get a proper configuration that works with Azure AD. If you pull up the "Discover Document" using:

https://login.microsoftonline.com/{tenant}/.well-known/openid-configuration

All of t

[2020-07-02 01:56] daggerhart commented on #149
Wiki is a great idea. It's enabled on the repo, but I could spend an hour or so this weekend putting some pages up.

[2020-07-02 02:08] timnolte commented on #149
Wanted to provide a good reference resource for testing and validating the Azure AD OpenID configuration. https://blogs.aaddevsup.xyz/2019/07/retrieving-user-information-from-azure-ads-userinfo-endpoints/

[2020-07-02 21:00] timnolte commented on #149
Another bit of interesting information. Apparently there are differences in the data included(and the field names) between the v1 and v2 APIs. You can see the differences in this document: https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens

When I attempted to use the v1 API I had to set my **Identity Key** to `email` and my **Email Formatting** likewise to `{email}`.

[2020-07-08 00:16] subrato30 commented on #166
hi @rajrsingh how did you put this button on anything other than wp-admin page?

[2020-07-09 22:13] jmac48210 opened #195 "Redirect error"
Have a query on the redirect. Everything has been working fine, up until recently when a session is created it is now redirecting to xyz.xyz/favicon.ico?session=1594458416 instead of the page that the sign in button was. We have had the plugin for two years, but now only getting this issue.

[2020-07-10 15:41] ashtonlance commented on #195
I'm having a similar issue where I'm being redirected to the homepage on login.

[2020-07-12 21:33] jmac48210 commented on #195
Did you click on the redirect  tick box? That is meant to take you back to the page that you were last on.

[2020-07-13 14:02] ashtonlance commented on #195
@jmac48210 I have that ticked -- however when I log in from a page that's not the home page it still redirects there when I login with my sso

[2020-07-13 23:13] jmac48210 commented on #195
I am having a different issue, occassionally goes back to home page, but other times it is calling the favicon, and presenting a blank page. When you type in the url again, it shows that it is logged in.

As I said previously, we had no issue for 2 years, now all of a sudden we are having the issue.

[2020-07-14 11:37] daggerhart commented on #195
@jmac48210  that is a really strange bug. Can you provide any logs for when the errors happen?

Any error messages you could provide would be helpful. We have a lot of messages enabled for logging, and it will help a lot to determine where things are going wrong in the auth flow.

[2020-07-14 22:48] jmac48210 commented on #195
This is the thing, it is not generating an error as it is recognising it as correct information.

We have two sites using the plugin, one site is working correctly the other site generates the issue described above.

I have updated to the latest plugin from 3.4 and same issue is occurring.

What I have noticed is it is taking a long time to login.

Type: login-successDate: 2020-07-14 22:46:34User:

[2020-07-15 08:26] scysys opened #196 "Incorrect user claim"
Auth is successful. Will redirect to the site, login and after redirect back i getting the error: "ERROR: Incorrect user claim".
[code]

[2020-07-15 22:25] jmac48210 commented on #195
Hi Jonathan, there is no error message as it is recognising that it is logged in. Even the logs on the plugin page show the origin page.

What we are noticing though it is taking 13-17 secs to log in to the SSO page, then another delay back to wordpress.

Is it possible that this could be the cause?

[2020-07-16 17:32] mbrowne commented on #71
To answer the question about "End Session Endpoint URL", I used this endpoint and it seems to work fine (although I don't actually know if it's doing anything on Google's end):

https://oauth2.googleapis.com/revoke

It's listed at https://accounts.google.com/.well-known/openid-configuration as the "revocation_endpoint".

[2020-07-18 07:57] yuzunay opened #197 "Wordpress links to wrong user"
Hi,
My openid authentication works without problem and can sign-in to my WP. However; it signs me with different user.  Signed in user is not included in any value of access and id tokens. In the settings I entered "sub" for user identification. So I expect to login with testuser. But cannot.  I changed username and add a new user to my WP. But no result. I appreciate you could help.

array(2) {

[2020-07-20 10:08] #196 closed

[2020-07-23 15:08] rzimmerr opened #198 "Group based authentication"
Is there a way to use group based authentication?  For example
If I add **groups** to the scope, can I authenticate or deny access based on which group a particular user belongs to.  I tried playing around with the user login test filter but I keep coming up empty.  I thought that if I used the example below, that if I am in the example.group, I shouldn't be allowed access to the site.  Any guidan

[2020-08-04 07:08] vikcheema commented on #186
I am also getting this issue on production env.

`object(WP_Error)#1312 (2) {
  ["errors"]=>
  array(2) {
    ["http_request_failed"]=>
    array(1) {
      [0]=>
      string(80) "cURL error 28: Operation timed out after 5000 milliseconds with 0 bytes received"
    }
    ["request_authentication_token"]=>
    array(1) {
      [0]=>
      string(40) "Request for authentication token failed."
    }

[2020-08-07 15:34] timnolte commented on #197
@yuzunay the WordPress account that you created for `testuser` did it also have it's email address set to `myname@gmail.com`? By default the identity it matched based on email address unless you check the box "Identify with User Name".

[2020-08-11 02:55] timnolte commented on #144
@daggerhart I'm working on a PR for this. Just doing some testing now.

[2020-08-11 13:10] timnolte commented on #154
@maganuk I'm actually needing this feature as well and will be submitting a PR to provide a means for configuring some of the settings using environment variables.

[2020-08-12 00:48] #144 closed

[2020-08-14 02:16] neerajtescra opened #205 "Back channel logout"
We wre trying to implement backchannel logout but unable to get it through.
We are using Itendtity Server 4 on .net core 3.1

Scenario is lets say wordpress site as "Site A", another .net core application as "Site B".
User logs in using "Site B" and Navigate to "Site A", he is already logged in. Working as expected.
User logs in using "Site A" and Navigate to "Site B", he is already logged in. Wor

[2020-08-16 03:31] aupr commented on #205
I am also getting the same problem with Keycloak :(

[2020-08-17 11:44] ivg20 opened #206 "Add a Super User bypass to standard Auto Login SSO"
Whilst using the "Auto Login - SSO" login type, there are some situations where we may need to have an escalated user be able to login via the standard Wordpress login as users not tied to the Authentication domain for example Super Admin roles or Guest roles.

In a previous plugin used for the purpose of SSO, we had the ability to trigger such a login by directing our browsers to an url such as:

[2020-08-17 18:49] neerajtescra commented on #205
Hope to hear from someone who has a solution. Currently my project is stuck and planning to go with a different approach on integrating wordpress with our product. :(

[2020-08-18 04:36] jmac48210 commented on #195
Anyone able to help with this at all????

[2020-08-18 04:38] jmac48210 commented on #195
It will not redirect back to origin page after logging in at all. Just keeps going back to home page. User is logged in

[2020-08-18 09:12] jmac48210 opened #207 "Redirect back to Origin page not working"
Hi all,

Having a bit of an issue. Have been using 3.6.0 version for about a month after errors occurred in an earlier version.

I am able to get the member to login, however, it will only redirect back to the home page instead of going to the origin page.

Can some one help please. Under pressure from boss.

[2020-08-18 15:16] yuzunay commented on #197
Yes @timnolte  email address is correct. I also checked 'Identify with User Name'. I tested both (unchecking Identify with User Name) but still connects with another user.

[2020-08-18 21:45] ohmoreno opened #208 "PKCE Support"
Hello,

Do you have plans to implement PKCE support?

[2020-08-19 03:51] jmac48210 commented on #207
Furthermore to this when I change the wp_redirect( home_url() );  to a specific page, it will take me to the specific page after login.

I am wondering if there is something preventing COOKIES. I am running two sites and one site is running completely fine

	if( $this->settings->redirect_user_back && !empty( $redirect_url ) ) {
			do_action( 'openid-connect-generic-redirect-user-back', $redirect_u

[2020-08-20 02:33] timnolte commented on #197
@yuzunay are you able to look at all of your user data. Every user has a meta key `openid-connect-generic-subject-identity` added with the value of the matching identity. This is added when a user logs in for the first time through SSO. Once a user is authenticated this is the key that is used to match to the WordPress user. I suspect that the user that is getting authenticated improperly has the

[2020-08-20 02:35] timnolte commented on #208
@ohmoreno at the moment there is not a clear road map for future enhancements. We'll add this as a future enhancement to consider.

[2020-08-20 03:22] timnolte commented on #207
@jmac48210 what browser are you using? If you are using Google Chrome can you check the the Developer Tools and take a look at your cookies when the page you are logging in from is loaded? Look for the cookie key `openid-connect-generic-redirect` and check that the value matches the page you are on. When your IDP redirects your user back to your site the callback processing should be checking for

[2020-08-20 04:32] timnolte commented on #206
We can definitely look at adding either a query parameter or a hook to accomplish that. We'd want to add something around here: https://github.com/daggerhart/openid-connect-generic/blob/dev/includes/openid-connect-generic-login-form.php#L43

[2020-08-20 04:45] timnolte commented on #205
This is something we could look at adding. You could also easily add your own MU Plugin to add say a REST API endpoint for logging out a user. Something like the following: https://gist.github.com/justingreerbbi/768f1effcca69b4098c9d0f7731deba0

[2020-08-20 21:26] yuzunay commented on #197
Thank you very much @timnolte when I delete meta key it is resolved.

[2020-08-20 22:36] #197 closed

[2020-08-21 03:56] ohmoreno commented on #208
OK, I'll be looking forward to it.

I'll give it a good read so maybe I can be of help.

Thanks.

[2020-08-23 20:26] timnolte commented on #198
@rzimmerr I thought that I had replied to this but it looks like I hadn't. I have just published a repo with must-use plugin example that should show you how this can be accomplished. I will soon be putting together an official Wiki page that gives examples of this as well.

Example: https://github.com/timnolte/oidc-keycloak-sso/blob/master/oidc-keycloak-custom.php

[2020-08-25 02:15] timnolte commented on #195
@jmac48210 take a look at my notes here: https://github.com/daggerhart/openid-connect-generic/issues/207#issuecomment-676932131

Are you able to check into any of the questions I ask there?

[2020-08-25 02:18] jmac48210 commented on #207
Hi Tim

Sorry I have only just seen this. I will look at this this afternoon. Thank you and will be intouch

[2020-08-25 02:21] timnolte commented on #195
Duplicate of #207

[2020-08-25 02:21] #195 closed

[2020-08-25 22:47] jmac48210 commented on #207
Hi Tim

from what I can see, no cookie-key is showing openid-connect-generic-redirect
![image](https://user-images.githubusercontent.com/68085657/91235370-c37c0c80-e778-11ea-9023-bfd467e40120.png)

[2020-08-25 22:50] jmac48210 commented on #207
On our other site the openid-connect-generic-redirect is there

[2020-08-25 22:55] timnolte commented on #207
@jmac48210 hmm, OK. Can you provide me some additional details:

- PHP Version
- WordPress Version
- OpenID Connect Plugin Version
- Hosting Provider
- OIDC Identify Provider
- The list of all other WordPress plugins installed
- Any Must-Use Plugins installed
- WordPress Theme installed
- Browsers, and their versions, tested

I don't recall if you mentioned if you've tried disabling all other plug

[2020-08-25 22:56] timnolte commented on #207
OK, I'd be interested to know what is the difference between the 2 sites.

[2020-08-25 23:10] jmac48210 commented on #207
Both sites connect to the same OIDC, this is our membership database. Its called Unison/uActive

Site with problems
PHP - 7.2
Wordpress version - 5.4.1
OpenID Connect - 3.6
Hosting Provider - Amazon
Plugins and must-use
- ACF
-Buzzsprout
- Classic editor
- Cool timeline pro
- CPT UI
- Gravity Forms
- Ninja Tables
- OpenID Connect
- Posts in page
- redirection
- shortcake (shortcode ui)
- slider re

[2020-08-25 23:41] jmac48210 commented on #207
and yes I have disengaged each plugin and same result.

Also, have tested the using the second sites theme, plus the standard default themes and have same result.

The only change I have now made now is
else {
		wp_redirect( home_url() );

to go to the members area instead of home page as a short term solution.

[2020-08-25 23:44] timnolte commented on #207
@jmac48210 are you saying that the 3.6 version of the OpenID Connect Plugin was customized by someone to get it working with your IDP?

[2020-08-25 23:48] jmac48210 commented on #207
3.3.1 was customized with same code for both sites to connect IDP.

3.6.0 needed the same to connect to IDP,

[2020-08-25 23:59] jmac48210 commented on #207
the below was changed in 3.3.1 and copied to 3.6.0 in the openid-connect-generic-client.php

![image](https://user-images.githubusercontent.com/68085657/91239363-b106d080-e782-11ea-9ea5-b9cab3b6b0cd.png)

and

![image](https://user-images.githubusercontent.com/68085657/91239372-b7954800-e782-11ea-8aa8-802ed2f58079.png)

[2020-08-26 00:09] timnolte commented on #207
OK, so the plugin code should have never been edited directly and instead custom code should have been written to to use the pligin's provided hooks and filters. Can you provide me with zip files of the entire plugin directories for both plugin versions?

[2020-08-26 00:13] jmac48210 commented on #207
Not a problem, this is what the third party did originally to 3.3.1

new is 3.6
old is 3.3.1

[openid connect new.zip](https://github.com/daggerhart/openid-connect-generic/files/5126864/openid.connect.new.zip)
[openid connect old.zip](https://github.com/daggerhart/openid-connect-generic/files/5126865/openid.connect.old.zip)

[2020-08-26 00:30] timnolte commented on #207
So from what I can tell from the screenshots you provided, the code changes that were made were done to support the Basic Authentication method of connecting to the the IDP, which is not recommended but is part of the OpenID standard (https://tools.ietf.org/html/rfc6749#section-2.3.1). What I think will be best is to create an enhancement to plugin to support this standard. I can see where some of

[2020-08-26 00:33] jmac48210 commented on #207
Hi Tim

Thats what my assumption was last week, especially when I was able to change the redirect to siteurl/members-area.

Unfortunately I am bot in control of the IDP and not involved in the project at all.

Thank you for your help

John

[2020-08-26 03:18] timnolte commented on #207
@jmac48210 I can't quite confirm it, but the code changes made to the `includes/openid-connect-generic-login-form.php` file to add `Cache-Control` headers when generating the login button, could be preventing the redirect cookie from being set in the browser. If you remove line 156, `add_action('init', 'test');`, from your edited version of the plugin does that fix the problem?

Ultimately, what I

[2020-08-26 03:34] jmac48210 commented on #207
Now this is strange,

for a very short time, effectively 1 instance, openid-connect-generic-redirect appeared and had %/wp-admin appearing and on using the login for a test member, it went to the home page.

it is now not appearing again

[2020-08-26 03:37] timnolte commented on #207
For additional reference, as I may change this issue into a request for supporting Basic Authentication.

https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication

A plugin setting to toggle between `client_secret_basic` & `client_secret_post`/`client_secret_jwt` is what would probably be implemented.

[2020-08-26 03:39] timnolte commented on #207
@jmac48210 was this after removing the code I mentioned that is adding the `Cache-Control` headers?

[2020-08-26 03:44] timnolte commented on #208
Adding here for reference: https://tools.ietf.org/html/rfc7636

[2020-08-26 03:49] timnolte commented on #207
The request to implement `client_secret_basic` was made on issue #188

[2020-08-26 03:52] timnolte commented on #188
In #207 the plugin had been changed by an outside source to support `client_secret_basic`(https://github.com/daggerhart/openid-connect-generic/issues/207#issuecomment-680512319) so there is a real need to officially support this configuration. The current plugin hooks don't make it possible to implement this.

[2020-08-26 03:58] jmac48210 commented on #207
so when i commented out line 156 add_action('init', 'test');

I had one instance of  openid-connect-generic-redirect

subsequent attempts there was no reference to openid-connect-generic-redirect

each login attempt took me back to home page (was logged in) instead of either, the referring page or going to member area.

[2020-08-26 04:10] timnolte commented on #88
https://github.com/openid/php-openid has been updated in the last 4-5 months so it does seem to still be maintained.

[2020-08-26 04:11] timnolte commented on #164
Role mapping can be accomplished using the current hooks. I have an example that I put together mentioned here: https://github.com/daggerhart/openid-connect-generic/issues/198#issuecomment-678820838

[2020-08-26 04:14] timnolte commented on #164
After working through configuring the plugin to user Azure AD, Salesforce, and Keycloak, I can say that it is not a universal thing to map IDP roles to WordPress roles. We will be planning on adding additional support and examples to the Wiki in order to assist with this type of request.

[2020-08-26 06:18] jmac48210 commented on #207
would it be possible to do a zoom meeting for this please.

[2020-08-26 20:42] ohmoreno commented on #208
I also found a couple of examples:

http://hosting.zaonce.net/docs/oauth2/instructions.html

https://auth0.com/docs/api-auth/tutorials/authorization-code-grant-pkce

[2020-08-30 22:21] jmac48210 commented on #207
Hi Tim just liaising with the IT department on this be in contact soon.

[2020-09-02 16:01] GloverLab opened #212 "Authenticate by email if $subject_identity doesn't match"
I have a Wordpress installation in which I have created several users, all within the cam.ac.uk domain.
Cam.ac.uk has its own authentication system (Raven) which can be used with OpenID Connect/OAuth.
If I don't have the 'create user' checkbox checked, then when I use Raven (connected to OAuth/OpenID Connect) to log in, it gives the query string error 'login-error=identity-not-map-existing-user&me

[2020-09-04 12:11] ndebeiss opened #214 "username-transliteration-failed on alpine docker wordpress"
Alpine does not support 'ASCII//TRANSLIT' to-code option :
`iconv: destination charset ASCII//TRANSLIT: Invalid argument`

so the line of code :
`$transliterated_username = iconv( 'UTF-8', 'ASCII//TRANSLIT',  $desired_username );`

does not work and I have the message "Username ... could not be transliterated" when returning to the wordpress login page

It should be great if it could detect the su

[2020-09-05 01:11] haneef95 opened #215 "Experiencing issues using Azure AD with this plugin"
Hi,

Firstly, I have to say... This is a great plugin! Really appreciate it.

However, I'm facing some issues at present.

# Desired operation
1. Only allow users who are already on WordPress to login, as we would like to add users to WordPress manually. (`link_existing_users`)
2. The common identifier should be the email address as the username in WordPress is not the same as any of the attribute

[2020-09-05 02:16] timnolte commented on #215
@haneef95 so the very first thing I see is that you are using inconsistent endpoint versions. You are using v2 of the token endpoint, and the user info endpoint, but the older version endpoint for your authorization. I'm also not seeing your tenant ID in the endpoints so it seems like you are attempting to simply authenticate via O365 and not your true Azure AD service. If you truly don't have an

[2020-09-05 02:33] timnolte commented on #212
@GloverLab you shouldn't need to edit the plugin code to accomplish what you are attempting. You can simply use the `openid-connect-generic-user-login-test` hook(https://github.com/daggerhart/openid-connect-generic#openid-connect-generic-user-login-test) to write your own logic for validating the user should login. Then you can use the `openid-connect-generic-update-user-using-current-claim` hook(

[2020-09-05 02:40] haneef95 commented on #215
# Update on issues
1. This issue still exists

2. I've managed to get the `oid` onto `openid-connect-generic-last-id-token-claim` now, by adding `profile` to the scope.
   - However, the plugin is still not treating the `oid` as the `openid-connect-generic-subject-identity`, to link with the WP `user_id`.
   - I tried removing the `endpoint_userinfo` URI, that results in `openid-connect-generic-la

[2020-09-05 02:47] timnolte commented on #215
@haneef95 what endpoints are you now using?

[2020-09-05 08:24] GloverLab commented on #212
It looks like `openid-connect-generic-user-login-test` will let me control whether the user _should_ be able to log in or not (and kick out poor Terry), but if I use that hook to test for the presence of a user with the correct email address but who doesn't have the required wp_usermeta key (`openid-connect-generic-subject-identity`) and return TRUE if the user exists in the database, I still get

[2020-09-05 09:28] haneef95 commented on #215
Thanks for your swift responses @timnolte.

Apologies, didn't see your first response by the time I had submitted my 2nd comment.

I have now changed my configuration as per your recommendation (I hadn't realised the v1 and v2 mismatch). Additionally, I have also changed the `identity_key` to `email`

# Current config `openid_connect_generic_settings`
`a:25:{s:10:"login_type";s:6:"button";s:9:"cli

[2020-09-06 03:41] timnolte commented on #215
@haneef95 I'm going to do some testing on this. It's possible this might be related to #212

[2020-09-06 04:21] timnolte commented on #212
@GloverLab I'm going to do some further testing as this seems like it might be related to an issue described in #215 with the Create Users option not being checked.

[2020-09-06 06:55] GloverLab commented on #212
Great, thanks. For the avoidance of doubt, I don't want to create users on the fly - I've disabled user registration on the site and don't want people to be able to do that themselves; that's how I can control access.

[2020-09-07 19:42] #154 closed

[2020-09-09 21:00] haneef95 commented on #215
The subject identity seems to have been hard-coded here, as opposed to it being identified based on the id key that we provide in the user interface.

I guess, sub can be the fallback if the identity_key is empty.

		return $id_token_claim['sub'];
https://github.com/oidc-wp/openid-connect-generic/blob/f7b74892d04cafcc42368e95b80624cfa149e205/includes/openid-connect-generic-client.php#L530

[2020-09-11 16:23] pdotnet opened #233 "redirect-user-back action is no longer firing after successful login"
I have a site that was set up in January of this year and has been working until recently.  Authentication is still working.  New users from our OAuth provider are still getting logins created.  But role permissions are not being set.

I'm using filter '**openid-connect-generic-user-login-test**' to perform membership tests against the claim.  And then using the action '**openid-connect-generic-re

[2020-09-15 20:56] timnolte commented on #233
@pdotnet sorry for the delay in responding to the issue. Can you confirm if this issue exists with version 3.6.0 of the plugin? There were some enhancements related to login redirection in 3.7.x and this may have unknowingly introduced and bug.

[2020-09-15 20:59] timnolte commented on #233
@pdotnet also did this issue start happening after the update to WordPress 5.5.x? There were a lot of sites that started having issues due to some of the changes in WP 5.5. Our plugin doesn't make use of jQuery so that shouldn't have caused a problem for out plugin directly. There should be a cookie(`openid-connect-generic-redirect`) set in the users browser that is used when the user returns to t

[2020-09-15 21:03] timnolte commented on #212
@GloverLab I haven't forgotten about your issue. I need to check the OpenID Connect standards on the piece concerning the Subject Identity. The goal of the plugin is to attempt to match existing users but the Subject Identity is used after authentication as the main key for association with the IDP for future lookups and for token refresh as the Subject Identity is what the IDP would be looking fo

[2020-09-15 21:06] GloverLab commented on #212
OK, thanks! I could very definitely update the existing user to add the $subject_identity key after a successful first-time login, using the `openid-connect-generic-update-user-using-current-claim` hook, but it's the initial login that's the current stumbling block. Thanks!

[2020-09-18 18:59] pdotnet commented on #233
Thanks for your reply.  I'm guessing this happened when our WordPress site got updated to 5.5.1 because that's really the only thing that's changed in our environment other than adding usual content.  I only started using the OpenID Connect Generic plugin starting from version 3.7.1 so I can't comment on 3.6.0.  Are you suggestion I roll back to 3.6.0?  I'm open to try it, but would need assistanc

[2020-09-18 20:47] timnolte commented on #233
@pdotnet I would try to downgrade your site to WordPress 5.4.2 and see if the problem goes away. We haven't completed testing with WordPress 5.5.x to confirm 100% compatibility.

[2020-09-23 18:41] pdotnet commented on #233
@timnolte I looked into it and unfortunately this isn't possible due to our site being a "managed" Wordpress hosted site.  We can't control when they install updates either.  I realize this isn't ideal when having such important plugin dependencies but it's the situation we're in, at least for the time being.

Is there any other action I can hook into and do the redirect logic in there?  For examp

[2020-09-23 20:37] timnolte commented on #233
@pdotnet if you are going to redirect the user to a static place then yes you can use the `openid-connect-generic-redirect-user-back` action hook to take the user to where you want them to go. If you truly want the user to go back where they originally started there is no way to do this without the cookie being set as that is the only place that location is stored.

[2020-09-23 21:04] pdotnet commented on #233
@timnolte Yes it's a static location I'm redirecting to, one of two possibilities depending on a value in the claim response.
However the original issue above is that `openid-connect-generic-redirect-user-back` action is no longer firing.  That's what I was doing before it stopped working and led me here.

So I'm wondering if there is an alternative approach.  What is the action / filter that gets

[2020-09-24 02:22] timnolte commented on #166
@rajrsingh & @subrato30 it has been some time with no response however, you can still use the shortcode in your custom code. You simply need to use the WordPress [`do_shortcode`](https://developer.wordpress.org/reference/functions/do_shortcode/) method.

[2020-09-24 02:22] #166 closed

[2020-09-24 02:31] timnolte opened #235 "Undocumented Filters"
There are 2 filters that have gone undocumented since their inclusion in the code.

`openid-connect-modify-token-response-before-validation`
https://github.com/oidc-wp/openid-connect-generic/blob/7560701348e004f09df7c831d0703e0bcc173ca2/includes/openid-connect-generic-client-wrapper.php#L365

`openid-connect-modify-id-token-claim-before-validation`
https://github.com/oidc-wp/openid-connect-generic

[2020-09-24 02:34] #164 closed

[2020-09-24 02:35] #155 closed

[2020-09-24 02:36] #149 closed

[2020-09-24 02:37] #81 closed

[2020-09-24 02:45] timnolte commented on #57
@daggerhart we should consider changing how the redirect URL is managed and follow the example by some other code(looks like sort of a fork) mentioned here: https://github.com/oidc-wp/openid-connect-generic/pull/59#issuecomment-417364549

As I've read into more about the OIDC protocol it is very common, and seems like best practice, to encode things like the redirect URL into the state which can t

[2020-09-24 11:19] timnolte commented on #233
@pdotnet you should be able to use the `openid-connect-generic-user-logged-in` as it fires right before the redirect user hook. Taking a quick look at the code and I can see where the redirect hook is only able to fire if there was a redirect URL provided from the cookie specifically.

There has been some issues in the past with the cookie-based approach to managing the redirect URL. There is a su

[2020-09-24 20:44] JoseOchoaITH commented on #208
It would be really nice to have the PKCE support in order to be more secure

[2020-09-25 11:20] DDouteaux commented on #178
Hi,

Not part of the development team, but we append to have the same issue here (access_token given by Keycloak and used by a VueJS app after). The only workaround we found was to update the method `ensure_tokens_still_fresh` in the class `OpenID_Connect_Generic_Client_Wrapper` of the plugin by adding `update_user_meta( $user_id, 'openid-connect-generic-last-token-response', $token_response );` b

[2020-09-25 19:37] Oaparecido commented on #235
Hello, basically is it to change the project's README.md documentation?

[2020-09-27 12:07] timnolte commented on #235
@Oaparecido I updated the issue description with some clear direction. Thanks!

[2020-09-28 14:16] Luzaan opened #237 "openid-connect-authorize Page Not Found"
Hi,

Firstly let me thank you for the plugin up to now, it seems that it is the type of authentication I would need.

I have setup the app registration in Azure, and I have installed and configured the plugin on Wordpress.
On Wordpress I have checked the "Alternate Redirect URI" checkbox as in Azure I cannot use the default.

My redirect uri is: https://xxxxxxxxxxx.com/openid-connect-authorize

Wh

[2020-09-28 14:39] timnolte commented on #237
@Luzaan hmm, I'm assuming you navigated to the Permalinks page and made sure to perform a Save there to update the site Permalinks after changing the OpenID Connect plugin setting? I'm also unsure why you can't use the default redirect URI with Azure as I've setup 30+ sites with Azure AD using the default redirect URI.

[2020-09-28 15:26] Luzaan commented on #237
Thank you very much for the reply!
I can't believe I forgot to save the permalinks! That was that problem. Thank you!

Regarding the Azure matter - if I use https://xxxxxxxxxxx.com/wp-admin/admin-ajax.php?action=openid-connect-authorize
as redirect URI in Azure Portal under App Registration, then Azure gives me the error:
"Error detail: URL may not contain a query string."

I am now getting the fo

[2020-09-28 16:50] Luzaan commented on #237
Thank you very much I did manage to get this resolved. I do however have an issue I cannot resolve yet with regards to existing user signon, but i will open a new issue should I not make any progress.

Thank you again for your great plugin and help.

[2020-09-28 16:50] #237 closed

[2020-09-28 17:12] timnolte commented on #237
@Luzaan that is very strange since I have many examples of this working. I'm wondering if there is something different with how you created your App versus my setups. What I've seen done, and done myself in my development Azure AD is to create an Enterprise Application, not just an Application Registration. Do you go through creating an Enterprise Application?

[2020-09-28 18:01] Luzaan commented on #237
@timnolte no I did a normal Application Registration. I will try the Enterprise Application as well. Thank you.

[2020-10-02 18:04] srhpolansky opened #238 "This link you followed as expired"
After I enable the plugin, I often run into an issue where I'll click to edit a post or disable/enable a plugin and I'll get redirected to a page that says "This link you followed has expired". After hitting "Try again", I just run into this endless loop. If I open the site in incognito mode, I can usually get far enough to disable the plugin, make the changes I need to, and then enable it again.

[2020-10-03 03:02] timnolte commented on #238
@srhpolansky this sounds like possibly a big. I've updated your issue description with more items to be filled out to further debug the issue. Can you please fill that out by editing the description? Thanks!

[2020-10-06 17:43] srhpolansky commented on #238
@timnolte Updated the ticket with the info you asked for. I left the site blank since it is a company site and I'm hesitant to post the link on a public thread. If you need it, perhaps I can directly message it to you. Let me know if you need anything else. Thanks!

[2020-10-07 19:56] eriksays commented on #206
this would be a great addition

[2020-10-09 13:56] eriksays opened #240 "accessing openid-connect-generic-last-id-token-claim upon user creation"
A question on matching AD user roles to wordpress roles upon user creation.

My azure AD application is sending a users AD groups as part of the id_token, and not the access_token

It seems the id_token is stored as the user meta 'openid-connect-generic-last-id-token-claim' upon user creation'

however, this does not seem to be available when using add_action('openid-connect-generic-user-create

A

[2020-10-10 02:05] timnolte commented on #240
@eriksays yes, this is currently a limitation as I've worked through this issue for a client recently. I just added a [Wiki page](https://github.com/oidc-wp/openid-connect-generic/wiki/Azure-AD-Role-Mapping) with details on how to manage user role mapping with Azure AD that I have working. It's not the ideal solution but it does work.

[2020-10-10 03:13] timnolte commented on #238
@srhpolansky have you confirmed that the link expired issue only occurs when this plugin is active, and I mean does the issue go away if you disable this plugin? Also can you confirm what your `max_execution_time` time is set to on your server. When this error occurs it is usually related a failure to verify the nonce when submitting a form. Another possibility is to check and see if disabling the

[2020-10-12 13:29] eriksays commented on #240
@timnolte thanks for your response.

I resolved this issue by using the 'wp-login' action
`function map_role_to_user($user_login, $user) {
    //do stuff
    assign_user_roles($user);

}

add_action('wp_login', 'map_role_to_user', 10, 2);`

The 'assign_user_roles($user) function would use: $user_claim = get_user_meta($uid, 'openid-connect-generic-last-id-token-claim'), same as your example code, t

[2020-10-12 13:49] timnolte commented on #240
@eriksays I'm assuming you mean the `wp_login` action hook. I'm assuming you are having to still logout/login the user after updating their roles just like I did right? I'm not seeing where the new roles would be applied at this point. I need to trace back where `wp_signon()` is called so perhaps the user will get the new roles. I'm wondering if the `authenticate` filter(https://developer.wordpres

[2020-10-12 13:57] eriksays commented on #240
@timnolte on testing, the wp_login action hook did update the role for the current session.

[2020-10-12 15:34] srhpolansky commented on #238
1. Can confirm the issue goes away when the plugin is disabled.
2. Where would I find the max_execution_time?
3. Disabling the Refresh Token **does not** make a difference.
4. Azure Endpoints version 2.0

[2020-10-16 17:00] upachler commented on #205
Hi, I'm currently evaluating to implement backchannel logout (BCL). We're using Keycloak, which currently (<12.0.0) does not have an OIDC-compatible BCL feature (but it's not far off). Keycloak 12.0.0 implements BCL (https://issues.redhat.com/browse/KEYCLOAK-2940), but we currently can't upgrade.
I'll keep commenting on this thread how I'm going; currently I'm basing my experiments on 3.8.0.

[2020-10-16 18:55] #240 closed

[2020-10-20 06:35] upachler commented on #205
I'm currently trying to model the Keycloak specific logic on the alternate_redirect_uri feature, however, I'm currently finding that the feature doesn't work, at least not on my installation with Wordpress 5.1 (vanilla, directly pulled from dockerhub).
Are there any known issues with that? When I get redirected back from the OP (Keycloak) to the redirect uri, I get 404 from wordpress after that (a

[2020-10-20 15:59] upachler commented on #208
this would also help my effort for backchannel logout (#205), because as per the BCL spec, Section 2.6, the BCL token needs to be validated:
https://openid.net/specs/openid-connect-backchannel-1_0.html#rfc.section.2.6

[2020-10-20 17:01] upachler commented on #205
I cloned the repo and branched it on the 3.8.0 tag: https://github.com/upachler/openid-connect-generic/tree/feature/backchannel-logout

Further tests need to follow, but with fake BCL tokens I could already trigger the logout with this.

What still concerns me is the current lack of token validation in the plugin. I see that so far there was no requirement demanding it, as the ID token is directly

[2020-10-21 02:25] timnolte commented on #238
@srhpolansky I'm looking into this some more. After some additional review I'm thinking this may be caused by a combination of the Refresh Token option, as well as the "Redirect to the login screen when session is expired" option. The session expired option is tracking if the access token has expired. I believe the access token expiration may be forcing the WordPress session to be terminated. I'm

[2020-10-21 02:31] timnolte commented on #238
Noting that this may be related to an older open item, #178 , where the access token is not being updated during the token refresh. If that is the case when the token refresh occurs the access token expiration is not being extended.

[2020-10-22 12:13] Luzaan opened #242 "How to get User Information from Azure?"
Hi,
Thank you again for the plugin!

How can I get the Azure AD user information of the user logged in through this plugin?
In this case I am specifically looking for the unique user object ID that is linked to the user in Azure AD.

The reason for this is that I am using this plugin on multiple sites for SSO, however the WordPress User ID is different on each site and I need to be able to have on

[2020-10-22 12:48] timnolte commented on #242
@Luzaan the data from Azure AD will be in the Access Token, which is accessed in the plugin hooks that use the `user_claim`, such as the `openid-connect-generic-update-user-using-current-claim` [hook](https://github.com/oidc-wp/openid-connect-generic#openid-connect-generic-update-user-using-current-claim). This is also stored in the user's metadata as mentioned here: https://github.com/oidc-wp/ope

[2020-10-22 12:53] Luzaan commented on #242
Thank you very much @timnolte Much appreciated!

Please excuse my "slowness" here, but how can I reference the access token from a plugin I am writing?

[2020-10-22 12:57] Luzaan commented on #242
Quick follow-up Thank you very much! I got much information in the meta key - openid-connect-generic-last-user-claim.

Is the sub permanent? will it never change?

[2020-10-22 16:35] upachler commented on #205
@timnolte @daggerhart, what's your opinion on this?

[2020-10-22 17:05] drzraf opened #243 "user-creation failed if claims does not contain nickname_key (3.8.0 regression)"
**Describe the bug**
Before 3.8, `get_nickname_from_claim` would return `null` if `nickname_key` (eg: `preferred_username`) was absent.
`create_new_user` would, in turn, just set `$values_missing` or omit setting `$nickname`.
The user-creation wasn't stopped giving a chance for `get_displayname_from_claim`.

With https://github.com/oidc-wp/openid-connect-generic/commit/78ede5dffbb74c9e6a0c007d1510

[2020-10-22 19:48] daggerhart commented on #205
I like the idea of supporting the JWS mitigation approach. Not sure what it'll take to implement atm, but that seems like the right one to me after reading through this and links.

[2020-10-22 21:59] timnolte commented on #205
JWS validation would be the preferred way to go. I'm concerned about the initiation since the WordPress cron is based on site visits and has potential misses. I'm already concerned that we already have a token refresh issue related to this already. If a site admin sets up a server-based cron then it's more reliable, but I'm not sure that every site admin is going to be able to set that up. I'll gi

[2020-10-22 22:33] timnolte commented on #242
@Luzaan here is the Access Token documentation for Azure AD. https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

It very clearly states that the `sub` is unique for the user per client ID. This means that if you have 2 different WordPress sites, each with their own client ID, the `sub` would be different for the same user logging into each site.

[2020-10-22 22:44] timnolte commented on #243
@drzraf thanks for reporting this, and your analysis. We'll work on a fix.

[2020-10-23 11:29] upachler commented on #205
Thanks @timnolte. For now, we'll be accepting the DOS, in terms of threat modelling it won't pose a high risk for us. I'm currently testing in our WP installation, and update this thread when I have news.

[2020-10-23 16:21] srhpolansky commented on #238
Thank you for the update! Let me know if there is anything I can do on my end!

[2020-10-23 17:16] timnolte commented on #238
@srhpolansky can you confirm if turning off the option to send users to the login page when the session expires fixes your issue? I'm testing this as well.

[2020-10-23 19:10] upachler commented on #205
@timnolte @daggerhart : I have a working implementation for my case now (Keycloak 4.8). This is still untested for standard OIDC BCL, even though I've implemented a code path for it. I home someone with a compliant implementation can test this.

In order to get the KC 4.8 solution working, the following config steps are needed:
* check the new checkbox in the settings page (look for Keycloak there

[2020-10-23 19:14] timnolte commented on #205
@upachler if you submit a PR I can install in a Dev environment and test against Azure AD & Google Workspace as I have access to both of those.

[2020-10-26 08:21] Luzaan commented on #242
Thank you very much!

[2020-10-26 08:21] #242 closed

[2020-10-26 09:19] upachler commented on #205
Hi, opened the PR as requested. It is created against 'main' as I've based my changes initially against 3.8.0, hope that's ok. If not I can have a look into rebasing them against 'dev'.

[2020-10-26 10:29] timnolte commented on #205
@upachler sorry, but you must do your work in a feature branch off of `dev`. If your work started with `main` then you will need to start over with a branch from `dev`.

[2020-10-26 10:32] Luzaan opened #245 "How to use the received token with WP Rest API"
Hi,

I am trying to use the access token received to create a new post with WP REST API, but I am not succeeding.

I have tried the following:
![image](https://user-images.githubusercontent.com/58984674/97161463-8935e800-1786-11eb-8c6c-552aaf5b31b7.png)

As well as tried on Postman:
![image](https://user-images.githubusercontent.com/58984674/97161632-c4381b80-1786-11eb-8f95-148de46e5d25.png)

What

[2020-10-26 13:24] upachler commented on #205
geez. feared as much. I was able to merge the changes into dev and issued a new PR. The old one is closed.

[2020-10-29 17:10] srhpolansky commented on #238
Can confirm that turning off the option to "Redirect to the login screen when session is expired" does **not** fix the issue

[2020-11-10 14:59] Kiina commented on #109
Anyone ever found a solution? I'm using gitlab to login, everything works fine but as soon as I try to do something in my mainwp dashboard I get the doorkeeper `invalid_grant ` error and the action can't continue.

[2020-11-10 23:25] timnolte commented on #109
@Kiina this wasn't on my radar. I have a testing environment setup to connect to OIDC providers. I'll see if I can setup a connection to GitLab and perform some testing, after I read through this issue.

[2020-11-12 13:13] Kiina commented on #214
Just fyi if anyone wants to use alpine but encouters this issue:

[code]

to your Dockerfile and it should work.

[2020-11-12 13:17] Kiina commented on #109
With normal login or other providers (tested google now) it works without issues, but gitlab seems to have some. The most consistent way I found to trigger this issue is with a mainwp dashboard using the "sync dashboards with child sites". It will fail on gitlab as a provider but not with google or normal login.

[2020-11-14 17:19] GloverLab commented on #212
Hello - Any progress on this one? I'd love to be able to take advantage of future updates to the plugin, but I can't set it auto-updating at the moment. Thanks!

[2020-11-16 13:14] lucasmkrolow commented on #92
I'm facing the same issue.
I'm trying to use Nextcloud as login server, it worked using the MiniOrange Plugin, but that plugin is giving me truble with another plugin.
I already disabled refresh token, but no success, already tried using openid scope, but Nextcloud doesn't support scope (could this be the problem?)
I really need this to work, could anyone give me some hint?

[2020-11-16 23:23] timnolte commented on #92
@lucasmkrolow does Next loud actually support the OpenID Connect standard. Mini Orange also provides solutions for SAML which is not the same thing as OpenID Connect. Can you provide a list of the configuration parameters that are available in NextCloud and what OpenID Connect configuration documentation for NextCloud that you are using?

[2020-11-17 15:09] lucasmkrolow commented on #92
Nextcloud uses OAuth 2.0 (that might be the problem).
When I create a client there (with Name and Redirect URI) they give me the Client ID and the Secret Key, which I enter in the config page, along with the following URLs:
Authorization endpoint: https://cloud.example.org/apps/oauth2/authorize
Token endpoint: https://cloud.example.org/apps/oauth2/api/v1/token
User info endpoint: https://cloud.mod

[2020-11-18 00:15] Glowsome opened #247 "Attribute Casing issues"
**Describe the bug**
When the option 'Identify with User Name' and 'Link existing users' is checked then casing is absolute, if this does not match then the user is/cannot be linked and authentication fails in wordpress.

**To Reproduce**
Steps to reproduce the behavior:
1. User in backend IdP is defined as ( me as example) 'MHonkoop'
2. User in wordpress is defined as mhonkoop (lowercase)
3. the

[2020-11-18 23:44] Glowsome opened #248 "Endpoint information to be extracted from openid-configuration information url instead of plugin settings"
**Is your feature request related to a problem? Please describe.**
No.
This is a more dynamic way in solving current manual settings entry in the Plugin.

**Describe the solution you'd like**
Every OpenID-connect IdP has a (publicly accessible)configuration endpoint that holds all information regarding the endpoints, scopes, claim support and more.
Instead of having to input all the defined endpoi

[2020-11-24 15:42] jbpoujol commented on #245
Hi did you find something? I have the same problem...

[2020-11-25 18:31] thatguyyoulove commented on #248
Agreed. Should be simple to implement too.

[2020-12-07 11:10] isikhi commented on #92
Just add `openid` to scope
[Auth0 OpenId Connect Scope Reference Page](https://auth0.com/docs/scopes/openid-connect-scopes)
As you can see you should add openid as a scope
```openid (required; to indicate that the application intends to use OIDC to verify the user's identity)```

[2020-12-08 12:40] jakeh999 commented on #212
I think I'm also having the same issue--I think this should clearly be labeled as a bug.

When the "Link Existing Users" option is checked, but the "Create user if does not exist" option is unchecked, even if there is in fact a WordPress user with a matching e-mail, the following error message is received when attempting to login:

I'm using Keycloak 11.0.3 as my IDP, WordPress 5.5.3, PHP 7.4.13

[2020-12-08 12:45] GloverLab commented on #212
Do you not then end up with two users with the same username?

[2020-12-08 13:19] jakeh999 commented on #212
@GloverLab For me no, I just double-checked and haven't found any evidence of any duplicate users or user data in the database with my posted workaround. The OpenID user is able to login as the WordPress user with the same e-mail, and all the WP user meta remains as it was before.

[2020-12-08 13:34] GloverLab commented on #212
Ok. I like this workaround better than tinkering with the plugin code :-)

[2020-12-10 13:44] martinmurciego opened #249 "Error Identity not map existing user: User Identity not linked to an existing Wordpress user"
Greetings, we have been using this plugin for about a year. And it started giving us problems about a month ago regardless of whether it is version 3.6.0 or 3.8.0. Wordpress users linked to a keycloak platform who had access no longer have access and others continue to have access in this way through the plugin. And over time it happens that some users but not all start to see this error.

[2020-12-10 19:43] mbrowne opened #251 "Does not detect external log-out"
I've discovered a case where this plugin doesn't log out the user from Wordpress when it should: if you log out externally, e.g. directly with the provider, and Wordpress doesn't know about it. We are using our own IdentityServer as the provider, so perhaps that's a factor.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in using OIDC
1. Log out in a way that Wordpress isn't aware of it.

[2020-12-10 20:33] mbrowne commented on #251
I realized that I might just be misunderstanding how OIDC logout is supposed to work. I just learned that there isn't necessarily a way to check if a token is still valid (if logout happened before it expired) without polling the provider again. Also, I realized that my suggested code change breaks the proper functioning of the plugin.

So I guess you can disregard this issue.

[2020-12-11 13:55] martinmurciego commented on #249
Apparently I did not upload the image of the error, but here I show it. It is a strange bug because there are users that worked and stop working. An option that was disabled in the plugin I show in a second screenshot is: Create user if does not exist. This is because that option can cause skipping access permissions or at least seeing wp-admin options that it shouldn't.

![openid error](https://u

[2020-12-11 14:10] martinmurciego commented on #249
Apparently I did not upload the image of the error, but here I show it. It is a strange bug because there are users that worked and stop working. An option that was disabled in the plugin: Create user if does not exist. This is because that option can cause skipping access permissions or at least seeing wp-admin options that it shouldn't.
![Uploading openid error.png…]()
![Uploading option disable

[2020-12-14 16:01] eriksays opened #252 "users being logged out unexpectedly."
Has anyone had issues where a user is logged out unexpectedly?
This is where the user has already authenticated (using azure ad), is using the admin, and suddenly finds themselves logged out.
Thanks

[2020-12-16 22:03] GloverLab commented on #249
See also #212

[2020-12-21 14:55] TaaviE commented on #212
I just encountered the same issue. In the exact same way, I don't have registration enabled, but the account trying to log in exists in the database. The link is just not made for some reason without registration enabled.

[2020-12-21 14:57] GloverLab commented on #212
Have you tried the suggestion from @jakeh999 which starts "I think I'm also having the same issue"? That fixes things for me.

[2020-12-21 15:08] TaaviE commented on #212
@GloverLab Haven't gotten to it yet, but in general I'd like to avoid such workarounds.

[2020-12-22 05:19] ridwankustanto commented on #212
Hi, I have this issue as well, and I tried @jakeh999 approach and it works. But the problem I'm facing now, when I try to login into the wordpress with unauthorize user, it shows me error like this (which is it should be, right?):
![image](https://user-images.githubusercontent.com/19152005/102851792-483d1580-444f-11eb-96b6-60cc3860d227.png)

and when I tried to try back to login, it keeps showing

[2020-12-22 10:57] jakeh999 commented on #212
Hi @ridwankustanto, yes, your screenshot looks like the behavior that's to be expected!

Since a successful login on the IDP side of things has already occurred, it's not easily possible to prevent or invalidate this on the WordPress side of things. What you could do is perhaps change the error message via a filter (see the plugin documentation) to inform the user they need to sign out of the IDP

[2020-12-31 15:57] grothoff opened #254 "Plugin fails with incomplete-user-claim when email is in attested claims"
**Describe the bug**
We're trying to use the plugin to import attested claims. Here, the attributes are encoded slightly differently, according to the OIDC standard. Instead of allowing this, the OIDC plugin fails hard. Note that there seem to be two issues here: (1) Even if the OIDC plugin requests an attribute like e-mail, a correct reply does NOT have to contain that attribute, so the code shou

[2021-01-09 19:08] jasonpierson opened #257 "Users not being redirected to page where they clicked login link"
I've installed version 3.8.0 on WP 5.6 running PHP 7.3.9. Its on the main site(Awana) of a multisite network.

"Redirect Back to Origin Page" is checked in the plugin settings, but users are being redirected to the home page instead of the page they were previously on.

Steps to reproduce:
1. Go to **https://oid-connect-awananetwork.pantheonsite.io/shop**
2. Click on the **Login** link in the uppe

[2021-01-12 13:13] ChloeTigre opened #258 "CI is broken for new pull requests"
**Describe the bug**
CI doesn't  pass even for trivial pull requests. A non-related error message occurs.

I see nothing in my changes that is breaking in any way and yet the builds don't pass. Maybe some error in the version pinning of `Installing mnsami/composer-custom-directory-installer` (see build log)

**To Reproduce**
Steps to reproduce the behavior:
1. fork the repo
2. make any change
3. o

[2021-01-12 13:27] timnolte commented on #258
Yeah, there is a problem with my composer calls to get the correct version of WordPress installed for each build matrix, also Travis is using the latest 2.x version of Composer which has breaking changes from 1.x. Thanks for opening the issue to remind me to work in the build setup.

[2021-01-12 15:08] timnolte commented on #252
@eriksays so there have been some reports of this, I have it on my list to dig into this today.

[2021-01-12 17:31] timnolte commented on #123
This is a duplicate of #105

[2021-01-12 17:31] #123 closed

[2021-01-12 22:28] #105 closed

[2021-01-12 22:28] #258 closed

[2021-01-12 23:07] timnolte commented on #162
Closing as a duplicate of #177

[2021-01-12 23:07] #162 closed

[2021-01-12 23:17] timnolte opened #260 "Invalid Condition in Logout Redirect URL Handling"
**Describe the bug**
Bug in the logout redirect URL handling when setting it up with IdentityServer4.
https://github.com/oidc-wp/openid-connect-generic/blob/7560701348e004f09df7c831d0703e0bcc173ca2/includes/openid-connect-generic-client-wrapper.php#L281
[code]
In WP 5.6 the $redirect_url looks like this: "http://localhost:8000/wp/wp-login.php?loggedout=true&wp_lang=en_US" so as you can see the giv

[2021-01-13 00:49] timnolte commented on #257
@jasonpierson I have a fixed ready for deployment related to this code you've mentioned, which fixes a password protected post login issue. I'm going to see about addressing this issue as well.

[2021-01-13 04:54] #260 closed

[2021-01-13 13:57] sep76 commented on #188
tried to adapt the changes on 3.6 from #207  on the latest 3.8 but are unable to login via norwegian MinID/IDporten (Digdir goverment portal)
curl timeout on the token request.

[2021-01-14 04:48] #138 closed

[2021-01-14 04:50] timnolte commented on #252
This is a duplicate of #238

[2021-01-14 04:50] #252 closed

[2021-01-14 04:56] timnolte commented on #70
No longer valid and stale. Closing.

[2021-01-14 04:56] #70 closed

[2021-01-18 11:36] TaaviE opened #263 "Optionally forbid password login if SSO is enables"
**Describe the solution you'd like**
Plugin configuration could contain a checkbox to only allow password-based login if the user isn't attached to an SSO user, this would reduce the chances that someone forgets to update a weak/leaked password in one of the attached Wordpress instances and would not allow bypassing 2FA enforced by IdP.

**Describe alternatives you've considered**
There aren't man

[2021-01-18 15:01] jasonpierson commented on #257
@timnolte Great! Do you have any idea on a timeline for release?

[2021-01-18 15:19] timnolte commented on #257
@jasonpierson so I was having a lot of problems with my Dev machine and just got a new machine last week and needed to make the move over to it so my nights/weekend was pretty much taken up trying to get moved over. I have a release pending and so I'll probably look at getting that release out this week and I'm not sure if I'll be able to get this fix in. As I'm thinking about it if sites are conf

[2021-01-20 04:14] jasonpierson commented on #257
Ok; I've been playing around with this a little and it looks like my problem might be further up the chain. The `get_authentication_url` function in `/includes/openid-connect-generic-client-wrapper.php` is not passed any data when any page on the site loads. If data was being passed, `$_REQUEST['redirect_to']` would be assigned the passed redirect url, `handle_redirect_cookie()` gets called and se

[2021-01-20 05:49] timnolte commented on #257
@jasonpierson the latest release went out

[2021-01-22 19:22] jasonpierson commented on #257
@timnolte got it. I changed this:
[code]
to this:
[code]
and its working perfectly without making changes to the plugin code. Thank you!!!

[2021-01-22 19:22] #257 closed

[2021-01-26 13:54] Emanuele-iltk opened #265 "ERROR invalid-user-claim on AWS cognito"
identity provider: aws cognito
wordpress version: 5.6
php version: 7.4

i’m using aws cognito for my sso
the connection with cognito is working,
but when i insert my data for login, the site respond ERROR invalid user claim
![immagine](https://user-images.githubusercontent.com/78028748/105853735-4c2bfc80-5fe6-11eb-9716-d4328fbff8b8.png)

would it be possipble that the error is the identity or nick

[2021-01-28 16:29] anEffingChamp opened #266 "plugin fails to authenticate user with custom OpenID provider"
I have a custom OpenID provider, and want to use it to authenticate into Wordpress. So far I have activated the plugin, and pointed it to the provider authorization URL.

When I authenticate however I get "0" from `wp-admin/admin-ajax.php`. I see in another ticket that this means that `wp-admin/admin-ajax.php` just failed silently, but it looks like the file just fails to recognize `action=openid-

[2021-01-28 19:14] joshbell opened #267 "End Session Endpoint Not Triggering"
It appears that the End Session Endpoint isn't being triggered when we log a user out of Wordpress.  When the user logs back in, they are immediately authenticated with the identity provider and are able to log directly back in.

We are using the latest version of Wordpress and this plugin.

When I navigate to the end session endpoint on my own, it logs me out of the Identity Provider, but not whe

[2021-01-28 19:59] #267 closed

[2021-01-28 19:59] joshbell commented on #267
WP Download Manager was adding to the wp_logout filter and overriding this plugin.

[2021-01-28 23:10] timnolte commented on #267
@joshbell ah, OK, I was scratching my head when reading the initial report as I've been using this and it was working. Let us know if we need to account for what it was that WP Download Manager was doing. Thanks!

[2021-01-29 05:45] timnolte commented on #265
@Emanuele-iltk so as I was looking the AWS Cognito documentation it looks like this may be related to the requirement that Basic Authorization is to be used with AWS Cognito but the plugin currently only supports POST Authorization. There is an [open issue](https://github.com/oidc-wp/openid-connect-generic/issues/188) reporting this for another IDP. I might see about setting up an AWS Cognito inst

[2021-01-29 15:57] andrew-devops opened #268 "Domain Replacement"
**Review Wiki**

- [x] My query is very specific and not explained in wiki

**General usage questions**

How to correct replace domain name?

I want to move WordPress from old domain name to new one. I'm search&replace all entires in SQL dump and upload it for new site. After I logged-in to WordPress, I show fields is empty. Where I'm miss?

[2021-01-30 00:24] timnolte commented on #268
Which fields are showing as empty? Changing your site domain name shouldn't have any impact on the plugin. I personally do this on a bunch of client sites that use this plugin. When I migrate sites I am typically using the WP-CLI `search-replace` method along with the `--all-tables` flag and never have a problem with the plugin setup.

[2021-01-30 02:55] timnolte opened #269 "Migrate Builds to GitHub Actions"
Due to TravisCI's new limits for OSS projects we need to look at moving to GitHub Actions. I've already completed this migration for my WooCommerce plugin so this should be fairly straight forward.

[2021-02-01 15:44] glefebvr1 opened #270 "Supporting client authentication with private_key_jwt"
**Is your feature request related to a problem? Please describe.**
We have an Openid connect provider which only supports **private_key_jwt** as way to authenticate the client. On the market, there does not seem to be any Wordpress plugin supporting this method. Moreover, this method seems to be the more secured one, since the "secret" is only stored on the client side.

**Describe alternatives yo

[2021-02-17 05:41] jamiewildehk commented on #265
@Emanuele-iltk I ran into the same issue - have you tried setting your userInfo path to use a lower case U:

 <cognito-domain>/oauth2/userInfo

 This worked for me.

[2021-02-17 17:18] benvoynick opened #272 "Support ongoing update of user data from claims"
The plugin supports mapping claim fields to certain WordPress core user fields, e.g. email and display name, when new users are created. However, as far as I can see this is the only circumstance where the claims data is mapped. When a user connects to an existing WordPress account, or subsequently logs in again however their WordPress account was first created, these fields are not updated.

It w

[2021-02-17 17:21] benvoynick commented on #272
Meant to label this as "feature request," sorry don't know what happened.

[2021-02-17 18:02] benvoynick opened #273 "Support custom mapping from claim to metadata as configuration"
The plugin provides for mapping additional data from claims using code via the `openid-connect-generic-update-user-using-current-claim` hook. It would be nice to to allow for configuration of custom mapping from claims to WordPress user metadata in settings.

E.g. a user could set the following as configuration data via the settings form:

my_claim_info -> my_metadata_field
my_other_claim_field ->

[2021-02-17 21:16] anEffingChamp commented on #266
This seems to be a duplicate of https://github.com/oidc-wp/openid-connect-generic/issues/34. Removing the second `?` in the URL addresses the 0 output error.

[2021-02-17 21:16] #266 closed

[2021-02-19 09:14] Matteo182 opened #274 "After creating a new user it does not log in automatically"
I log in with a user not present on WordPress, but present on the main platform. The plugin correctly creates the new user on WordPress, but after creating the user it does not log in automatically, it takes me back to the home page without having logged in.

this problem occurred after upgrading to the Versione 3.8.1
WordPress Version : 5.6.1

in the logs it writes : string(63) "Successful login