[2021-02-19 11:37] timnolte commented on #274
Can you provide all of the following details:

**WordPress Environment**
- Website URL:
- PHP Version:
- WordPress Version:
- Plugin Version:
- Identity Provider:
- Relevant Plugin Settings:

Also, I'm curious how you opened this issue without having to choose an Issue Template? You should have been promoted with choosing your type of issue and then asked some questions.

[2021-02-19 12:00] Matteo182 commented on #274
Hi @timnolte , thanks for answering me,

WordPress Environment

Website URL: now it is under vpn
PHP Version: 7.3.5
WordPress Version: 5.6.1
Plugin Version: 3.8.1
Identity Provider: AWS
Relevant Plugin Settings:

I don't understand what you mean, I clicked on support and wrote a generic support question, where should I go? :)

thanks

[2021-02-19 12:03] timnolte commented on #274
OK, I think I would have expected you to open a Bug Report instead if a general question.

[2021-02-19 18:42] Matteo182 commented on #274
ok I found the error, I need to normalize the username before creating the user.

add_filter( 'openid-connect-generic-alter-user-data', [$this, 'pre_username_normalize'], 10, 2);

private static function pre_username_normalize($user_data, $user_claim){
       //normalizzo lo username
       $user_data['user_login'] = strtolower( preg_replace( '/[^a-zA-Z\_0-9]/', '', iconv( 'UTF-8', 'ASCII//TRANSLI

[2021-02-20 03:37] mizansyed opened #275 "Disable registration"
Hi
Is it possible to use the plugin without registering a user in WP Database? Trying to use an OIDC as SSO, essentially a single point of truth for multiple WP sites and 000's of users. Are we able to disable registration?

[2021-02-23 16:29] eriksays commented on #238
@timnolte -- wanted to follow up on this ticket. Will this be part of the next release?

[2021-02-23 17:16] timnolte commented on #238
@eriksays I need to get back to my testing and analysis on this issue. Been sidetracked by other work and haven't had a chance to complete my work on this. I'm hoping to release another version with fixes before adding any new features.

[2021-02-25 06:54] itcore-ieeecs opened #276 "3-minute State Expiration with Daily Cron to clear expired transients"
Hello,

I have a general question in regard to the 180 second expiration time set for the state transient records, and the once-per-day clearing of those 3-minute records.

We're upgrading our systems from an older version of the OpenID Connect code and are integrating version 3.8.1 into our systems.  I'm seeing that Transient records are used primarily for the state values in the "openid-connect-

[2021-02-25 08:15] ganthen commented on #233
Hey guys, is there an update on this?
This is causing issues on my site as well for already some months. I got that working with downgrading the plugin back to version 3.6.0 some time ago, but today even that doesn't do the trick anymore. The plugin is not capable of writing any cookie value.
Everythiing is on the latest version on my side, I tested this with 3.8.1 as well as 3.6.0 (current versio

[2021-02-25 11:33] timnolte commented on #233
@ganthen hmm, this sure seems to be something to do more with your site hosting or a conflict with another plugin, however it's still possible there could be something in conflict with WordPress 5.5.x. I've been testing the plugin with WordPress 5.5.x & 5.6.x with at least 3 different IDPs and haven't seen this issue, with the standard plugin settings.

Can you provide all of your site details inc

[2021-02-25 13:26] daggerhart commented on #276
Hi Jon,

Those times are somewhat arbitrarily set. The idea behind 3 minutes for the transient state is to give the user enough time to login into the other system. I picked 3 minutes as "enough time to find your password" for the IDP service. I use lastpass w/ two-factor on everything, and every 30 days i have to re-login with lastpass (which also has two-factor). So sometimes I need to log into

[2021-02-25 17:09] drzraf commented on #243
May I ask for any news regarding resolving this 3.8.0 regression?

[2021-02-25 22:11] itcore-ieeecs commented on #276
Thanks much, @daggerhart.    I figured it was something along those lines.

Have a good one.

[2021-02-25 22:11] #276 closed

[2021-02-26 12:25] ganthen commented on #233
After spending quite some time testing, searching for that solution again, checking on version 3.6.0 and 3.8.1 as well, here are some observations:
- First time visit on the page : no cookie is set
- After logging in, and then logging out, and logging in again : suddenly the cookie is there. So first time visit issue
- I made a change to the forms.php page to get things working all the time. The c

[2021-03-09 07:11] g-at-ieee opened #277 ""Invalid State" error"
Hello, we are having a problem with "Invalid State" error.

From some debug statements, we can see that we are generating the correct URL before we leave to the login site.  However, when it comes back, it often comes back with the wrong state.  The state was generated before but it is old.

An example, we send over a state 'xyz'.  And it might come back as 'xyz', it logs me in and it's fine.  The

[2021-03-09 11:54] timnolte commented on #277
What IDP are you using? What caching do you have on your site? Are you caching the login page and/or the WordPress Dashboard?

[2021-03-10 05:13] g-at-ieee commented on #277
We are using SSO.  As far as I know, we are not caching the dashboard or the login page on our QA environment.  We use twig and we have twig caching happening in our prod but not on the QA.  There are also permalinks that are cached in the DB and I tried to reset those also before a login.  Thanks.

[2021-03-10 05:28] timnolte commented on #277
When I asked which IDP you are using that means Identity Provider. You perform SSO(Single Sign On) using and IDP. Thanks!

[2021-03-10 15:25] DeathStapler opened #278 "Error: User identity is not linked to an existing WordPress user."
I'm trying to figure out how to make this plugin work the want I need it to, without introducing more code to the equation.  I want to be able to create a Wordpress user, then have that person login with OpenID.

I have:
- "Link Existing Users" option checked
- "Create user if does not exist" unchecked

I do not want to create a user if it doesn't already exist in Wordpress.

I know about the hook

[2021-03-11 15:58] jasonpierson opened #279 "Transient Garbage Collection"
In openid-connect-generic.php, I see this function for garbage collection:
[code]
Is the last line:
[code]
correct? Shouldn't it be:
[code]
?

[2021-03-11 16:00] daggerhart commented on #279
Hi @jasonpierson

This is correct as `get_transient()`. When gen_transient() runs and finds that a transient has expired, it will remove the transient automatically. We're allowing that function to decide whether or not the transient has expired, rather than doing it ourselves.

Are you running into some issue with transients not expiring?

[2021-03-14 23:21] jasonpierson commented on #279
Thanks for the explanation @daggerhart ! I'm trying to troubleshoot a problem with session timeouts. Initially, we were getting an "invalid state" error after a few minutes of idle time; which was corrected with a higher timeout value. I set this at 36000 seconds b/c our IDP(Keycloak) expires login sessions after ten hours. This helped. I would say its now up to about four hours, but its still not

[2021-03-20 21:19] timnolte commented on #233
@ganthen FYI, others have also reported some failures with the redirection as well(another recent mention here: https://github.com/oidc-wp/openid-connect-generic/discussions/281) and I'm facing a new issue on 1 client site(out of like 30+) is not working. I will be looking at changing how redirection is being handled in the next week. The plan right now is to move away from using cookies to manage

[2021-03-22 16:58] #128 closed

[2021-03-25 16:47] jasonpierson commented on #279
We decided this was enough time for the session to be open. We don't need it to go any higher.

[2021-03-25 16:47] #279 closed

[2021-03-27 10:52] srikar-cogent opened #285 "Missing State - Keycloak IDP - Social Login"
Hello,

We are using keycloak as an IDP and could able to login into Wordpress through keyclok login as a normal user. If I am logging in as a social user then getting missing state issue. It seems like this is a redirection issue.

Can you suggest on how to resolve this issue. This plugin is behaving properly for logging as normal user but not as a google user.

Srikar

[2021-03-27 23:45] timnolte commented on #285
If I understand your flow correctly, are you saying that your Keycloak is setup to allow users to authenticate via a third party IDP, like Facebook/Twitter/etc? If this is the case then Keycloak is acting as an OpenID Connect Relay, and you need to ensure that Keycloak is passing the state to the third party IDP so that it is then passed back to the WordPress endpoint.

[2021-03-28 22:34] srikar-cogent commented on #285
Thanks Tim for your quick response.

Yes. Keycloak is setup to allow users to authenticate via a third party IDP like facebook, LinkedIn and google. There is no issue in signing up directly but have an issue with using third party IDP.

1. Login with IDP (Google)  https://www.example.com/auth/realms/GradSiren-V2.0/protocol/openid-connect/auth?response_type=code&#038;scope=openid%20email&#038;clien

[2021-03-28 22:48] srikar-cogent commented on #285
Tim,

I have figured out the problem.

When we are using to login through third party IDP, its appending #038; If that gets removed then its logging in properly.

How to remove "#038;" from url?

"#038;" should be removed from below

https://www.example.com/auth/realms/GradSiren-V2.0/protocol/openid-connect/auth?response_type=code&#038;scope=openid%20email&#038;client_id=GSCMS_CA&#038;state=3a206c

[2021-03-28 23:21] srikar-cogent commented on #285
Tim,
We have used this function for proper redirection in functions.php

function get_login_url($login_url=false, $redirect=false) {
   global $wp;
   return esc_url(do_shortcode( '[openid_connect_generic_auth_url redirect_to="'.home_url( $wp->request ).'" ]' ));
add_filter( 'login_url', 'get_login_url', 10, 2 );

If I change from esc_url to esc_url_raw and its still not working.
Can you please su

[2021-03-28 23:52] timnolte commented on #285
I believe the problem here is that the URL is being double escaped, you shouldn't be escaping the URL we are providing.

[2021-03-29 00:02] srikar-cogent commented on #285
Tim,

The only function we are using for this plugin is for redirecting url which is working fine for normal login. I am not a word press developer. Do we need to make changes to this code in order to make it work.

I have removed the below function from functions.php and tested it to check whether its working but the same issue.

function get_login_url($login_url=false, $redirect=false) {
global

[2021-03-29 00:35] srikar-cogent commented on #285
Tim -- Can you please guide here on what needs to be done.

[2021-03-29 00:36] timnolte commented on #285
@srikar-cogent are you saying that the URL that the plugin is generating sometimes includes those characters? Have you reviewed/inspected the page source to determine what is being generated on the WordPress site for the IDP(Keycloak) authentication URL before making the trip to the IDP(Keycloak)? I still believe you have a relay issue where Keycloak is changing the URL when sending to you social

[2021-03-29 00:38] timnolte commented on #277
@g-at-ieee can you confirm what Identity Provider you are using?

[2021-03-29 00:51] srikar-cogent commented on #285
Thanks Tim. You are so nice. Let me figure that one out and get back to you.

We also have another redirection issue...

www.example.com/career-advice --- User login from this page and should come back to this page -- Not working as its appending www.example.com/career-advice/career-advice

www.example.com/career-advice/Post1 -- User login from this page Post1 and coming back to post1 -- working a

[2021-03-29 16:47] g-at-ieee commented on #277
Hi Tim. Thanks for helping, we figured it out through.  It was a Varnish caching that was caching the outgoing url and it was only reseting every 10 minutes or so.  We had to add some exceptions to it.

[2021-03-29 16:47] #277 closed

[2021-03-29 18:27] timnolte commented on #275
@mizansyed yes, the plugin allows you to enable/disable creating users if they don't exist. A WordPress user does still need to exist that the SSO user maps to. This plugin doesn't rely on the WordPress native registration. You can additionally leverage the hooks in the plugin to automatically perform mapping of roles or deactivation of accounts to "synchronize" with your IDP.

[2021-03-30 03:10] srikar-cogent commented on #285
Tim -- Did you get a chance to look into the above issue? I see that you are working on Open ID redirection issues in the future releases. Does it solve the above problem?

--Srikar

[2021-03-30 03:21] timnolte commented on #285
@srikar-cogent I have not looked into anything. Since you are only providing my "example.com" URLs there is nothing for me to look at. You will have to look at what is being set in the redirect cookie, from the Developer Console, when you visit your `www.example.com/career-advice` page. This would most likely have something to do with your use of `home_url( $wp->request )`. I am working on some re

[2021-03-30 04:01] srikar-cogent commented on #285
Tim -- Currently the cookie is set to https://www.example.com/career-advice/career-advice/. Looks like I need to make use of openid-connect-generic-cookie-redirect-url to setup redirect URI properly.

[2021-03-30 04:15] timnolte commented on #285
@srikar-cogent I don't think you should be using `$wp->request` in your call.

[2021-03-30 13:02] tmann50 commented on #206
Did anyone ever manage to do this? Would be really really helpful.

[2021-03-30 14:13] timnolte commented on #285
@srikar-cogent have you confirmed what the URL is that is being output for your login button. What does the URL look like when you get to Keycloak before selecting the third party Identity Provider for performing the authentication?

[2021-03-30 14:18] timnolte commented on #285
@srikar-cogent OK, a quick verification confirmed that you are double encoding the URL. The `&#038;` is the URL encoded version of `&`. You need to remove any extra encoding or sanitization that you are doing.

[2021-03-30 23:23] timnolte commented on #278
@DeathStapler I believe there have been some other reports that, depending on the IDP used, that combination you describe is not working. I believe there is a matching issue being caused because of what some IDPs are leaving out of their claims.

What is the IDP you are using?

The only thing I can offer at the moment is to turn on the create users feature and leverage the hooks to prevent a new u

[2021-03-31 00:50] timnolte commented on #285
@srikar-cogent so I took a look at your site and the URL being generated and output on the main site for the Login button is `https://www.gradsiren.com/auth/realms/GradSiren-V2.0/protocol/openid-connect/auth?response_type=code&scope=openid%20email&client_id=GSCMS_CA&state=04c0f5ba59e30b7787d19a4f580a0c83&redirect_uri=https%3A%2F%2Fwww.gradsiren.com%2Fcareer-advice%2Fwp-admin%2Fadmin-ajax.php%3Fact

[2021-03-31 00:53] timnolte commented on #285
@srikar-cogent so looking at things it appears that you have both a WordPress install and a Keycloak install on the same domain? This means that what you have is Keycloak setup as a proxy for the Facebook/Google/LinkedIn SSO logins. This means the problem with the URLs is being caused by Keycloak and not the WordPress plugin.

[2021-03-31 05:19] srikar-cogent commented on #285
Tim --  When we are trying to social login we are getting this issue:

https://www.gradsiren.com/auth/realms/GradSiren-V2.0/protocol/openid-connect/auth?response_type=code&#038;scope=openid%20email&#038;client_id=GSCMS_CA&#038;state=87ae054a45099f77c6e0849f61504900&#038;redirect_uri=https%3A%2F%2Fwww.gradsiren.com%2Fcareer-advice%2Fwp-admin%2Fadmin-ajax.php%3Faction%3Dopenid-connect-authorize**?lo

[2021-03-31 10:54] srikar-cogent commented on #285
Tim -- We have figured out the issue. We are using ithemes pro which changed the login and logout URL.

redirect_uri is now = https://www.gradsiren.com/career-advice/wp-admin/admin-ajax.php?action%3Dopenid-connect-authorize

If we change it to https://www.gradsiren.com/career-advice/ithemesfd/wp-admin/admin-ajax.php?action%3Dopenid-connect-authorize -- then it's working.

Can you suggest how to ch

[2021-04-01 23:41] srikar-cogent commented on #285
Hello Tim -- Do you have any recommendations on how to change redirect URI by just adding one extra folder.

If we change it to https://www.gradsiren.com/career-advice/**ithemesfd**/wp-admin/admin-ajax.php?action%3Dopenid-connect-authorize -- then it's working.

[2021-04-02 00:45] srikar-cogent commented on #285
How to change the path of redirect uri from

https://www.gradsiren.com/career-advice/openid-connect-authorize
to
https://www.gradsiren.com/career-advice/ithemesfd/openid-connect-authorize

[2021-04-02 11:16] srikar-cogent commented on #285
Hello Tim and Daggerhart -- We are stuck at this point. Can you guys help?

[2021-04-02 12:05] daggerhart commented on #285
@srikar-cogent  Getting caught up on this. Looks like there is not a way to change the alternate redirect_uri at this time. I'm currently in the middle of a site launch and can't go much further, but I submitted an untested proof of concept PR #286. If you want to review that and test it with your use case, that would be great.

[2021-04-07 03:40] #269 closed

[2021-04-07 03:46] timnolte commented on #159
@neonnero your second 2 items should be fully handled with either some existing changes or some changing coming in the next release. Your first request will still need to be looked at.

[2021-04-07 04:09] timnolte commented on #285
@srikar-cogent I have a PR that should be addressing some issues with redirection, however, the PR that @daggerhart worked up will need to be looked at and incorporated separately.

[2021-04-07 04:15] timnolte commented on #274
@Matteo182 so I believe we have 1 or 2 open issues in regards to how identities are matched. As you indicated I believe we are in fact missing some normalization.

[2021-04-07 04:18] timnolte commented on #270
@glefebvr1 can you provide details about which Identity Provider you are using that only has this support? Thanks!

[2021-04-07 04:20] timnolte commented on #265
@Emanuele-iltk so I did setup my own AWS Cognito instance and have this working properly. I will provide some documentation guidance in the wiki for this IDP soon.

[2021-04-07 04:48] jamiewildehk commented on #265
I am using the plugin with Cognito in production with mostly fine results. (a couple of "Invalid State" messages - 180 seconds default is not long enough for many users to validate their email during sign up)

[2021-04-07 06:32] glefebvr1 commented on #270
Hello @timnolte,
Thanks for having a look at this demand !
It is an identity provider for universities and higher education in Switzerland. Up to now, they were offering only Shibboleth auth. But they started recently to offer Openid connect: https://www.switch.ch/edu-id/docs/services/openid-connect/
Best.

[2021-04-07 06:55] Matteo182 commented on #274
Hi @timnolte .
I was able to solve this problem using this hook.
I just removed static from the wording and the function is executed correctly in the hook.

add_filter( 'openid-connect-generic-alter-user-data', [$this, 'pre_username_normalize'], 10, 2);

private function pre_username_normalize($user_data, $user_claim){
//normalizzo lo username
$user_data['user_login'] = strtolower( preg_replace( '

[2021-04-08 04:30] srikar-cogent commented on #285
Tim -- We have removed ithemes completely and not reinstalled back with no hiding functionality which is working fine. The redirection is not working properly as part of the plugin as we have written a separate code in the functions.php for the login process which is working:

function get_login_url($login_url=false, $redirect=false) {
global $wp;
return esc_url(do_shortcode( '[openid_connect_gene

[2021-04-08 04:33] timnolte commented on #285
@srikar-cogent there are a bunch of Redirection fixes in the pending PR(https://github.com/oidc-wp/openid-connect-generic/pull/289) I worked on yesterday, and just finished up tonight, Once this PR is merged in and we can deploy a new version of the plugin redirection should be handled properly.

[2021-04-08 04:35] srikar-cogent commented on #285
Thanks, Tim for your quick response. You are awesome.

[2021-04-08 04:36] timnolte commented on #285
@srikar-cogent also, note that unless you manually updated the plugin also with the changes that @daggerhart added in his PR the `openid-connect-generic-alter-alternate-redirect-uri` isn't even available. However, if you did add that code then there may be more required as @daggerhart mentioned that he hadn't tested the code. Once the redirection fixes are put into place we can look at implementin

[2021-04-08 06:55] srikar-cogent commented on #285
Make sense Tim. I don't want to make any changes to the plugin myself as it might break something as we are good for now.

[2021-04-08 12:06] #57 closed

[2021-04-08 12:06] #207 closed

[2021-04-08 12:06] #233 closed

[2021-04-09 02:29] timnolte commented on #285
@srikar-cogent new version of the plugin has been released. Give it a try and let us know how it's working for you.

[2021-04-09 02:31] timnolte commented on #233
@pdotnet a new version of the plugin has been released that should have this fixed. Give it a try and let us know how it's working for you.

[2021-04-09 02:34] timnolte commented on #57
@pjeby a new version of the plugin has been released that should have this implemented. I did opt to store the redirect URL along with the state via the existing state transient instead of attempting to encode/decode the redirect URL into the state in order to protect against possible state collisions and decoding issues.

[2021-04-09 02:38] timnolte opened #292 "Support Authentication Method client_secret_basic"
For additional reference for supporting Basic Authentication.

https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication

A plugin setting to toggle between `client_secret_basic` & `client_secret_post`/`client_secret_jwt` is what would probably be implemented.

_Originally posted by @timnolte in https://github.com/oidc-wp/openid-connect-generic/issues/207#issuecomment-680512319_

[2021-04-09 02:39] timnolte commented on #207
@jmac48210 a new version of the plugin has been released that should have the redirect issues fixed. Give it a try and let us know how it's working for you. I'm not sure about your requirement for Basic Authentication and the customization to plugin that was made.

[2021-04-09 02:42] timnolte commented on #188
Since the original issue was resolved by changing the authentication type in the IDP to one that was supported I'm closing this since there are more details provided in the new issue that has been opened for support CLIENT_SECRET_BASIC. #292

[2021-04-09 02:42] #188 closed

[2021-04-09 03:03] jmac48210 commented on #207
Hi Tim

I will have to go through it to see. But thank you for working on this issue. Will let you know the result when I have a chance.

John

From: Tim Nolte ***@***.***
Sent: Friday, 9 April 2021 12:40 PM
To: oidc-wp/openid-connect-generic ***@***.***>
Cc: John McLoughlin ***@***.***>; Mention ***@***.***>
Subject: Re: [oidc-wp/openid-connect-generic] Redirect back to Origin page not working (#

[2021-04-09 04:05] pjeby commented on #57
No worries, as I mentioned on #59 (the PR I submitted to fix this), I wrote a replacement for this plugin and moved on about three years ago.  Thanks for the heads-up though.

[2021-04-09 09:43] srikar-cogent commented on #285
Tim,

The redirection is not working.

I have used this code for login button
<a href=<?php echo do_shortcode("[openid_connect_generic_auth_url]"); ?> class="log">LOG IN</a>

Step 1.  https://www.gradsiren.com/career-advice/best-interview-tips-for-face-to-face-round/
Step 2. Click Login
Step 3. It's taking back to https://www.gradsiren.com/career-advice Instead of  https://www.gradsiren.com/career

[2021-04-09 10:47] timnolte commented on #285
@srikar-cogent do you have the "Redirect Back to Origin Page" plugin setting turned on?

[2021-04-09 11:05] timnolte commented on #285
@srikar-cogent OK, I need to do some digging as my test site is not working also with the option turned on and so I'm thinking there is an issue with the redirect URL not getting picked up from the transient or something. I might need to push out another release. Stand by.

[2021-04-09 11:19] srikar-cogent commented on #285
Yes "Redirect Back to Origin Page" is ON

[2021-04-10 00:52] timnolte opened #293 "Redirect Back Fails and Sends Users to Site Home Page Instead of the Login Button Page"
**Describe the bug**
When users login with the shortcode login button they are not sent back to page the originally started at but sent to the home page.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the Dashboard.
2. Enter the login button shortcode on a page on the site.
3. Visit the login page while not logged in.
4. Proceed with the login through the IDP.
5. Instead of redirec

[2021-04-10 03:31] timnolte commented on #285
@srikar-cogent just a heads up that I have another PR, tested fully with and IDP and the Redirect Back setting is fully working as expected. Should have this released in the next few days at the latest.

[2021-04-10 16:00] #293 closed

[2021-04-10 18:24] srikar-cogent commented on #285
Tim -- Please let me know once the code is pushed into production so I can test it.

[2021-04-10 21:15] timnolte commented on #285
@srikar-cogent latest version with fixes has been release. Give it another try, thanks!

[2021-04-12 10:41] ganthen commented on #233
Hey Tim,

I have installed the latest version, and just did some tests. I saw indeed that the code has changed, which is good news !
However, at first sight this is working fine. Except the following scenario where I still face an issue:

- I go to my WooCommerce page while I'm not logged on yet. I see a message block telling me to log on in order to see my personal orders tied to my account. This

[2021-04-12 10:53] timnolte commented on #233
@ganthen so this is due to the State expiring. By default the state is only valid for 180 seconds(3 minutes). You can change the "State time limit" to longer in the plugin settings to help mitigate this however that is a security related setting to protect against replay attacks.

[2021-04-12 14:46] srikar-cogent commented on #285
Tim -- Same issue not working.

***************************************************************************************************
The redirection is not working.

I have used this for login button -- do_shortcode("[openid_connect_generic_auth_url]

Step 1. https://www.gradsiren.com/career-advice/best-interview-tips-for-face-to-face-round/
Step 2. Click Login
Step 3. It's taking back to https://w

[2021-04-12 15:03] timnolte commented on #285
@srikar-cogent can you explain what doesn't work. I've tested all of the most recent code and it should be working as expected unless you are using something non-standard to WordPress Core APIs or there is an issue with how you are inserting the login button.

[2021-04-12 15:05] srikar-cogent commented on #285
The redirection is not working.

Step 1. https://www.gradsiren.com/career-advice/best-interview-tips-for-face-to-face-round/
Step 2. Click Login
Step 3. It's taking back to https://www.gradsiren.com/career-advice Instead of https://www.gradsiren.com/career-advice/best-interview-tips-for-face-to-face-round/

Login code is do_shortcode("[openid_connect_generic_auth_url]

Please let me know your thou

[2021-04-12 15:14] fminov opened #298 "PHP Notice in openid-connect-generic-login-form.php"
Hello,

In openid-connect-generic-login-form.php, this code :

		// Record the URL of the redirect_to if set to redirect back to origin page.
		if ( $this->settings->redirect_user_back ) {
			$redirect_url = home_url( add_query_arg( $wp->request ) );
		}

generates a Notice of type "Notice: Undefined offset: 1 in .../wp-includes/functions.php on line 1140"
when $wp->request is just a string (in ou

[2021-04-12 15:31] timnolte commented on #285
@srikar-cogent do you have any object caching setup on your site? Also, can you install the Transienta Manager plugin and take a look at the redirect_to value set on the matching state transient for the login button that you are clicking on.

[2021-04-13 01:51] srikar-cogent commented on #285
We have a CDN setup from stackpath. We haven't done anything special from the WordPress site. redirect_to_value is setup to career_advice instead of https://www.gradsiren.com/career-advice/best-interview-tips-for-face-to-face-round.
<img width="1466" alt="Screen Shot 2021-04-12 at 9 49 45 PM" src="https://user-images.githubusercontent.com/73460974/114485032-39829600-9bd9-11eb-86f8-ac40340539e8.png

[2021-04-13 02:14] timnolte commented on #285
Where do you have the `do_shortcode("[openid_connect_generic_auth_url...` call happening? What I'm not seeing on your beta site is what I assume is your login link in your menu just has a link to the `/login` page. It doesn't look like you are actually outputting the results of the authentication URL  to be used by your login button. If you aren't going to be outputting the login button, or the au

[2021-04-13 02:29] srikar-cogent commented on #285
Thanks for your quick response.

If I use this in functions.php

function get_login_url($login_url=false, $redirect=false)
   {
    global $wp;

   return esc_url(do_shortcode( '[openid_connect_generic_auth_url redirect_to="'.home_url( $wp->request ).'" ]' ));
    }
add_filter( 'login_url', 'get_login_url', 10, 2 );

and then calling login
<a href="<?php echo htmlspecialchars_decode(get_login_url(

[2021-04-13 02:40] srikar-cogent commented on #285
Tim,

The above one is working for the login URL. Is there any specific function for the registration url? We are using a keycloak registration URL but the redirection is not working.

for sign up (registration) we are using "https://www.gradsiren.com/auth/realms/GradSiren-V2.0/protocol/openid-connect/registrations?response_type=code&client_id=GSCMS_CA&scope=openid%20email&redirect_uri=https%3A%2F

[2021-04-13 02:42] timnolte commented on #285
@srikar-cogent I'm still not quite clear on where you were calling the `do_shortcode( '[openid_connect_generic_auth_url...` before when you said it wasn't working, but so long as it's working now it seems like you are calling it correctly. On my test site(https://oidc-wp.ndigitals.com/login-page-test/) I am simply outputting the button shortcode on a standard page using the Gutenberg shotcode bloc

[2021-04-13 02:43] srikar-cogent commented on #285
we are calling this (do_shortcode( '[openid_connect_generic_auth_url...) in header.php file under themes folder.

[2021-04-13 03:07] srikar-cogent commented on #285
is there any shortcode for user registration just like login?
do_shortcode( '[openid_connect_generic_auth_url redirect_to="'.home_url( $wp->request ).'" ]' )

[2021-04-13 03:42] srikar-cogent commented on #285
Tim -- I have used this code in functions.php to make it work but its not working

add_filter( 'registration_redirect', 'redirect_after_registration' );
function redirect_after_registration()
{
       // change the slug below with desired page slug
       return home_url( '/new-user-registration/' );
   }

we are sending to a keycloak registration page but not to a wordpress registration page (act

[2021-04-13 07:58] slillo opened #299 "From 3.8.4, on login I get ERR_TOO_MANY_REDIRECTS and ERROR (invalid_grant)"
**Describe the bug**
From 3.8.4, on login I get **ERR_TOO_MANY_REDIRECTS** and **ERROR (invalid_grant)**. On logs I can only see a warning related to [undefined array key 1 in functions php](https://github.com/oidc-wp/openid-connect-generic/issues/298). Maybe both issues are related.

**Screenshots**
![login_issue](https://user-images.githubusercontent.com/12492340/114517280-7af95c80-9c3e-11eb-9f0

[2021-04-13 10:24] timnolte commented on #299
@slillo I find it very interesting that you are reporting this sort of too many redirects issue on the latest version as the most recent couple of versions were supposed to fix/address issues with redirects. In fact it was a different site, running on version 3.8.1, that was already reporting the too many redirects error and it appeared to be related to a missing redirect cookie. The most recent v

[2021-04-13 10:30] timnolte commented on #109
Did anyone ever test with turning off the refresh token option in the plugin settings. Some IDPs don't support refresh tokens and believe by turning that feature off in the plugin it should prevent users from being logged out once authenticated.

[2021-04-13 10:37] slillo commented on #299
I downgraded to 3.8.3 and everything works again.

[2021-04-13 10:47] timnolte commented on #299
@slillo hmm, that's very odd since in saw on your screen recording that an invalid grant error was being thrown, which generally indicates an IDP configuration issue. Are you also leveraging any of the plugin's hooks or filters?

[2021-04-13 10:48] timnolte commented on #298
@fminov were you also seeing an error with Too Many Redirects occuring?

[2021-04-13 10:51] HshMatera commented on #299
Hello,
I updated the plugin to the latest version 3.8.4 but the redirect problem remains.
In the Plugin I set "Redirect Back to Origin Page" and I expect to see the page from where I logged in, but this does not happen.
The redirect url is wrong, the prefix is ​​duplicated, for example: www.mysite.it/mysite/mysite/postname.
Why does this happen?
Thanks to the availability

[2021-04-13 10:54] slillo commented on #299
I tried with only OpenID Connect Generic plugin active, standard theme (Twenty Twenty-One) and no customization to any wordpress source file. In order to avoid issues with previous session I tried to:

1. to completely remove cookies, and other storages;
2. to use incognito mode;
3. to use different browsers

[2021-04-13 10:55] timnolte commented on #299
@HshMatera can you please open up a new issue for your issue. And please fill out all of the information asked for when opening a new issue. Thanks!

[2021-04-13 11:01] HshMatera opened #300 "Error - Redirect Back to Origin Page"
Hello,
I updated the plugin to the latest version 3.8.4 but the redirect problem remains.
In the Plugin I set "Redirect Back to Origin Page" and I expect to see the page from where I logged in, but this does not happen.
The redirect url is wrong, the prefix is ​​duplicated, for example: www.mysite.it/mysite/mysite/postname.
Why does this happen?
Thanks to the availability

WordPress Environment
-

[2021-04-13 11:24] VincentSC commented on #109
Without refresh token: `ERROR (invalid-state): Invalid state.`

With refresh token I just get back at the login-page. This is the log form the plugin, which seems right:
![image](https://user-images.githubusercontent.com/5090382/114544664-3a5c0c00-9c5b-11eb-8244-c23d0745b2cf.png)

[2021-04-13 11:29] timnolte commented on #109
@VincentSC an invalid state error wouldn't have anything to do with the refresh token setting. Did it take longer than 3 minutes for you to complete your login as the generated state is only valid for 3 minutes, or based on the value set in the plugin settings.

[2021-04-13 11:34] timnolte commented on #300
@HshMatera what IDP are you using? Also can you provide what you have set for your site's "WordPress Address (URL)" &  "Site Address (URL)"? Thanks!

[2021-04-13 12:08] VincentSC commented on #109
Yes, you're right. I checked multiple times now and the error message did not pop up anymore.

Now the funny thing. I checked `/wp-admin` and at one point I was logged in! More good news: I managed to reproduce and can now log in with some manual steps.

These are my mappings, slightly different from what the original poster has:
![image](https://user-images.githubusercontent.com/5090382/114548064

[2021-04-13 12:12] Kiina commented on #109
Noticed the same thing with the login page with google as a provider, think it started with the last update. Switched to gitlab without refresh tokens and it seems to work up to now, but the redirect issue is still there.

[2021-04-13 12:24] timnolte commented on #109
@Kiina is the redirect issue you are seeing present in the 3.8.3 version of the plugin? The 3.8.4 update fixed an issue that remained in the 3.8.3 version, but then an additional error has come up in the latest release, and I believe it is specific to the auto-login. I will dig into this with some more testing today.

[2021-04-13 12:31] HshMatera commented on #300
As Website url: local development and as IDP Keycloak. With the previous version 3.8.2 of the Plugin it did not give this error but it returned, after the correct login, to the homepage and not to the page where the login took place.

[2021-04-13 12:34] timnolte commented on #300
@HshMatera are the "WordPress Address (URL)" & "Site Address (URL)" set as the same.

[2021-04-13 12:35] Kiina commented on #109
Well in 3.8.3 I don't get redirected to the page I wanted to visit but the main page (even if the Redirect Back to Origin Page option is on), but in 3.8.4 I get redirected to the login page again. But I used the button login, not the auto login option.

[2021-04-13 12:36] HshMatera commented on #300
Yes, they are identical

[2021-04-13 12:36] VincentSC commented on #192
Try `sub` instead of `nickname`. See https://github.com/oidc-wp/openid-connect-generic/issues/109#issuecomment-818683912 for what I have

[2021-04-13 12:58] ganthen commented on #233
Thannks, I understand that.
However, when the state is gone, and the login will fail, can't we catch this event for a proper redirect to a user friendly page telling our visitors should have to refresh the page and try to log on again ? That page could be a simple WP page, but the redirect behavior might be something to catch properly. Do think of any solution here?

[2021-04-13 13:05] fminov commented on #298
@timnolte hello, I have no Too Many Redirect issue, the SSO functionality is working fine.
Just this Notice on the page where I used the openid_connect_generic_login_button shortcode.

[2021-04-13 13:46] timnolte commented on #233
@ganthen there are hooks you can use to catch this and then you can redirect your users and provide a proper message about the need to login again. The code was just recently changed in order to fix redirect issues and make them more reliable, but it is tightly coupled with the state. I intentionally made the choice to move away from cookies as that appeared to be the root of so many reported issu

[2021-04-13 15:29] pdotnet commented on #233
@timnolte thanks for the update, I'll start testing this out on our staging site shortly.  Many thanks for your work on this!

[2021-04-14 00:19] timnolte commented on #285
@srikar-cogent there isn't any shortcode for registration as that would to a degree be out of scope for SSO since users generally get created though the IDP. To be honest your use of this plugin to perform Social Media platforms is a little bit out of the norm for the typical use of this plugin. Most people implementing the plugin are using a single IDP for central user management. Generally this

[2021-04-14 12:46] timnolte commented on #299
This issue may be related to https://github.com/oidc-wp/openid-connect-generic/issues/298

[2021-04-14 12:47] timnolte commented on #300
@HshMatera is your site installed in a subdirectory?

[2021-04-14 22:36] timnolte commented on #300
@HshMatera so I just installed a WP test instance into a subdirectory and see the redirect URLs being set this way. I should have this resolved in the next release.

[2021-04-15 01:31] sarfrazhooda1 commented on #265
Have you published cognito instructions? I looked through wiki but couldn't find anything. I have configured everything but I get error when I click on the login button. In console I see 403 error

![cognito](https://user-images.githubusercontent.com/82553626/114800959-bee88080-9d68-11eb-9ab9-285101b57051.PNG)

[2021-04-15 06:42] HshMatera commented on #300
I try to move the site to the main directory and test the plugin while waiting for a new version. Thank you

[2021-04-15 07:27] HshMatera commented on #300
The redirect works perfectly by not using a subdirectory

[2021-04-15 07:27] HshMatera commented on #300
The redirect url perfectly by not using a subdirectory

[2021-04-16 03:27] #298 closed

[2021-04-16 03:27] #300 closed

[2021-04-16 10:04] Kiina commented on #109
Latest update seems to fix the redirect issues. Thanks!

[2021-04-16 12:24] timnolte commented on #265
@sarfrazhooda1 I haven't had a chance to update the wiki yet. I need to focus on some redirect & bug fixes. I should be able to get something documented soon.

[2021-04-16 12:25] timnolte commented on #109
@Kiina excellent, glad to hear it's working.

[2021-04-16 13:39] slillo commented on #299
With 3.8.5 I don't have any problem.

[2021-04-16 13:52] #299 closed

[2021-04-18 12:27] Kiina commented on #192
Ah in the newest version it's working with `name` as a key, think it was just related to the old version and is no longer a valid issue.

[2021-04-18 12:27] #192 closed

[2021-04-19 12:11] fminov commented on #298
Tested, bug fixed. Thank you !

[2021-04-22 16:20] AdamTheRedBaron commented on #177
Hi folks, a great plugin that I have working very well for openID sso with WHMCS. The one issue I have is that users are left at the WHMCS url when logging out and I would ideally like them to be redirected to the original site homepage. Is there any workaround?

Keep up the great work!

[2021-04-29 09:50] jejemontagne opened #309 "Rename login button"
I would like to rename the login button` Login Button Shortcode [openid_connect_generic_login_button]`.
I would like to have just "Connection" instead of " Login with OpenID Connect"
Do you know if it is possible ? And if yes, how ?

Best regards

[2021-04-29 10:39] timnolte commented on #309
Yes the shortcode supports the 'button_text' attribute. You can also install [this add-on](https://github.com/oidc-wp/oidc-generic-button-text-addon) which I just created the other day to let you set the button text globally using plugin settings.

[2021-04-29 10:40] #309 closed

[2021-05-03 07:54] christianostrem opened #310 "Timeout"
Hi,

I am working on an integration with idporten. A goverment server for openid.

The problem is that i get a timeout in this function:

File:
openid-connect-generic-client.php

Function:
request_authentication_token

method: $response = wp_remote_post( $this->endpoint_token, $request );

Steps:
1) I click the login button. -> Next a window appears . Then i login. All ok.
2) The the oauth server

[2021-05-03 10:52] timnolte commented on #310
@christianostrem so it sounds like you've modified the plugin code, is that correct? If there is a timeout occuring then that means there is an issue with the request your are sending to the IDP. I need to know what code you've changed. However, since you've made your own code changes in order to get the plugin to run with your specific IDP then there is probably not much support we can give.

[2021-05-03 11:10] christianostrem commented on #310
Yes, i did a modification, but i still get the same timeout without the modification.

These are the modifications i did:

`
in file: openid-connect-generic-client.php
in function: request_authentication_token

$request = array(
	'body' => array(
		'code'          => $code,
		'client_id'     => $this->client_id,
		'client_secret' => $this->client_secret,
		'redirect_uri'  => $this->redirect_uri,

[2021-05-03 11:53] christianostrem commented on #310
I have had new development her. Ill come back to this ticket within a week if its still relevant.

[2021-05-03 12:12] christianostrem commented on #310
Still relevant.

[2021-05-03 12:20] christianostrem commented on #310
Iam now running a non modified version of the plugin, and its still doing timeout.

Relevant documentation authorize:
https://docs.digdir.no/oidc_protocol_authorize.html

Error in log:

Type: make_authentication_urlDate: 2021-05-03 12:12:30User: 0URI : /wp-login.php?login-error=http_request_failed&message=cURL+error+28%3A+Operation+timed+out+after+15001+milliseconds+with+0+bytes+received | string(

[2021-05-12 21:29] alerque commented on #249
Ug, I'm beating my head against a similar issue (using Keycloak). Only difference is I've never had a working setup and am just adding this is, no I can't say there isn't something else wrong. This is the error I'm hitting, but I can't find any way to verify even what identify it thinks it is trying to match.

[2021-05-12 21:32] alerque commented on #249
Oh yuck.

So I enabled the "Create if user doesn't exist" box just to debug and logged in. Did it create a new user? Nope, it linked the old one. Now the same user works even if I disable the checkbox again, but other users don't work.

This is a bug, it can't seem to link existing users unless the "create new" feature is also enabled.

[2021-05-15 22:48] grahamspr86 opened #312 "Hook in error_redirect"
Could we have a hook in error_redirect so we can redirect some place else other then wp_login_url

I would like to redirect to example.com/login_error/bad-claim which would be a custom error page for login issues.

[2021-05-15 23:03] daggerhart commented on #312
We could probably do that easily enough. In the mean time, since we're using wp_redirect there is already a filter you can use -- https://developer.wordpress.org/reference/hooks/wp_redirect/

All of this plugin's error redirects contain the parts `?login-error=` and `&message=` in the url, so it shouldn't be impossible for you to use the core wp_redirect filter somewhat reliably by detecting that

[2021-05-19 10:45] christianostrem commented on #310
I have finally found out what the problem is. The plugin is using the wp_remote_post function and its someting with that function that dosent work. I replaced it with file_get_content instead and then it worked perfectly. One problem  with file_get_content is that it dosent have very good error handling. I have tried different options in wp_remote_post also but without success. Any suggestions to

[2021-05-19 11:31] daggerhart commented on #310
Hi @christianostrem,
I've no idea if this is relevant, but yesterday I ran into an issue w/ `wp_remote_X` functions with another IDP. The IDP did not like that user-agent that the wp functions were adding to every call.

On the offchance this is relevant to your issue, could you try adding `'user-agent' => false,` to the `$request` array in these two functions? Not as a header or in the body, but

[2021-05-19 11:40] timnolte commented on #310
Yeah, so the `wp_remote_post` method uses cURL under the hood. It still seems like there is an issue with your IDP responding. You can use the `http_request_timeout` filter hook to change the timeout to something longer to account for slow processing/response by your IDP.

[2021-05-19 13:44] christianostrem commented on #310
isn't http_request_timeout the same as the timeout set in the plugin?

[2021-05-20 07:14] christianostrem commented on #310
I have found the reason why it dosent work.
After a lot of testing it seems like they are blocking the user-agent: wordpress ...

By adding a hook i have changed the user-agent and now everything works.

[2021-05-20 08:15] christianostrem commented on #208
from 2022 PKCE will be a requirement on some services,

[2021-05-20 12:49] martinrm77 commented on #248
+1

[2021-05-20 12:57] daggerhart commented on #248
Quick note since we haven't responsed to this: @timnolte and I have discussed this and agree that this would be a good feature. Just haven't had time recently to create it. PRs are welcome if someone wants to take a crack at it.

[2021-05-21 04:06] timnolte commented on #248
Yeah, sorry to say that the focus lately has been on bug fixes in an effort to make sure that existing functionality is solid before adding additional enhancements. Additional enhancements also means more features that will end up creating more support requests.

I will say though that I have noticed that what the various IDPs provide in their discovery endpoints is not all the same. This will req

[2021-05-26 00:26] Glowsome commented on #248
In my defense/ motivation if a IDP/Provider is able to generate this it ought to adhere to [https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig)
Which in my personal opinion would simplify iterating through the configured URL ... regardless of the exact implementation on the IDP end ?

[2021-05-27 19:04] alerque commented on #122
@bevinhex Is there documentation on how to do that with hooks?

[2021-05-27 20:41] daggerhart commented on #122
@alerque I don't think there is documentation atm, but I could write up something simple. Currently working on another plugin that will provide a UI for this, but it's probably a few weeks out.

here is a very rough draft to get you started

[code]

[2021-05-27 20:43] alerque opened #315 "Auth via Keycloaak returns ERROR(access-token-expired): Session expired — only for homepage"
I have a bit of a strange issue with a WP install that I can't figure out if I've mis configured or if there is a bug.

* I'm using latest up to date WP, this plugin, and Keycloak.
* Autologin - SSO is enabled so it's basically the only way into the site
* The site only has a couple admin users, most anonymous users can view the site just fine
* The OIDC login works great for all but one specific

[2021-05-28 13:23] timnolte commented on #315
@alerque so in general the Access Token that is provided by the IDP indicates how long a session should be active for an authenticated application. The access token is expiring the WordPress session. I have about 20 client sites where this happens and it just seems normal and doesn't seem to cause a lot of problems other then getting logged out when you might be in the middle of something. I haven

[2021-05-28 16:19] amysticool commented on #152
Hi, setting blank "Userinfo Endpoint URL" field does not work for me, i have the following error message "incorrect user claim". May i have some help about it :'(

[2021-06-06 10:57] RaiLokesh commented on #196
was this solved?

[2021-06-08 03:04] 1ubuntuuser commented on #315
@alerque any progress with this one mate?

[2021-06-09 07:04] alerque commented on #315
No. In my case I beat my head against it for 2 days, then gave up for a day to work on other things. The next day the issue seemed to have vanished. I noticed it was just over 72 hours from when I first broke it. I switched to some computers/browsers that I used to test later in the process and they were still broken. As the 72 hour mark rolled by for when I first tested each of them they started

[2021-06-09 13:16] timnolte opened #316 "Redirect Back to Origin & Too Many Redirects (Azure AD confirmed)"
**Describe the bug**

When the "Redirect Back to Origin" option is turned on a condition can arise, confirmed with Azure AD, where the WordPress site enters a redirect loop causing a "Too man redirects" error and multiple attempts to reused the authentication code with Azure IDP ending in an error. However, navigating directly to the WordPress Dashboard after the error seems to allow users to acce

[2021-06-10 14:03] timnolte commented on #316
Additional testing shows that after Azure AD authenticates the user and sends them back to the Redirect URI a redirection to the WordPress Dashboard is happening but it is triggering an SSO login attempt/redirect again.

[2021-06-10 15:11] timnolte commented on #316
Looking at user metadata and it appears in test cases that the `session_tokens` is blowing up with many tokens all being present. On the particular case where this is happening there is Azure AD to WordPress Role mapping setup. This is currently being accomplished by removing all of a user's roles, adding the mapped roles, and then removing the user's session data and calling `wp_login` log the us

[2021-06-11 20:42] CyberSauce opened #318 "AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application"
Hi All,

I am using this plugin to try and work with wordpress, however consistently getting the same error repeatedly, even when making the auth url redirected and undirected and using Azure app registration. Is this a known issue or am I missing a configuration?

[2021-06-11 20:52] CyberSauce commented on #316
I am now getting this error too. After just recently posting my trouble. Is there a solution?

[2021-06-11 21:15] timnolte commented on #316
No there isn't a solution as there is no consistent way to reproduce the issue as of yet.

[2021-06-11 21:16] timnolte commented on #318
This sounds like a misconfiguration of your Azure AD setup.

[2021-06-11 21:17] timnolte commented on #318
I need to get my test site set back up and get back into my Azure AD to do some testing. Once I get back in I can provide some assistance on how your configuration should be setup for Azure AD.

[2021-06-11 23:01] CyberSauce commented on #318
I set it up I believe right. I used the app registration and the url reply with the url redirect shortened so https://subdomain.site.com/shortened url. Also I have it so new users can sign up (were doing azure b2b). Anyways I'd be happy to buy you some beers if we can get this setup.

[2021-06-11 23:02] CyberSauce commented on #318
Thanks. I've tried numerous times today no avail. We are using latest version of WordPress along with php. Again I'd be happy to buy you some 🍺🍻.

[2021-06-14 07:31] ridwankustanto commented on #167
@tophattom Hi, did you solve it? I need to mapping role keycloak to wordpress too.

[2021-06-14 09:15] tophattom commented on #167
This issue is not strictly related to mapping Keycloak roles to Wordpress roles. You can work around the issue here by creating a new mapper on the Keycloak client that puts the client roles in a different claim on the token (`wp_roles` in my case). You can then use that new claim in, for example, the `openid-connect-generic-user-create` and `openid-connect-generic-update-user-using-current-claim`

[2021-06-14 15:01] kash-raman commented on #318
I'm facing similar issue. I have enabled Alternative url: https://XXXXXXX.org/openid-connect-authorize and configured the same in google cloud. But, the url is still pointing to default url and getting a 400 error.  Any suggestions?

The redirect URI in the request, https://XXXXXXX.org/wp-admin/admin-ajax.php?action=openid-connect-authorize, does not match the ones authorized for the OAuth client.

[2021-06-14 15:07] kash-raman opened #319 "Custom Login flow"
Hi,
This plugin is really useful and has the basic usage which we are looking for.

I have a custom scenario where user info needs to stored in a different table and maintain a session. Alternative to creating or using word-press user.  How do I achieve this?

PS: I'm not a PHP developer, any insight would be helpful.

[2021-06-15 04:41] 1ubuntuuser commented on #315
@alerque oh that's a familiar feeling. Why are we in this line of work? So weird...

still an issue for me. I'll try update keycloak and see if the issue disappears!

[2021-06-15 13:04] timnolte commented on #318
What do you mean by the "url redirect shortened"? Are you using the shortcode to get the authentication URL or a login button in a page on the frontend of your site?

[2021-06-15 13:13] CyberSauce commented on #318
https://domain.com/openid-connect-authorize no button though

[2021-06-16 01:56] timnolte commented on #318
@CyberSauce OK, I'll need to do some testing with the Alternative Redirect URI option enabled and see if I can reproduce.

[2021-06-17 22:41] Arnold85 commented on #237
I tried to create an Enterprise Application as @timnolte suggested, but it would still not accept a URL with a query string. But I think I found the critical option: When the supported account types is set to include personal accounts it wont accept the query string. If it's set to organizational only, than it will accept the URL.

[2021-06-18 03:59] 1ubuntuuser commented on #315
I should clarify, with my issue, the error comes up when the user has been away from the page for at least 5 minutes.

Perhaps it has something to do with the key refresh https://stackoverflow.com/questions/42499818/keycloak-refresh-update-token-not-working

[2021-06-23 21:34] timnolte commented on #237
@Arnold85 so my testing and client work has all been focused on more of an enterprise setup and not say personal Office365 accounts.

[2021-06-28 08:10] kevinmoilar opened #320 "Session Expired error message confuses users"
The plugin throws an error if the user session expires. This is expected behavior from `openid-connect-generic-dev/includes/openid-connect-generic-client-wrapper.php` but users think they did something wrong because it says "Error".
It might be good if the word "Error" did not appear on the screen that is correctly informing users that (and why) they need to login again.

[2021-06-28 10:13] diegopau commented on #93
I am also interested in getting this to work. Are there any plans to bring support for WooCommerce integration?

[2021-07-07 00:58] danvy commented on #272
I'm also very interested in being able to update WP user info when login happen.
There's an update_existing_user method but it's never called.
https://github.com/oidc-wp/openid-connect-generic/blob/9dde05b8d997d9150656e84a3deb3f2404f108e7/includes/openid-connect-generic-client-wrapper.php#L971
When a user does not exists, an action is called instead.
https://github.com/oidc-wp/openid-connect-gener

[2021-07-14 21:42] timnolte commented on #316
Latest investigation indicates that Cloudflare full page caching on a WordPress site seems to attribute to this issue. In testing environments, without Cloudflare, I cannot reproduce this issue. Further investigation is needed to determine a fix while running under Cloudflare full page caching.

[2021-07-22 03:52] timnolte commented on #316
Further testing and production observations indicate there is also an issue with how sites are configured to redirect users from HTTP->HTTPS. If the site manages to load in some form and captures a redirect URL of `http` but the configured redirect URI is `https` in the IDP this seems to cause an issue with too many redirects as well.

[2021-07-22 15:07] s-seitz commented on #278
Hi!
I encountered the same problem. IDP is Keycloak. Interestingly enough, if I tick "Create user if does not exist" and left "Link Existing Users" disabled, the User is created with a numbered prefix. So if "username" already exists, a "username2" is created and successfully logged in. After taking a short peek into the code, this is expected behaviour for this case.

As I guess, after looking in

[2021-07-29 11:34] AminSaqi commented on #93
@timnolte  I'm willing to help implementing this feature. Tell me how can I do that.

[2021-08-04 20:39] dralquinta opened #325 "Unable to configure plugin against Oracle IDCS"
Hi folks,

I'm trying to configure the plugin by using WP 5.8 and Oracle IDCS.

For all purposes, the configuration looks ok. From IDCS Perspective, I'm generating the Client Secret and Client ID, which later on I'm pushing to plugin config.

My issue comes with the redirect URL. I've tried to use cases and all of them fail miserably:

1. Using a Redirect URL to a specific URI that I want to prote

[2021-08-04 21:51] timnolte commented on #325
@dralquinta so the redirect URI using 'https://nginxsvc/' seems wrong as it should be the domain name of your site and where the IDP would be redirecting back to. How is the Oracle IDP even getting you back to your site, or even allowing you to login given that redirect URI. I'm not really familiar with the Oracle service and what it is expecting for setup. I'm assuming you have all of the relevan

[2021-08-04 22:05] timnolte commented on #325
@dralquinta does this article match the sort of initial setup that you did? One note is that I would recommend also enabling the Refresh Token feature as well as the Authorization Code feature. https://www.ateam-oracle.com/using-openid-connect-to-delegate-authentication-to-oracle-identity-cloud-service

[2021-08-04 22:43] dralquinta commented on #325
Hi @timnolte

Thanks for getting back to me. The configuration done from IDCS Side, is closer to what's explained in this link: https://blogs.oracle.com/developers/authenticating-users-with-oracle-idcs-via-openid-connect-and-micronaut

Dropping the micronaut part (and replacing that for Wordpress), the general steps are the same:

- Create a testing user inside a group in IDCS
- Configuring a Conf

[2021-08-04 22:44] timnolte commented on #325
@dralquinta to clarify that Micronaut setup is wrong for this plugin. It uses Authorization Code flow. Which the article I provided aligns with how the application should be configured for this plugin.

[2021-08-04 22:53] dralquinta commented on #325
I've did an update on the config.
![image](https://user-images.githubusercontent.com/51421891/128265399-d5e4cdb0-d3ca-4978-b716-24807ed5d640.png)

So If you see, now only Refresh Token and Authorization Code are marked.

This is the config from plugin side:

![image](https://user-images.githubusercontent.com/51421891/128265477-15508152-50ee-46af-b0fd-5337dd0acb04.png)
![image](https://user-images.

[2021-08-04 22:58] dralquinta commented on #325
Forgot to mention. This is what it happens when I do the login flow:

- Hit https://nginxsvc/wp-admin/ to attempt to log in
- The following appears:
![image](https://user-images.githubusercontent.com/51421891/128265747-b7ebe4d2-c2c3-4798-8ac2-08f42740b107.png)

- Hit on "Login with OpenID Connect"
- Get redirected to credential form. Enter credentials and then hit *Sign In*
![image](https://user-i

[2021-08-05 00:12] timnolte commented on #325
@dralquinta a couple of things. I would never share your client ID and secret in public like you did. You are going to want to regenerate these and now use the ones you included in the screenshots. The other thing I see if that it is probably the case that the Oracle IDP doesn't support parameters in the redirect URI. You will 2ant to use the alternate redirect URI option of the plugin.

[2021-08-05 00:28] dralquinta commented on #325
No worries. It's all disposable and at this point not even live anymore :)

Using the alternate url produces the same results so I'm positive to say that something else is going on.

If you have any ideas please let me know.

[2021-08-05 03:54] timnolte commented on #325
@dralquinta so, I was able to signup for a friend Oracle Cloud Service account and setup Oracle IDCS to use along with my testing site. I'm hitting the same issue as you are, and from what I can tell the Oracle IDCS IDP doesn't like the URL it is getting from the plugin when requesting a token. So the authentication is taking place but then when the plugin makes the request for the token it is fai

[2021-08-05 04:10] dralquinta commented on #325
Interesting.

I've tried another plugin where the redirect url is different (simple url with no context) and indeed it goes fine after doing the authentication, however this plugin is very limited in functionality on its freeware version as it only works as a PoC.

Besides the one the plugin already implements is there any way to overload that? I've not checked the code implementation but as a wil

[2021-08-05 04:37] timnolte commented on #325
@dralquinta there is no problem with the plugin redirect url. This error has nothing to do with that. I believe, after looking at this documentation(https://docs.oracle.com/en/cloud/paas/identity-cloud/rest-api/openidconnectauthcode.html), that it has to do with attempting to use a Confidential Client application registration vs a Public Client application registration. This WordPress plugin speci

[2021-08-11 15:05] lliming commented on #247
The same is true when using email matching (Identity Key is set to "email").  Email matching shouldn't be case-sensitive, but it appears to be case-sensitive in the code now, as we were able to reproduce the behavior described here by changing the case of the email address in the wordpress username field.

[2021-08-11 15:24] lliming commented on #278
My team is using the configuration described in the OP, and it generally seems to be working for us. One issue we've had (cited in #247 ), is that the matching currently being performed is case-sensitive, so wordpress username "bob" and IDP preferred_username "Bob" do NOT match. If Identity Key is set to "email", neither "bob@GMail.com" nor "Bob@gmail.com" match "bob@gmail.com".  It took us a whil

[2021-08-11 21:05] timnolte commented on #278
@lliming thanks for the additional details. I'll be looking to carve our some time to work on another bug fix release soon, and will see about addressing this issue and the related casing issue.

[2021-08-17 12:16] cedriccharles4 opened #329 "cURL error 52: Empty reply from server"
Hello there :) !

First of all, thank you for your work.
While trying to set the settings of your plugin, I'm facing a "cURL error 52: Empty reply from server" error message when trying to SSO.

Could you please help me?

Kind regards,
Cedric

[2021-08-17 12:36] cedriccharles4 commented on #329
I've managed to get rid of that "curl error" by specifying 'blocking' => false in the request parameters directly in your plugin: https://snipboard.io/GrMj6B.jpg

But now, after entering my email/password, I have this: https://snipboard.io/46skI5.jpg

Coud you please help me?

Kind regards,
Cedric

[2021-08-18 06:24] sabiertas opened #330 "error=incorrect-user-claim&message=Incorrect+user+claim."
Good morning I have problems with your plugin, I am using wordpress 5.8 and the plugin version is 3.8.5 I get the error message that I have put in the theme, although I have tried all the possible values ​​in the "Identity Key" field, from At the moment I have solved it by modifying the code of the file "openid-connect-generic-client.php" line 517 putting only return; I do not know how this may af

[2021-08-18 12:50] timnolte commented on #330
@sabiertas changing the code that you have means that you are allowing the authentication to proceed without proper validation. The reason it is failing is because the user claim and ID token claim do not have matching `sub` attributes.

What IDP(Identity Provider) are you using?

[2021-08-27 23:41] Glowsome opened #331 "Add support for sending acr_values"
**Is your feature request related to a problem? Please describe.**
The current implementation does not support asking for a specific authentication-contract by means of sending the parameter 'acr_values' as described in [https://openid.net/specs/openid-connect-core-1_0.html](https://openid.net/specs/openid-connect-core-1_0.html) - section 5.5.1.1.

**Describe the solution you'd like**
It would be

[2021-09-02 15:43] tommcc commented on #89
This is biting me as well. For one instance, I'm getting email address in the token response, but not in the userinfo request. This line https://github.com/oidc-wp/openid-connect-generic/blob/dev/includes/openid-connect-generic-client-wrapper.php#L489 means that useful variables in the token response are wiped out if the userinfo endpoint exists. I would love if either:
1. The token response varia

[2021-09-05 22:50] rekkisomo opened #332 "Invalid State upon Azure B2C Password Reset"
We've noticed an issue when a user resets their password via Azure AD B2C. Upon redirect after resetting, an `invalid-state` error appears and the user is forced to reset the password again when clicking on "Sign in with OpenID Connect". We're not really sure what's causing this, as it seems to be isolated with a select few of users, but any help or suggestions would help greatly!

Thanks!

[2021-09-05 23:11] timnolte commented on #332
@rekkisomo this is most likely due to the fact that during a password reset operation there is extra time required to accomplish the password change before going back to the WordPress site. The state generated by the plugin defaults to a 3 minute lifetime before it expires. If a login process takes more time then that this will result in an invalid state error. If this seems to happen enough then

[2021-09-06 20:07] rekkisomo commented on #332
@timnolte thanks! Looks like increasing it 300 seconds has helped almost eradicate this issue. Is there any worrying security downsides of increasing this limit in production?

[2021-09-06 20:45] timnolte commented on #332
@rekkisomo so the security implications of keeping that state valid too long is opening it up to replay attacks if the state is captured.

[2021-09-07 11:47] Lurkars opened #333 "Generic Login Url"
I miss the possibility to trigger a login from an external side. Usually an OIDC provider can for example list connected application and users can directly jump into application. For now the login button is always a generated request direct to the IDP with correct state etc. So it is not linkable on external services.

I would suggest a generic login URL which just trigger a redirect with all para

[2021-09-07 16:37] josepedrocorreia commented on #206
I would also find this very useful.

Great plugin, BTW. Simple and to the point!

[2021-09-07 21:59] rekkisomo commented on #332
@timnolte Thanks! I'll see what we can do. :)

[2021-09-07 21:59] #332 closed

[2021-09-08 13:56] StarAurryon opened #336 "Add support for front logout channel"
**Is your feature request related to a problem? Please describe.**
"OpenID connect generic" Wordpress plugin does not support front logout channel.

**Describe the solution you'd like**
Implementing "Front logout channel" as per https://openid.net/specs/openid-connect-frontchannel-1_0.html

[2021-09-09 00:49] rekkisomo commented on #332
Unsure if it's related, but `request_new_tokens` is fired on each request made, despite the refresh token being set to 14 days (and access tokens set to 1hr) as default by Azure AD B2C.

Is this normal behaviour? It seems that in `ensure_tokens_still_fresh`, it shouldn't be requesting a new token if it's not expired. Azure's token endpoints are generally slow, so page loads and api requests when s

[2021-09-09 09:59] rkcreation opened #339 "Method to refresh user claim"
I need for a custom UC to refresh data of a user.

1. My custom plugin updates some attributes on Keycloak server (using admin REST API)
2. Later, it needs to validate these attributes, but unless user has been logged out / in, user_claim is not refreshed and my attributes are not up-to-date

I wrote a very basic PR with a new callable WP action, that calls `$client->get_user_claim()` (with the sa

[2021-09-09 10:02] MiHum commented on #177
I'm working on a blazor app and have the same problem with the logout request. So far as I know, I have no workaround to set logout_redirect_uri instead of post_logout_redirect_uri.

[2021-09-13 01:33] babyken commented on #87
I would like to know is this issue remains exist ?
The idp I am using having 4 hours timeout but the login page pop up every hour and re-auto login. However, the unsaved work will be lost.

Thank you.

[2021-09-13 01:44] timnolte commented on #87
@babyken so I'm glad you reached out about this. As I have a set of client sites that I have had reports on this similar issue and I haven't had a chance to confirm with their IT on whether they're IDP(Azure AD) is set for a session timeout that is matching what is happening or if it is an issue with token refresh. Further analysis and testing needs to be performed to be certain. There may also be

[2021-09-14 04:23] babyken commented on #87
@timnolte Thanks for prompt reply. FYI, The IDP we are using is a in-house setup. The expiry time is 4hrs. We also checked that the cronjobs should work normally.

[2021-09-29 08:09] mobykwong opened #344 "Session Timeout cannot change"
I set 1800 to State time limit in plugin setting, but it keeps timeout after 3 minutes. The default value is not overwritten by the setting.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Setting -> OpenID Connect Client
2. Set 1800 to "State time limit"
3. Go to an other page in admin
4. Wait 3 minutes

**Screenshots**
![image](https://user-images.githubusercontent.com/71618285/13522

[2021-09-29 11:19] timnolte commented on #344
@mobykwong the State is not session. What you are describing is session timeout. The state is the nonce generated and used as part of the authentication process. You should be very careful with increasing the state as this can open up your site to replay attacks on authentication.

[2021-10-15 02:48] 1ubuntuuser commented on #214
I'm having this issue, seemed to pop up out of the blue. The above code didn't help in my case so i switched to the non alpine version of wordpress

[2021-10-27 17:29] marcadella opened #346 "How to forward the access_token to an API"
I have an app using OIDC which I want to embed into Wordpress. Is there any way to use this plugin to get the access_token and forwards it as bearer token to my API? I had a look at the actions, but all I could find was an access to the user claim, not the access_token.
So to sum-up: Is it possible to use this plugin to simply forward the access_token to an API, without creating/modifying wordpres

[2021-10-27 21:55] marcadella opened #347 "access_token is assumed to be plain JSON"
According to the spec the access_token may take any form (and often a JWT) [see here](https://auth0.com/docs/security/tokens/access-tokens). But in the code I can see `$token_response = json_decode( $token_result['body'], true )`, meaning that plain JSON is assumed.

[2021-10-27 21:58] #346 closed, assigned to nobody

[2021-10-29 11:50] #347 closed, assigned to nobody

[2021-11-15 15:15] akselhenriksen79 opened #348 "Scope parameter is not supported on an authorization code access_token exchange request."
Hi!

We're getting this error when trying to login;

`"{"error_description":"Scope parameter is not supported on an authorization code access_token exchange request. Scope parameter should be supplied to the authorize request.","error":"invalid_request"}"`

The values of the field "OpenID Scope" are set to:  profile email

[2021-11-16 03:45] timnolte commented on #348
@akselhenriksen79 what Identity Provider are you using?

[2021-11-16 07:02] akselhenriksen79 commented on #348
@timnolte Our client's own identity provider. Is this a problem on their end? It happens everytime they try to login

[2021-11-16 10:25] timnolte commented on #348
@akselhenriksen79 this sounds like a misconfigured IDP. Are they using their own Keycloak install? What service is providing your clients IDP?

[2021-11-29 08:28] akselhenriksen79 commented on #348
Hi again Tim,
Their service they're using as IDP is Forg Rock OpenAM.

I got a response now from the team responsible for the IDP;

"As discussed over call, we checked and see that from the HAR file, {IDP} has successfully authenticated and has returned the code for the authorization_code grant flow but there is an error on the app url which needs to be checked from the application end. Attaching

[2021-11-29 10:20] flavietto commented on #330
Hi @timnolte i'm experimenting the same problem. I'm trying to integrate Keycloak with wordpress and after login form it responds with incorrect-user-claim. After swome debugging i found that $user_claim is empty but id_token claim has some values.
Can you help me?

[2021-12-09 18:31] milesimarco commented on #278
Same problem here,
it seems that link_existing_users is **triggered only when create users function is turned on**.
After the first linking, the actual code is working for previous users as expected, even if we disable "create users".

The point is this part of code:

`
\includes\openid-connect-generic-client-wrapper.php, L510
`

[code]

On the first code run, the `get_user_by_identity` is checked

[2021-12-09 22:53] Glowsome commented on #331
Due to the fact that no progress was seen as to assignment or otherwise i have forked the repo and have been working on a own implementation.
When finished i will create a pull-request for the work i have done.
Current progress:
- implemented additional option in settings-page.
- added routine to check if the field is populated.
- added code to honor the additional parameter in the URL when the op

[2021-12-09 23:15] timnolte commented on #331
@Glowsome sounds good PRs are always welcome. Things have gotten busy the past many months and I've been more recently trying to get the project in better shape for other developers to contribute and spin up a local development environment easier. I've also been working on PHP & WordPress version compatibility testing.

[2021-12-09 23:17] timnolte commented on #278
@milesimarco thanks for digging into that. I will be looking to get a new release out within the next few weeks as things slow for the holidays.

[2021-12-09 23:29] Glowsome commented on #331
For your info, i have the fork running on a testsite with :

1. current WP version 5.8.2
2. A Microfocus AccessManager v.4.5.3 IDP with OIDC/Oauth2 capabillties
3. A specifically defined authentication contract as defined on the IDP on the authentication request from WP

Latest additions to code are as stated above the implemenatation of verification if (when defined) the acr_values returned in th

[2021-12-11 00:02] Glowsome commented on #348
In regards of scope, expecting OIDC-compliant responses **always** add ( next to the required scopes) the openid scope.

[2021-12-11 00:42] Glowsome commented on #331
@timnolte i have issued a PR , hope i did it corectly :)

[2021-12-11 23:21] Glowsome commented on #333
In a Federative world of authentication the IDP is the one authority that handles authentication.

Giving an external application (which is not federated) the power to be an authorative source for authentication means it should act as an IDP and have a trust with the IDP where the WP site is connected to.

When this is not the case your proposal means you would be able to effectively bypassing the

[2021-12-12 00:25] Glowsome commented on #320
In my opinion if a timeout of that sort does occur it should hard-redirect back to the IDP - avoiding the 'error' dialogue.
Next to that,(personal observation) clicking away the error popup still makes you see content of the WP-site.
This should not happen.

[2021-12-12 00:42] timnolte commented on #320
@Glowsome so I haven't seen only the modal popup version of the session timeout occur, I have seen the full page redirect to the login page occur. Although I think this may depend on whether you have Button or Auto SSO configured. I will say the just automatically redirecting users is not good because there is no way to display a message to the user to inform them of why they were just redirected

[2021-12-12 01:00] Glowsome commented on #320
@timnolte i on my end have the auto SSO login option configured, however if i were to have (as a user who has admin-privileges), and just having like ( in my case) having the plugin-config page open it will spawn the popup that my authenticated has gone away and i need to re-auth.
However if i were to forefully click the [x] on the popup it will allow me to view the data provides.

IMHO this is un

[2021-12-12 01:11] timnolte commented on #320
So I can see ensuring a redirect to the WordPress login screen but no application that I have used with SSO, and an IDP, just automatically redirects the user to the IDP without warning. The application that has been logged into should inform the user that their session has timed out and that they must re-authenticate.

[2021-12-12 01:13] timnolte commented on #320
I would also say that being logged into a WordPress site as an admin and just walking away and expecting session timeout and redirection is a bad practice. If you are worried about plugin settings being exposed you should be doing your work and logging out.

[2021-12-12 01:14] timnolte commented on #320
Also, if you are walking away from your computer without locking your screen that is also a bad security practice.

[2021-12-12 01:17] timnolte commented on #320
I'm also pretty sure that WordPress is presenting the modal popup re-authentication because there is unsaved work on that screen that it is giving the user an opportunity to be able to re-authenticate without losing their in progress work.

[2021-12-12 01:18] Glowsome commented on #320
@timnolte in al above arguments i can agree, still this doenst secure just the case given.
in this all arguments given are all reflected agaist the 'human' - factor.
This from my point makes results - depending on user unreliable, and opens the gate to unwanted manipulation.

[2021-12-12 01:22] timnolte commented on #320
I'm not so sure about "unwanted manipulation" as someone wouldn't be able to make edits as any submission of a screen, after closing the pop-up, would fail due to WordPress session checks. I'll also point out that this has nothing to do with the functionality of this plugin as that behavior is all how WordPress Core works out-of-the-box.

[2021-12-12 01:36] Glowsome commented on #320
The part about unwanted/unsollicited manipulation is opened when an IDP session is (still) active over the timeout of re-authentication on the application-side, meaning when the pupup does occur in/on WP.
On the one hand if a session exists (an dhas not timed out) it should not produce the popup.
On the other hand if a/the timeout occured  at the IDP, this means any means of acces to information (

[2022-01-04 01:42] mmmccain opened #355 "Creating a keycloak account from WordPress"
I am currently authenticating a WordPress site against a keycloak server and if a user does not exist, it will create one on the WordPress site. However, I require the opposite functionality. If a user already is present or is created by WordPress, a new keycloak user will be created with the user information.

Any suggestion on how I might accomplish this task using oidc-wp?

Thank you,

Michael

[2022-01-04 01:46] mmmccain opened #356 "Using with keycloak server"
I have spent some time learning about keycloak and have figured out the basic functionality of the plugin using a keycloak server. However, I am still guessing on many of the settling. Is there any documentation on the best settings for both keycloak and for oidc-wp for them to work together? With come clarification, this is something I could assist in maintaining.

[2022-01-04 02:26] mmmccain opened #359 "ERROR (invalid-state): Invalid state with keycloak"
I am using keycloak as the IDP and have it generally functional if a user is logged-in, but receive the following error after a login attempt from [openid_connect_generic_login_button], it then redirects the user to https://www.example.com/wp-login.php?login-error=invalid-state&message=Invalid+state. The user can then  "Login with OpenID Connect" and be authenticated.

-
Type: invalid-state
Date:

[2022-01-04 03:42] timnolte commented on #355
This is not something that this plugin would directly provide. How accounts are created is something that is handled by the IDP, in your case Keycloak. There is currently an open draft and call for review on a new specification to signal to an IDP, by a client, to perform a user registration, however this is new and most likely not supported by any IDP yet.

* First Public Review Period Started -

[2022-01-04 03:42] #355 closed

[2022-01-04 04:11] timnolte commented on #359
This is most likely a Keycloak configuration issue. Can you provide a working example site where this is not functioning? If not if you can provide the URL that is being generated for a user to click on when using the `[openid_connect_generic_login_button]` shortcode that might also help to resolve the issue. You can see an example on our Development testing site(https://dev.oidcwp.net/) and this

[2022-01-04 04:12] timnolte commented on #356
@mmmccain please move this to a Discussion topic instead of an issue. We don't currently have a Keycloak IDP instance available for testing.

[2022-01-04 04:12] #356 closed

[2022-01-04 05:26] mmmccain commented on #359
http://lavra.okyrios.org/ is the site where oidc-wp is installed.

https://lavra.okyrios.org/wp-login.php?login-error=invalid-state&message=Invalid+state.
is the URL created by the failed login. It then redirects to a wp-login. If
I click on the Login with OpenID Connect again, it will authenticate but
then attempt to log me into wp-admin/

[image: image.png]

I am happy to work with you with my k

[2022-01-04 05:33] mmmccain commented on #359
![image](https://user-images.githubusercontent.com/97072059/148013930-e41907f4-b65a-4a8e-9f5b-046850b04a6c.png)

[2022-01-04 23:59] mmmccain commented on #359
This may be helpful. The behavior with the [openid_connect_generic_login_button] shortcode is the "Login with OpenID Connect" on the wp-login.php. The latter does not produce an error in the log, but attempts to place the user after login in wp-admin and displays "no data to display."

Also, once a user is logged in, they can log out and back in with no error. It is only when the session has eithe

[2022-01-06 23:29] timnolte commented on #359
@mmmccain given my own testing last night with our dev server and the Keycloak Server we setup I'm wondering if the problem is caching. We have Cloudflare in front of our Dev server with caching on, as well as Litespeed caching and noticed that if you use the shortcode anywhere on your frontend you will most likey  have the invalid state issue. The state for a login is generated always on-the-fly

[2022-01-06 23:32] timnolte commented on #336
As I've just setup a Keycloak server instance for testing I saw this option. I suspect that is the IDP you are using? I have not run into this feature on any of the other test IDPs I've setup.

[2022-01-07 00:03] mmmccain commented on #359
I suspect you are correct. It actually works fine all day. The next morning is when I receive the error. I use Litespeed also and just added /login/ uri to the exclude. That also explains why when it is redirected to the wp-login page it works.

I did an RTFM on the docs you posted and adjusted a few things in keycloak. I will waiting until you make your post to the wiki before making more.

[2022-01-07 01:27] mmmccain commented on #359
Please share your setting for keycloak. I know I am missing likely one thing. I stood up another site just to test it and produced the same result. It is a setting in keycloak.

![image](https://user-images.githubusercontent.com/97072059/148476220-22df1663-fa45-4d25-aff8-879254c41304.png)

If I hit login with OpenID Connect, it will proceed and put the user in /wp-admin/

[2022-01-07 01:46] timnolte commented on #359
@mmmccain so 2 things. The first thing is that if you are going to login with SSO you should never be entering login information into the WordPress login screen. Our plugin never passes credentials to the IDP.

The second thing is that I feel like, from what I saw on your site, that you might be trying to use the plugin in a way that it wasn't designed for. Are you trying to use our plugin for som

[2022-01-07 01:47] timnolte commented on #359
Also, one other piece of information about the "state" is that it has a time limit. If you leave the login screen with the button up on screen for too long before you actually click the button to login there is a good chance the state will have expired and you'll have to try you login again.

[2022-01-07 02:30] mmmccain commented on #359
I am currently testing it on 3 sites, but I am only asking it to provide SSO. Nothing fancy. I have SSO set up with the same keycloak server for peertube and for jitsi. One of the sites is a member site, but even in that case, it is only requesting login and password from keycloak.

I do not use the wp-login, but the shortcode and a login screen. When the shortcode button fails, it returns to the

[2022-01-07 02:38] mmmccain commented on #359
I am confident it is a simple setting on the server. I have one instance now behaving consistently. It causes the error above after login and then works if I press the OpenIP Connect button again. I am confident with the right keycloak setting this will simply work. Please post them when you can.

[2022-01-07 03:15] mmmccain commented on #359
Here are my setting for the plugin, if that helps. I replaced the secret with XXXXXX, but it is the secret from keycloak.

![image](https://user-images.githubusercontent.com/97072059/148485539-b1247e77-be5f-4549-94cb-548c4a6750d8.png)

[2022-01-07 04:59] timnolte commented on #359
@mmmccain FYI, the [Keycloak Configuration Guide](https://github.com/oidc-wp/openid-connect-generic/wiki/Identity-Provider-Configuration:-Keycloak) is published.

[2022-01-07 05:12] mmmccain commented on #359
@timnolte I just made all of the changes. I might have over complicated this a little. All is working, but this is often the case. Let me flush all the case and let things time out and try again. Thank you!

[2022-01-07 12:11] StarAurryon commented on #336
I use it with Ory Hydra which is also an OpenSource solution compliant with OpenID Connect features.

BTW this is linked to #334.

[2022-01-07 12:40] leoniscsem opened #360 "wrong URL encoding on callback after authenticating against Nextcloud"
**Describe the bug**
When authenticating against Nextcloud 22 on nginx, the user does not end up at the intended redirect URL, but on the home page instead. Independent of the callback URL settings of the plugin (Ajax / alternative URL).

Check the encoding of the redirect URL: `edirect_uri=https%3A%2F%2Fwordpress.domain.net%2Fopenid-connect-authorize`

Log:
[code]

**To Reproduce**
Steps to repro

[2022-01-07 13:15] timnolte commented on #360
I will have to do some further testing given it looks like you are using the Alternate Redirect URL feature. I've done many test setups with other IDPs including Microsoft Azure AD, Google Workspace, Amazon Cognito, Oracle Identity Cloud, Keycloak and there have shown to be no problems with the use of the standard redirect URL setup. Have you tried without using the Alternative Redirect URL featur

[2022-01-07 19:46] mmmccain opened #363 "fails existing user test"
When the "Link existing users" is selected and "Create user if does not exist" is not selected, it fails the "identity-not-map-existing-user" even though the user exists. If "Create user if does not exist" is selected, a new user is not created and the test is passed.

Failed test with "Create user if does not exist" not selected. User cjashley2@protonmail.com is in the WP system.

![image](https:

[2022-01-07 19:52] #359 closed

[2022-01-07 23:42] #363 closed

[2022-01-07 23:43] timnolte commented on #363
This is a duplicate of https://github.com/oidc-wp/openid-connect-generic/issues/278

[2022-01-08 00:45] mmmccain commented on #278
It does appear to be related to case sensitivity in the email address if that is helpful.

[2022-01-10 04:56] leoniscsem commented on #360
Yes, unfortunately it creates the same result in the encoding.

[code]

I have unfortunately no clue where to look at. Could it be related to DB encoding?

[2022-01-13 10:15] schwukas commented on #187
Correct me if I'm wrong but from what I can see both periods and hyphens are still replaced in the current code. I've checked [the line in question](https://github.com/oidc-wp/openid-connect-generic/blob/dev/includes/openid-connect-generic-client-wrapper.php#L705), my WP installation and the [3.6.0 release tag](https://github.com/oidc-wp/openid-connect-generic/releases/tag/3.6.0) and find that all

[2022-01-13 22:02] MCKLtech opened #366 "Support for token_id in query response?"
We have a provider that returns the token_id with the code in the query response, as opposed to via the oauth2/token endpoint.

Is this supported? From looking over the code it would appear the token_id has to be returned with the access_code.

[2022-01-14 01:15] Glowsome commented on #331
@timnolte do beware that i bumped the version of the addon in the PR to 3.6.0 to avoid it being overwritten.
If this an issue in the PR then please let me know.

[2022-01-14 01:33] Glowsome commented on #330
@flavietto as you have clearly stated in your comment/adition this is resolved.

Would you be so kind as to closing this ?

[2022-01-14 01:40] Glowsome commented on #329
Can you provide trace-information ?

[2022-01-14 01:40] timnolte commented on #331
@Glowsome hmm, generally I don't want people bumping the version, though I need to make sure that I bump the version to a future alpha after a release to assist with development testing. Can you revert that version bump and I will do so and then you can rebase with the latest. I have some dependency and local development changes to merge in as well, including some fixes for translations.

[2022-01-14 01:50] Glowsome commented on #331
@timnolte i will revise the PR to not bump the version as requested.

[2022-01-14 08:11] flavietto commented on #330
Hi @Glowsome,
i can't find the option to close this issue, probably it was opened from someone else? Can you suggest me how to close?

[2022-01-14 08:29] milesimarco opened #368 "IdP initiated SSO"
**Is your feature request related to a problem? Please describe.**
Some OpenID use cases need to support IdP initiated SSO. Even if it's not a standard feature of OpenID, it should be a game changer in such cases.

**Describe the solution you'd like**
There are many technical ways. Here is an example of the logic i'm actually testing for PoC purposes:

[code]

In this case calling the endpoint `ht

[2022-01-14 10:30] #330 closed

[2022-01-14 10:52] timnolte commented on #368
@milesimarco yes, what you are describing is what's defined as "Initiating Login from a Third Party" in the OpenID Connect specification. We will looking in to supporting that part of the specification. Thanks!

[2022-01-14 14:12] Glowsome commented on #331
Done

[2022-01-28 07:47] Lurkars commented on #333
I quite don't understand this comment in the context. What I am requesting is a url to trigger login for the configured provider. Currently state parameters etc are generated on login page and then this link is generated. I would suggest that this can happen as a redirect under a direct link as I proposed above. This is completely usual behavior in many OIDC client applications and does not bypass

[2022-01-28 07:54] Lurkars commented on #368
This is exactly what I also requested at #333 .

[2022-01-28 07:56] Lurkars commented on #333
will close this in favor of  #368.

[2022-01-28 07:56] #333 closed

[2022-02-08 09:04] marcadella opened #372 "openid-connect-generic-last-token-response does not contain refreshed access token"
It is stated that `openid-connect-generic-last-token-response` should contain "the user's most recent token response". But as far as I can see from the code, `openid-connect-generic-last-token-response` is only updated by `login_user` method, and not by `ensure_tokens_still_fresh`, which means that user meta only contains the *initial* access token (and not *the most recent* one).

[2022-02-13 15:13] sepehr-davarnia opened #373 "Conflict with Wordpress Object cache"
Hi

Whenever I enable any of WordPress object caches (redis, memcache, memcahced, ...) OpenID connect throws this error.

![image](https://user-images.githubusercontent.com/22587181/153759761-f018c99f-6c04-498d-b3f2-d7c2eebdccb0.png)

[2022-02-16 15:59] upachler opened #375 "'Invalid State' after idling on login screen"
Hallo,

I'm currently using 3.8.0, considering to update to 3.8.5.

We currently have the problem, that after leaving the login screen idle for longer than the 'State time limit' (the default setting in the plugin for this is 15min), the plugin will display an 'Invalid State' message. This is very ugly and has side effects in that clicking the 'Login With OpenID' button redirects the user to /wp-a

[2022-02-23 17:12] Elf36 opened #376 "Website Protection - no login"
Hi,
I would like to authenticate users to the website but NOT log them in

I have tried doing proxied connections to Keycloak but Plesk isn't having it, I have seen the mini Orange pug but it's over complex and a stupid price. I could put in a reverse proxy inform of the web site but that is another server I don't need.

Possibly this is achievable with very little tweaking already or maybe a feat

[2022-02-25 18:36] #176 closed

[2022-02-25 19:29] #254 closed

[2022-02-25 20:06] #117 closed

[2022-02-25 20:14] #103 closed

[2022-02-26 03:33] #178 closed

[2022-03-04 01:06] #339 closed

[2022-03-07 14:51] upachler commented on #272
We have this problem too - any news on that front? The plugin appears to have code to support this, but it seems not be called.

[2022-03-08 09:07] FloppyNotFound commented on #272
I found a solution for updating firstname, lastname and email after each login (note: this is run always, so without a configuration toggle, could be added optionally).

In the "openid-connect-generic-client-wrapper.php"->register->...is_admin-If, add the following line to hook into the update request:

`
add_action( 'openid-connect-generic-update-user-using-current-claim', array( $client_wrapper,

[2022-03-09 03:05] #331 closed

[2022-03-11 09:02] bobheinen opened #391 "openid-connect-generic-last-token-response does not exist when user is manually added"
We add users manually, and match by username / email against the openid request.

However, when a user has been created manually, the 'openid-connect-generic-last-token-response' and 'openid-connect-generic-subject-identity' meta keys do not exist, which causes an error:

[code]

When I add this key to the usermeta database, with foo values, it does work:

[code]

**To Reproduce**

- Add a new use

[2022-03-15 08:58] marcadella commented on #372
Duplicate of #178

[2022-03-15 08:58] #372 closed

[2022-03-17 01:02] #243 closed

[2022-03-17 03:57] timnolte commented on #275
This isn't a valid issue based on the functionality of the plugin, a WordPress user is required to exist to login to the site.

[2022-03-17 03:57] #275 closed

[2022-03-17 04:03] timnolte commented on #187
@dband this is not going to be fixed as we are moving to use the WordPress Core [strict user sanitization](https://developer.wordpress.org/reference/functions/sanitize_user/).

[2022-03-17 04:03] #187 closed

[2022-03-19 00:24] #157 closed

[2022-03-19 00:24] #212 closed

[2022-03-19 00:24] #214 closed

[2022-03-19 00:24] #247 closed

[2022-03-19 00:24] #249 closed

[2022-03-19 00:24] #278 closed

[2022-03-19 02:24] timnolte commented on #375
@upachler just an FYI, that the state and transient are used for much more than that. The state transient also stores the original URL that initiated the login flow in order to consistently maintain the ending redirect destination. This URL used to be maintained using a cookie however due to caching and other redirect problems using a cookie was not a viable solution and we transitioned to using t

[2022-03-19 02:26] timnolte commented on #373
@sepehr-davarnia I personally use a Redis object cache on our Development & Testing instances, as well as some client sites, and I have yet to see an issue. Are you certain that you are correctly configuring your object caches?

[2022-03-19 02:38] timnolte commented on #360
@leoniscsem just to confirm that there is no issue with encoding. In your last message the `redirect_uri` sent to your NextCloud instance, when urldecoded is the correct URL. I dropped `https%3A%2F%2Fwordpress.domain.tld%2Fwp-admin%2Fadmin-ajax.php%3Faction%3Dopenid-connect-authorize` into an [online decoder](https://www.urldecoder.org/) and it return exactly the correct URL that your NextCloud in

[2022-03-20 23:39] Glowsome commented on #376
Trying to understand the question here....

And to be honest i cant make heads or tails of it ... so what exactly are you trying to accomplish here ?

[2022-03-22 11:56] bobheinen commented on #391
Seems to be same as issue #212

[2022-03-22 11:56] #391 closed

[2022-03-28 11:43] Cromian commented on #263
@timnolte question what kind of work would be needed to get this done? I have this need. Happy to take a jab at it but just need some direction.

[2022-04-12 14:19] Rahe commented on #208
Hello,

We've developped an addon for the plugin to add support of PKCE https://github.com/BeAPI/openid-connect-generic-pkce-addon/.

Maybe it can help some people :)

Nicolas,

[2022-04-15 12:30] ohmoreno commented on #208
Sweet!
I'll check it out.
Thanks man.

[2022-04-15 12:32] ohmoreno commented on #208
Sweet!
Thanks man, I'll check it out.

[2022-04-15 12:44] timnolte commented on #208
@Rahe would you want to open up a PR to add this feature. We'd be very happy to include this as a built-in feature in the next release.

[2022-04-22 15:22] elfico opened #399 "The mandatory 'code_challenge' parameter is missing."
**Describe the bug**
After configuring all settings, when the login button is clicked, I get the error:
error:invalid_request
error_description:The mandatory 'code_challenge' parameter is missing.
error_uri:https://documentation.openiddict.com/errors/ID2029

Even after removing the PKCE requirement, the error still persists

**To Reproduce**
Steps to reproduce the behavior:
1. Configure plugin wit

[2022-04-23 07:36] elfico commented on #399
I just realized the issue is because the auth server requires that client must use PKCE. Is there any way to enforce this on the plugin?

[2022-04-23 11:20] timnolte commented on #399
So the plugin doesn't currently support PKCE, this was reported/requested awhile ago. https://github.com/oidc-wp/openid-connect-generic/issues/208

There is a link to an addon that someone developed in the comments on that issue to add PKCE support. I have not validated, nor do we necessarily endorse, that addon but it is a possible solution until we get that built in.

[2022-04-23 12:42] elfico commented on #399
Thanks for the quick response @timnolte , I will check the addon.
I noticed another issue though. I was able to use a test server that does not require PKCE and the ID server login page showed but when I logged in and the redirect url is called, I get a blank page with the message:
"Application not configured"
I have gone over the settings and everything looks good

[2022-04-23 14:00] elfico commented on #399
Thanks @timnolte , I would check the plugin.
How do I install a plugin though, there seem to be no documentation on installation. Would really appreciate the help.
Thanks

[2022-04-23 14:13] timnolte commented on #399
@elfico you can download the required addon file directly from here: https://raw.githubusercontent.com/BeAPI/openid-connect-generic-pkce-addon/main/openid-connect-generic-pkce-addon.php

Once you have that file downloaded you should upload it to your website into the `wp-content/mu-plugins` directory.

[2022-05-03 17:10] nhayduk opened #402 "Query String Parameters Not Included in Redirect URL"
When the "redirect_user_back" setting is true, and the page has a query string parameter (a custom query string parameter, unrelated to any WordPress query string parameters), and uses a permalink, the custom query string parameters are not included in the Redirect URL, so after a successful login, the query string parameters are gone.

I've narrowed down the issue to this code in openid-connect-g

[2022-05-03 17:50] timnolte commented on #402
I'm pretty sure there is a difference if the alternative Redirect URL feature is used. I'll have to test this out again.

[2022-05-03 19:01] nhayduk commented on #402
We are using the Alternate Redirect URI. We're using the plugin with Azure AD B2C, which doesn't support query string parameters in the redirect URI.

[2022-05-17 22:37] Yousashi opened #403 "How to update the user role on the Keycloak server from WordPress ?"
Hello,

I've looked and searched and I only found how to do the opposite, which is updating the user role on WordPress based on the user claim.

What I want to do though is update the user role on the Keycloak server after the user subscribes to a MemberPress subscription. The user must log in before purchasing the membership so I can't do that using most hooks like
openid-connect-generic-update-u

[2022-05-18 20:45] drzraf commented on #87
I think I finally solved the Google refresh token issue:

[code]

Without this, Google OpenID always lead to disconnection after 1h

[2022-05-18 20:49] drzraf commented on #58
I think I finally solved the Google refresh token issue: Google only issues a `refresh_token` if `access_type=offline` has been passed to the auth URL.

[code]

Without this, Google OpenID always lead to disconnection after 1h

[2022-05-18 23:38] drzraf opened #404 "save_refresh_token may delete valid refresh_token and break refresh functionality"
**Describe the bug**
`save_refresh_token()` is called after the initial request. In our case of interest, the payload bring a `request_token` field (in the case of Google, this happens if `access_type=offline`.
Such `refresh_token` may not have an expiration time.

The problem is that when a refresh is requested, in `ensure_tokens_still_fresh()`, `save_refresh_token()` is called again with the new

[2022-05-18 23:49] timnolte commented on #58
@drzraf hmm, OK, yeah if that URL parameter isn't in the standard then it's not something that I would to specially code to support. I was originally thinking after reading your fix comment that I would want to be doing a check for the `offline` scope, as I would want that to be a part of an offline feature.

[2022-05-20 14:49] HeDo88TH commented on #70
How was this fixed or implemented?

[2022-05-20 15:03] timnolte commented on #70
@HeDo88TH there wasn't any "fix" needed. The expectation described wasn't valid. Also, Auto-SSO does work without Privacy Mode turned on as I actively use it on many client sites right now.

[2022-05-20 16:16] HeDo88TH commented on #70
Thanks for the quick response. I am using your plugin with KeyCloak and AutoLogin enabled. My user is already authenticated in another app but when going to the private area of my website, It asks me to login again anyways.

I think I am missing something here. I have a private area (every other page except the home) that needs the user to be authenticated. I do this in the `functions.php` file:

[2022-05-20 17:22] timnolte commented on #70
@HeDo88TH so this isn't so much a bug verses a different use case, or how you are trying to implement this.

I also have 1 client site that has both features turned on, however that means it's for the entire site, and so navigating to the site in any way is sending the user to the IDP. If they are already logged into the IDP then they are sent back to the site and automatically logged into WordPre

[2022-05-20 17:56] HeDo88TH commented on #70
I am not the admin of KeyCloak, so it is possible that the issue is there. But I expect that the OIP behaves like WordPress: if the user is already logged in and he goes to `wp-login.php`, he gets redirected to the destination page without showing the login form. KeyCloak is not behaving in the same way. If an authenticated user goes to its login page (created with `openid_connect_generic_auth_url

[2022-05-27 00:13] adamboutcher opened #408 "Post-Login Redirection Issues with LoginWP"
When using [LoginWP (Formerly Peter's Login Redirect)](https://en-gb.wordpress.org/plugins/peters-login-redirect/) to redirect users logging in, if they utilise oauth via the wp-login page, it doesn't redirect.

You do a check to see if request_url is set, however I believe it would never be actioned with the standard wordpress login flow and oauth; it may however work if you use the shortcodes.

[2022-05-27 00:45] timnolte commented on #408
Have you tried to use the Filter Hook that is available? https://github.com/oidc-wp/openid-connect-generic/wiki/Hooks---Actions-&-Filters#openid-connect-generic-auth-url

[2022-05-27 00:48] timnolte commented on #408
Actually, sorry wrong Filter. I believe this is the one you want. https://github.com/oidc-wp/openid-connect-generic/wiki/Hooks---Actions-&-Filters#openid-connect-generic-client-redirect-to

[2022-05-27 00:56] timnolte commented on #408
I'm not sure to what extent we're going to want to modify our plugin to accommodate other plugins' interception of handling the redirect, since our plugin is already attempting to do that, it's going to get really messy really fast. The problem is with SSO authentication we have to send the user somewhere else, and unless we have our own mechanism for sending a user to a known/expected destination

[2022-05-27 01:01] adamboutcher commented on #408
I'll have a play with the filter in the morning. I think the defaults are good but a configurable URL to override might be really handy.

[2022-05-27 11:59] adamboutcher commented on #408
Thanks the "redirect-user-back" action worked.

For anyone with the same issue...

`// OAUTH Flow breaks WPLogin, this hooks into the flow if "Redirect back to Origin" is enabled in OAUTH
add_action('openid-connect-generic-redirect-user-back', function( $redirect_url, $user ) {
    wp_redirect( "/?loginwp_link_redirect=true" );
    exit();
}, 10, 2); `

[2022-05-27 11:59] #408 closed

[2022-05-27 14:05] adamboutcher opened #409 "Incompatability with "Maintenance" Plugin"
Not really an issue but incase others have problems.

The plugin [Maintenance](https://en-gb.wordpress.org/plugins/maintenance/) will cause issues with oauth logout redirects, it will completely remove the logout filter and so you never logout of the oauth provider.

[2022-05-27 14:12] timnolte commented on #409
This would be better served as a Discussion topic as this doesn't sound like anything we can fix if another plugin is doing something out of our control.

[2022-05-27 14:12] #409 closed

[2022-05-27 14:23] timnolte commented on #409
One other note is that maybe it would be helpful to add a plugin compatibility section to the Wiki, then we can have these sorts of items tracked there so it's easier for people to find solutions. Possibly a Discussion topic might work as well and be a bit more open. We could try the discussion route so that it's maybe even easier for people to submit and discuss the solutions.

[2022-06-07 17:25] ganthen opened #411 "How to auto-login on WooCommerce after logging in to back office"
Hello,

Our custom application uses IdentityServer for all security and logon scenario's for our custom app. However, the web site also relies on the same IdentityServer for its logon to the WooCommerce pages, hence the openid-connect client plugin. I am looking for assistance, lines of code, pointers to the proper webhook(s) or so to automatically log on my user on the web shop (both existing use

[2022-06-08 13:03] Leaveyoo opened #412 "Redirect not working at subsite level (unless specifically configured for that particular subsite)"
Hi folks,

We're seeing an issue where, with multisite enabled, the authentication for each subsite is delegated to the plug-in configuration at the subsite level (which is empty) instead of the main site (where the OIDC plug-in is configured).
In essence:
- url.com/wordpress redirects to the OIDC provider
- url.com/wordpress/mysite does not redirect
Even if we could manually configure the plug-in

[2022-06-09 14:28] dushyantbangal opened #413 "Where is the session data stored?"
Does the plugin manage sessions by itself? If yes, where is the session related data stored?

Initially I thought it might be using the php session management itself. But there are no files in `/tmp` directory after I login in my application. However I see files in the `/tmp` directory when I just added a php file which does `session_start()` and accessed that file's URL via my browser.

Are there

[2022-06-09 14:32] dushyantbangal commented on #413
The issue I am facing is that the user gets logged out when my kubernetes pod restarts or gets killed.

This happens even when I still have the wordpress_sec cookie in my browser, and the `wp_usermeta` still have the token in it. This makes me think something is being written in the pod itself.

[2022-06-09 20:45] fvdm opened #414 "Easier multisite config and use"
**Is your feature request related to a problem? Please describe.**
On a multisite installation you have to repeat the same configuration on each site, while only the domain name is changing. This is a lot of work to set up and maintain.

**Describe the solution you'd like**
1. Configure all parameters once in the global WP Network settings instead of the blogs;
2. On login issue the redirect URI f

[2022-06-15 20:35] jimkleiber opened #415 "Ability to add multiple OIDC identity providers"
**Is your feature request related to a problem? Please describe.**
I want to enable multiple different OIDC options for my site, not just one, as I want to give my users multiple sign-in options.

**Describe the solution you'd like**
The ability for this plugin to allow multiple different OIDC identity providers. I imagine it would only be applicable when the Auto Login - SSO option is not enabled

[2022-06-15 20:50] timnolte commented on #415
To speak to your alternative solution. You would have to change a lot of code in the plugin in order to get another copy to even begin to work, and even then I think you'd run into a lot of problems since the plugin code itself is not written in a way to not stomp on "itself".

[2022-06-16 03:03] jimkleiber commented on #415
Ah, I appreciate that! The heads up that I'd be spinning my wheels, that is. Thank you for letting me know.

[2022-06-16 06:03] yoannsaludes commented on #273
Hello Ben, I am hitting the same road bump on my project and I'd really like to stick with this plugin for OpenID Auth.
a big +1 on this.
Willing to sponsor the author.

[2022-06-16 06:53] timnolte commented on #273
The plugin also provides settings hooks so that you can also write an add-on to provide additional settings and functionality. It's a pretty tall order to attempt to provide this sort of mapping dynamically for every possible IDP. Even miniOrange, which would be considered "competition", has multiple variations of their plugins which are custom for specific IDPs. The goal of this plugin is to keep

[2022-06-16 20:25] yoannsaludes commented on #273
Thank you very much Tim. I have noticed afterwards only, while reading the code of openid-connect-generic-client-wrapper.php that there is a hook available  named "openid-connect-generic-update-user-using-current-claim"
that's exactly what I needed !
I was starting to build a plugin from scratch in order to exploit this hook but my wordpress coding skills are rusty of many years and I am slow.

I

[2022-06-17 17:20] wineworkskeith opened #416 "admin-ajax returning 0"
Hi Daggerhart,

Thank you for this excellent plugin.

I have installed the plugin and after authentication I just get a "0" which I understand is a problem with admin-ajax action not matching a wordpress hook.

I've searched and saw this - https://github.com/oidc-wp/openid-connect-generic/issues/34 - but the response code of 200 and the solution doesn't seem to match my issue exactly.

I'm getting

[2022-06-17 19:43] #251 closed

[2022-06-18 02:53] timnolte commented on #416
@wineworkskeith what IDP are you using, also are you using the Alternative Redirect URI?

[2022-06-20 19:53] SolarisEclipse commented on #318
I'm running into the same issue. Apache 2
Server version: Apache/2.4.52 (Ubuntu)
Server built:   2022-03-25T00:35:40

I believe you need to add to apache a redirect. Apache doesn't know where /openid-connect-authorize is.

Set up your dev server with Apache, Latest WP and install the plugin. I'm using Active Directory Federation on Win Server 2019. I get a token back in return successfully but Apa

[2022-06-20 20:00] timnolte commented on #318
This shouldn't require extra setup in Apache as it should be a WordPress permalinks setup. If your permalinks aren't setup right for your WordPress install with your web server then yes you will have problems. Sometimes all you need to do is visit the WordPress permalinks settings page and re-save to ensure that the permalinks setup is taking affect.

[2022-06-20 20:03] timnolte commented on #318
As it sounds like this maybe an issue specific to using the Alternative Redirect URI setting I'll need to take some time to test that more. I never use the Alternative Redirect URI setting myself as I haven't run into a need to use it with any of the IDPs I test with at this point.

[2022-06-28 14:57] drzraf opened #417 "support composer/installers ^1.0|^2.0"
**Describe the bug**
Please relax the constraint inside composer.json
2.0 is what Bedrock now requires and the plugin is incompatible without this.

**To Reproduce**
Steps to reproduce the behavior:
1. Install latest Bedrock
2. `composer require daggerhart/openid-connect-generic`
3. See error
[code]

**WordPress Environment**
- PHP Version: 7.4
- WordPress Version: 6.0
- Plugin Version: 3.9.0

[2022-07-01 13:22] quentinHourriez opened #419 "Grant type unsupported"
Hello,

Is it possible to change the grant_type? This one doesn't seem to be supported by source forge?

"ERROR (unsupported_grant_type): Unknown Grant Type, client_secret_post"  https://backstage.forgerock.com/knowledge/kb/article/a27814899

Thanks

[2022-07-01 15:17] timnolte commented on #419
This is a function of your Identity Provider and not the plugin.

[2022-07-05 13:48] ericmulder commented on #161
Found a bit cleaner fix by hooking into the `openid-connect-generic-update-user-using-current-claim` hook:

[code]

[2022-07-08 15:13] petitphp commented on #208
@timnolte We can work on a PR to add the feature.

Should PKCE be active by default or should it be controlled by a new option ?

[2022-07-08 15:16] timnolte commented on #208
In general all new features should be off by default, unless their on state is such that it wouldn't interfere with existing installations.

[2022-08-02 17:10] nranderson commented on #415
If you want to give multiple options for users, I would consider using Amazon Cognito or Auth0 as a "middle man" and connect them to the plugin. Then connect additional OIDC IDPs to them.

[2022-08-04 11:14] nranderson commented on #412
I too am having issues with WP Multi-site installations. Ours sub-sites are at separate subdomains rather than different /paths. The plugin works for the root site but for any sub-sites at one of the sub-domains we get "invalid-user-claim" as the error. Our settings are identical on the sub-sites as they are on the root site. I'm going to fork and see if I can fix this and then submit a PR.

[2022-08-04 17:55] petergandres commented on #206
Love the plugin guys! Any chance there is a bypass so users can login through WordPress and bypass SSO where it isn't required with an URL param like ?bypass_sso=true

[2022-08-04 18:06] timnolte commented on #206
@petergandres are you referring to all users or just something like Super Admins as the feature request indicates?

[2022-08-11 17:03] backpackingseries opened #423 "Custom Login Form and Widget"
**Replace WP Login Form with Custom Form**

I currently use Login by Auth0 plugin. When I tried your plugin, I noticed that on the WP Login page, there’s a button “Login with OpenID Connect” placed just above the standard WP Login form.

Instead, **similar to Lock form offered by Auth0**, itd be great if we could completely replace the WordPress login form with a custom form and a related WordPres

[2022-08-11 17:09] backpackingseries opened #424 "Redirect wp-login.php to hosted login page"
**Redirect WP-Login to Hosted Login Pages**

I currently use Login by Auth0 plugin that, in addition to Auth0’s native Lock form, offers a hosted login experience which redirects all login and signup requests from /wp-login.php to its (hosted) universal login page on Auth0.

I want OpenID Connect Generic Client plugin, similar to Login by Auth0, to allow redirecting users to hosted login forms pro

[2022-08-11 17:31] timnolte commented on #424
@backpackingseries the plugin has 2 modes, which in either case, both always redirect users to the IDP for authentication. What you saw is the default mode which allows both standard WordPress login or SSO login through an IDP. The other mode that you can configure in the plugin settings will remove the ability to login to WordPress directly and will generally automatically redirect a user to the

[2022-08-11 17:32] timnolte commented on #424
For clarity this plugin, when configured, will always take users to the IDP login screen for SSO(OpenID Connect) authentication. There are just 2 ways this can be configured to work.

[2022-08-11 21:45] timnolte commented on #423
@backpackingseries this plugin doesn't implement any sort of embedded form as all authentication is done at the IDP. There is already a short code that allows you to place the login button anywhere on your site.

[2022-08-11 21:48] timnolte commented on #417
@drzraf apologies for the delay with this it's been a busy summer here and I haven't had much time to devote to items here. I'll try to address this and get a release out soon.

[2022-08-12 02:42] backpackingseries commented on #423
@timnolte Thanks and yes,  I am curious whether you might consider this as a feature request.

WordPress implementations require frontend/UI flexibility. A hosted login page by (say) Cognito is good but restrictive. For instance, if you want to override the redirect URL after login, a custom plugin form can help. Multiple custom forms can be placed as login modals with varying shortcode attributes

[2022-08-12 02:50] timnolte commented on #423
This plugin already supports a short code that provides a login button and the short code also provides an attribute that allows you to define the final redirect location.

Since Auth0 is providing the plugin and the IDP they can provide features that we can't as easily provide. Our plugin is intended to be a generic OpenID Connect client that can be used with any IDP that supports the OpenID Conn

[2022-08-12 03:14] backpackingseries commented on #423
Thank you so much for the helpful explanation.

If you have plans for a pro version of this plugin, perhaps such forms could be initially offered as an LTD and then subscription-based premium addons.

So, even if a generic form is not possible, I'd be happy to pick up the specific forms addon LTD for Cognito.

Really appreciate this thread.

PS: I'm not an expert on this but I researched through t

[2022-08-15 07:05] backpackingseries commented on #152
@giovannigenna thanks for the hack. Not sure whether its the right way to leave "Userinfo Endpoint URL" blank, but it works for me too!

[2022-08-15 12:37] backpackingseries opened #425 "Separate Sign In and Sign Up Auth URLs"
Hi,

I am using the shortcode [openid_connect_generic_auth_url] to power a button element redirecting to the Cognito's hosted UI page. Everytime I click it, it opens up the Sign In tab. In other words, a new user needs to click the Sign Up tab to get started.

It would be nice if I could create two separate button / menu elements redirecting the users to the appropriate tabs of Sign In or Sign Up.

[2022-08-15 12:40] backpackingseries commented on #424
Thank you @timnolte Works like a charm!

I continue to learn as I keep playing with your helpful plugin.

Kind regards,

[2022-08-15 12:40] #424 closed

[2022-08-15 12:49] timnolte commented on #425
This can get complicated pretty quickly, and typically the use case for this plugin is to provide central identity management by IT and there is rarely a concept of user sign-up. Are you allowing users to sign-up without any sort of approval? I ask because if the sign-up flow doesn't end up with a user being automatically logged in then that flow really isn't going to work with the plugin. Not to

[2022-08-15 12:51] backpackingseries commented on #159
Is this possible now?

At this time, I am using Gutenberg blocks to set display conditions for logged-in and logged-out users. But it'd be nice to have this as a native feature. Thanks

Kind regards,

[2022-08-15 12:54] timnolte commented on #159
The second two items already exist with the short code. Not showing the button when logged in is something I don't believe has been implemented yet.

[2022-08-15 13:23] backpackingseries commented on #425
Apologies if I have misunderstood. I am not an experienced OpenID user at this time. But please allow me to explain what I am after.

When I use the hosted UI page of Cognito, I see the following screen. This is the default Hosted UI at Cognito:

![Signin Cognito Screenshot from 2022-08-15 18-38-51](https://user-images.githubusercontent.com/32608044/184641169-021fd945-b574-4c65-8bd4-4527bdf036c1.p

[2022-08-16 01:56] #417 closed

[2022-08-16 11:48] backpackingseries opened #427 "How to Configure AWS Congnito with WordPress using OpenID Connect - Generic Client plugin?"
The basic guide erroneously posted here has moved to the Wiki section. Link below -

https://github.com/oidc-wp/openid-connect-generic/wiki/How-to-Configure-AWS-Cognito-with-WordPress-using-OpenID-Connect---Generic-Client-plugin%3F

[2022-08-16 12:15] timnolte commented on #427
@backpackingseries can you please put these sort of things into the Discussions and not open up Issues? It makes it very hard to keep things that are actual issues to be fixed clear. Also you could have also made a PR to update the Wiki page that already exists for these institutions.

[2022-08-16 12:18] timnolte commented on #427
@backpackingseries here is the Wiki page for these instructions: https://github.com/oidc-wp/openid-connect-generic/wiki/Identity-Provider-Configuration:-Amazon-Cognito

[2022-08-16 12:21] backpackingseries commented on #427
@timnolte thanks much. done. Will delete it from here if it allows me to do so.

[2022-08-16 12:23] #427 closed

[2022-08-16 19:39] backpackingseries opened #428 "Plugin Overrides WordPress Membership Feature"
Hi,

Seeking clarity on plugin behaviour please:

I have a WordPress site with Memberships disabled - the checkbox for "Anyone can register" is not selected.

![WordPress Membership Checkbox Deselected Screenshot from 2022-08-17 00-48-11](https://user-images.githubusercontent.com/32608044/184965476-c7faa21b-e06c-495b-ba5f-49a49553cfcf.png)

However, in OpenID Connect - Generic Client plugin, I hav

[2022-08-16 20:41] timnolte commented on #428
Those two settings are really very different things. The WordPress setting for allowing people to register is about presenting the built-in WordPress user registration form. If you don't want users to register via your IDP then you would set that up there. There would be no way to create users that sign-up via your IDP in WordPress if that setting was tied to the WordPress setting. Alternatively,

[2022-08-17 03:20] backpackingseries commented on #428
Thank you @timnolte  Appreciate it.

Kind regards,

[2022-08-17 07:30] backpackingseries opened #429 "Signout URL with Custom Domain"
Hi,

I got the IDP workflows of registration, login, forgot password, and logout working with your plugin when using a default Cognito domain. However, with a custom domain (say, https://auth.domain.com), Logout does not work for me. I have tried various combinations of Signout URLs in Cognito for a custom domain and nothing works at the moment.

When user logs out by clicking the WordPress Logout

[2022-08-17 11:17] backpackingseries commented on #429
So if I keep the plugin's "End Session Endpoint URL" field empty and then use a standard WP filter like this, I can redirect the user to the homepage.

    return esc_url( home_url() );
} );

Wonder whether a plugin-native solution such as a logout button feature can be created please.

Thanks,

[2022-08-17 11:26] timnolte commented on #429
If Cognito is where you are getting the error then that is where your investigation needs to occur. On the plugin side you either provide a valid End Session endpoint or you don't. If one isn't provided then yes, it's only going to take users through the WordPress logout process.

If you are using a custom domain name within Cognito then you should still have an OpenID Connect configuration endpoi

[2022-08-17 11:30] timnolte commented on #429
There are already a lot of hooks and filters in the plugin as well as an entire custom plugins settings capability which would allow you to add this functionality. For awareness this plugin is designed more to be used by developers as there is a whole host of hooks and filters to customize how the plugin works on your site. It's been intentionally left light on the out-of-the-box settings in order

[2022-08-17 11:34] timnolte commented on #429
I think there is possibly still some documentation that used to only like in the project README that was moved to a HOWTO and hasn't made it into the Wiki properly yet. Take a look at this: https://github.com/oidc-wp/openid-connect-generic/blob/dev/HOWTO.md

[2022-08-17 11:45] timnolte commented on #427
@backpackingseries I see that you created a whole new Wiki page for this when I said that there was an existing page where this content should go here: https://github.com/oidc-wp/openid-connect-generic/wiki/Identity-Provider-Configuration:-Amazon-Cognito

Also please update your guide formatting to follow one of our existing guides: https://github.com/oidc-wp/openid-connect-generic/wiki/Identity-P

[2022-08-17 11:47] timnolte commented on #427
I didn't say it explicitly but please move the content of your new page to the existing page.

[2022-08-17 12:07] timnolte commented on #427
@backpackingseries disregard, I'll move this and clean this up. I didn't realize to begin with that the Wiki was wide open for anyone to edit with reviews. If you want to make these changes then you can open up a PR with the changes, otherwise I'll fix this myself. Thanks.

[2022-08-17 13:00] backpackingseries commented on #429
Thank you @timnolte

Looks like I might have figured it out. So the following worked for me:

### Plugin Configuration - OpenID Connect - Generic Client
End Session Endpoint URL:
`https://<app.custom.com>/logout?client_id=<clientidhere>&logout_uri=<https://www.domain.com/index.php>`

### AWS Cognito Configuration
Navigate to -> User pools -> User Pool Name -> App client: App Client Name -> Hosted

[2022-08-17 13:03] backpackingseries commented on #427
@timnolte
Apologies. I am mess with Github at the moment. I will try to follow along henceforth. Appreciate your support on this one.

[2022-08-17 13:35] backpackingseries commented on #428
A somewhat unrelated question, in case you or anyone you know anyone using this plugin has attempted it and if there's a resource I can refer to.

Is it possible to define federated identity with WordPress dot com as an IDP? That way, I can replace the two buttons with one OpenID button (i remove the standard WP login form with username / password on this page) or simply switch to use the Auto Log

[2022-08-17 16:16] backpackingseries commented on #427
@timnolte Lest I'm misunderstood, I'm happy to clean up. It'll take time.

However, at this time, I do not know what a pull request is and how to create one.

I wanted to contribute and so drafted this from my experience so others can use it. I did not mean to add to your or anyone's administrative efforts.

Inadvertently, I managed to do so. I'm afraid I might add to the mess while dealing with i

[2022-08-18 01:35] #429 closed

[2022-08-18 04:20] timnolte commented on #427
@backpackingseries just a heads up that I moved your steps into the other location we had with some small formatting adjustments however, I'm going to probably need to revamp these quite a bit as there should be clear instructions to be leveraging the well known OIDC configuration endpoint for all of the details to fill in. Additionally it seems as though your steps regarding generating and using

[2022-08-18 04:43] timnolte commented on #428
@backpackingseries you can't use WordPress.com as and IDP as they provide no ability other than with JetPack to establish an SSO setup between your self-hosted WordPress site and WordPress.com. This has been asked before and WordPress.com is not setup to be an OpenID Connect IDP.

[2022-08-18 04:44] #428 closed

[2022-08-18 04:54] timnolte commented on #423
@backpackingseries there are no plans for anything paid. I am currently the main/sole maintainer on top of my full-time job and I have no capacity to support paid customers. Honestly, if people want a paid solution that does more automatically then one of the existing paid solutions/integrations by Auth0 or MiniOrange are already available. This plugin, while seeming generic, is geared more toward

[2022-08-18 04:58] timnolte commented on #429
@backpackingseries I went and loaded up my test configuration for Cognito and saw that what I had configured for the logout endpoint was this:

- https://nds-wp-oidc-testing.auth.us-east-1.amazoncognito.com/logout?response_type=code&client_id=xxxxxxxxxxxx&redirect_uri=https://oidc-wp.ndigitals.com/wp-admin/admin-ajax.php?action=openid-connect-authorize

[2022-08-18 05:18] backpackingseries commented on #428
Thank you @timnolte Appreciate your support.

Kind regards

[2022-08-18 05:21] backpackingseries commented on #423
Thank you @timnolte Yes, I am learning more about your awesome plugin gradually and thank you for putting this out for everyone.

Appreciate your support.

Kind regards,

[2022-08-18 05:21] #423 closed

[2022-08-18 05:30] backpackingseries commented on #429
Thanks @timnolte

If we use the `redirect_uri` string, then, the user should be redirected back to the login page and I guess this is because of the **openid-connect-authorize** string as mentioned in your URL construct above. Can you please confirm that is what you see at your end?

Also, unless I am overlooking something, I just thought the use of `logout_uri` is more straightforward because, in

[2022-08-18 05:37] backpackingseries commented on #429
This is what AWS says in their [documentation](https://docs.aws.amazon.com/cognito/latest/developerguide/logout-endpoint.html):

Redirect your user to a custom sign-out page with a logout_uri parameter. Set its value to the app client sign-out URL where you want to redirect your user after they sign out. Use logout_uri only with a client_id parameter. For more information, see [Configuring a user

[2022-08-18 05:47] backpackingseries commented on #427
Thanks @timnolte

This is what I found on [AWS Docs](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-client-apps.html) about client secret:

A public client runs in a browser or on a mobile device. Because it does not have trusted server-side resources, it does not have a client secret.

A confidential client has server-side resources that can be trusted with a client

[2022-08-18 05:56] backpackingseries commented on #427
PS: it also states that

In your plugin, if I do not specify a client secret, the workflow fails. Hence I followed the instruction to generate and provide a random key there.

If I may have misunderstood, happy to stand corrected.

Kind regards

[2022-08-18 09:53] timnolte commented on #427
@backpackingseries so this may be a matter of terminology & configuration differences between IDPs. My main point is that, with the OIDC specs, when setting up a client connection have a Client Secret is required. When I've setup every other IDP that I've tested, Google Workspace/Azure AD/Keycloak/Oracle IDCS, the IDP either generated the Client Secret or provided the option to set your own. With

[2022-08-18 11:14] backpackingseries commented on #427
Thanks @timnolte

Besides Cognito now, I am only familiar with Auth0 but I think you are right about the differences in terms across the IDPs.

A client secret seems to be more of a machine to machine communication element. There's a [relevant discussion on Stackoverflow](https://stackoverflow.com/questions/47916034/what-is-a-cognito-app-client-secret) about it and why it is not considered a secur

[2022-08-18 11:20] timnolte commented on #427
So that discussion is not quite accurate. There is indeed machine-to-machine communication going on. There is a whole process while you are already authenticated where the WordPress site communicates with the IDP for user information access, token validation, and refreshing the token. To say that there is no point in having a Client Secret for a website is simply not true.

[2022-08-18 11:45] backpackingseries commented on #427
Yes, I agree. And as is pointed in your plugin (underlined tips), in this case, Client Secret can be an arbitrary string. So that is how I correlated things here:

![OpenID Client Secret Screenshot from 2022-08-18 17-09-09](https://user-images.githubusercontent.com/32608044/185386556-d995f18f-509a-4e3c-9415-5f9055009864.png)

All said, I am no expert. Only somewhat familiar with the overall approa

[2022-08-18 11:50] backpackingseries commented on #427
PS: In other words, in this case, the client secret need not be something generated and coming from the IDP into the plugin. Could it that the IDP uses the secret key supplied by plugin, creates a hash, and does the exchange of tokens etc. Would that be possibility here?

[2022-08-18 11:51] timnolte commented on #427
I get overly sensitive about some of these things given the fact that this is pretty much a security plugin. I don't want myself or the plugin to be responsible for a security breach of any sort. This means I will resist more relaxed setups of the plugins with a lot of pushback.

[2022-08-18 12:02] backpackingseries commented on #427
I completely agree with you and, if my setup seems vulnerable, I would like to correct it please.

Also, I do not think the plugin allows for a relaxed config. For instance, if I do not provide a random client secret key inside the plugin configuration, the communication fails. What I am trying to wrap my head around from this discussion is whether this secret needs to be coming from the IDP or ca

[2022-08-18 12:13] backpackingseries commented on #427
PS: my setup is somewhat more restrictive as compared with the previous Medium guide. For instance, I do not grant access to the Cognito User Pool API and therefore exclude `aws.cognito.signin.user.admin` from the scope. I just wanted to create a minimalist / the most restrictive setup for what the plugin can access and manage on Cognito.

[2022-08-18 14:23] yogeshbeniwal commented on #427
Can remove ALLOW_USER_SRP_AUTH and keep only ALLOW_REFRESH_TOKEN_AUTH

[2022-08-18 14:47] backpackingseries commented on #427
@yogeshbeniwal thanks much.

Just tested it and the workflows of registration, login, and logout look good.

Kind regards,

[2022-08-29 06:33] #133 closed

[2022-09-11 10:58] charleslcso commented on #411
yes, we just hit the same issue.... can't figure out how to get WooCommerce to login too after logging into server. Seems no help here, as the plugin is designed solely for WP?

[2022-09-11 11:22] timnolte commented on #411
So to be clear, this isn't really a WooCommerce issue. WooCommerce is just a plugin for WordPress and uses the WordPress login process for customer logins as well. Additionally, the fact that a user is having to authenticate with the IDP twice tells me that your IDP login setup isn't quite right. I use this plugin on a bunch of client WordPress sites where like 20 WordPress sites are all configure

[2022-09-11 11:25] charleslcso commented on #411
Okok, so we are not setting it up properly. Can you share your experience on what we should look at first?

[2022-09-11 11:35] timnolte commented on #411
@charleslcso so first of all what IDP are you using?

[2022-09-11 12:16] vvdevteam commented on #208
@timnolte any update on this? any way I can help?

[2022-09-11 13:21] charleslcso commented on #411
@timnolte we are using [Keycloak](https://www.keycloak.org)

[2022-09-11 13:38] timnolte commented on #411
@charleslcso perfect I have a test Keycloak instance setup that I can use to double check the setup. Have you taken a look at our Wiki here that has some Keycloak setup instructions?

[2022-09-11 14:55] charleslcso commented on #411
Your setup is/should help us tremendously. Looking forward to your reply!

[2022-09-12 23:03] rqbanerjee commented on #165
I issued an MR. Sorta surprised that no one else hit this? I tried to configure with my IDP today (Beyond Identity, passwordless) and couldn't get past "invalid user claim". Anyway, please check out the MR I linked to fix this simple issue, it's a 1-liner.

[2022-09-12 23:16] timnolte commented on #165
I'm closing this issue as this is a problem with the IDP not following the specs: https://openid.net/specs/openid-connect-core-1_0.html#UserInfo

[2022-09-12 23:16] #165 closed

[2022-09-13 02:01] timnolte commented on #411
@charleslcso so if your plugin setup is complete with a logout endpoint then yes, when logging out of WordPress/WooCommerce you should get logged out of your IDP(Keycloak) as well.

[2022-09-13 02:03] timnolte commented on #411
@charleslcso FYI, I have a WooCommerce test site, since I also maintain a WooCommerce plugin/add-on, so I'm going to setup the OIDC plugin along with a client setup using our test Keycloak instance and do some testing.

[2022-09-13 02:17] charleslcso commented on #411
Great!

Re log in, it is unintuitive to add 1 extra trip to /wp-login before going back to Checkout page manually. Otherwise, a direct login/register (simply want to log in and not going to the Checkout path) will also head to Checkout! UX wise it is not what users expect.

I believe the cause is WP session not instantiated after login/register and going directly back to Checkout page. If OIDC plu

[2022-09-13 02:52] timnolte commented on #411
@charleslcso hmm, so I think the problem seems that you need to leverage the OIDC plugin's use of redirecting the user back to the source of the login flow by making sure that your WooCommerce templates are leveraging the shortcodes to produce a login button or URL(for a link) generated by our plugin. This will ensure that when users login at checkout that they are sent back to the checkout, howev

[2022-09-13 02:53] timnolte commented on #411
@charleslcso this is the documentation on the available shortcodes: https://github.com/oidc-wp/openid-connect-generic/wiki/Shortcodes

[2022-09-13 03:02] charleslcso commented on #411
We added OIDC plugin at a very late stage. At the beginning we pick a theme that claim to be WC compatible. We haven't changed the theme code at all.

We did use the plugin's referrer URL for going back to the referring page. However, at the stock setup the page will go into redirect loop, and hence it breaks everything. The workaround we use is to patch the "Proceed to Checkout" button to point d

[2022-09-13 03:07] timnolte commented on #411
Hmm, interesting. I'll work on getting my setup going as a demo to see if I can reproduce any of this. Thanks for the details.

[2022-09-13 03:10] charleslcso commented on #411
Just in case, the theme we use is GeneratePress Version: 3.1.3

[2022-09-13 07:53] rohit-uf commented on #67
Hi @daggerhart
First of all, thank you for the great plugin. Works like a charm with keycloak.

## My Setup
- I have setup buddyboss plugin with wordpress and using keycloak for authentication

## Issue

I am facing the similar issue as @kkplein. When I logout from top right corner (Toolbar) my logout url is `http://localhost/ipassio_community_staging`.

[2022-09-14 06:20] rohit-uf opened #436 "Is there any way to update the `validate_user` method?"
## Description

In the `OpenID_Connect_Generic_Client_Wrapper` class, there is a method called [validate_user($user)](https://github.com/oidc-wp/openid-connect-generic/blob/dev/includes/openid-connect-generic-client-wrapper.php#L586-L593).

## Issue/Enhancement
Currently it is only checking if the passed object is of type User and that the user exists. But how can I customize this logic

For examp

[2022-09-14 10:16] #413 closed, assigned to nobody

[2022-09-15 02:08] yogeshbeniwal opened #439 "Token Response Attribute `expires_in` Should be Optional"
**Describe the bug**
PHP warning message are shown in server error log with PHP 8.1

**Screenshots**
`[error] 41977#41977: *167373 FastCGI sent in stderr: "PHP message: PHP Warning:  Undefined array key "expires_in" in /daggerhart-openid-connect-generic/includes/openid-connect-generic-client-wrapper.php on line 700" while reading response header from upstream`

[2022-09-15 02:26] timnolte commented on #439
Just noting that the real issue is that the token `expires_in` attribute is defined as an optional attribute.

https://openid.net/specs/openid-connect-basic-1_0.html#TokenOK

[2022-09-30 00:29] Glowsome opened #440 "Initial login via OIDC triggers conscent on scopes - profile scope is open to user to untick - breaks matching"
**Is your feature request related to a problem? Please describe.**
When the plugin uses the 'profile' scope on initial login it is given a consent screen, where profile can be ticked off.
This breaks matching if it is based off an attribute from that scope ( like preferred_username)

**Describe the solution you'd like**
When the option 'Link existing users' in the plugin is checked, and the matchi

[2022-09-30 00:54] timnolte commented on #440
I'm not really sure that I'm OK with making this sort of change. There is fallback logic intended to go down a path in order to successfully create users. When it comes to other organizations, as you mention it, requiring a non-standard custom scope may not be an option. There may even be some IDPs that wouldn't allow a custom scope to be created, which could make things more problematic.

I'm inc

[2022-09-30 03:12] timnolte commented on #411
@charleslcso sorry for the delays. So I got my test WooCommerce site setup and configured it to be connected to my test Keycloak server. I also installed the GeneratePress theme. The next thing I did was created a child theme of GeneratePress so that I could create the required custom WooCommerce account login form template. This [custom WooCommerce template](https://woocommerce.com/document/templ

[2022-10-01 01:08] Glowsome commented on #440
@timnolte i have a feeling that you are interpreting this issue i am facing wrongly.
The whole consent thing is described in a code-flow in [https://openid.net/specs/openid-connect-core-1_0.html](url) in section 3.1.1

So this is an IDP-thing, but on most IDP's both the scopes 'email' and 'profile' are publicly available for any client which identifies itself in the correct way / is registered wit

[2022-10-01 02:39] timnolte commented on #440
@Glowsome so I understand what you are talking about. My issue, and this is the issue with all WordPress plugins, is that what you are proposing is changing a big part of the way the plugin functions and may have major impacts on existing implementations.

If you look at the specifications in section 3.1.2.1 it mentions that consent requirements are something that can be sent in the original reque

[2022-10-01 22:20] Glowsome commented on #440
@timnolte Is it worth to investigate a path where one would add an option (like a checkbox) which when (default) not ticked the plugin follows the current behaviour, but when ticked the logic changes to facilitate matching as i proposed?

[2022-10-01 22:42] timnolte commented on #440
@Glowsome well yes, that's what I was talking about in my last comment. The thing though is that accomplishing this change in logic is already possible via the hooks we provide by anyone that wants to change that flow.

Honestly, unless there is a lot of demand for this as a fundamental change, I feel like there is little incentive to add all of that complexity into the code that I would then have

[2022-10-01 22:46] Glowsome commented on #440
@timnolte This does not all have to come down on your shoulders alone, as with the enhancement for the acr_values i am up to exploring this path, just wanted to make sure it is in line with the way you see development of the plugin.

On the other hand - easy way out (for now) would be to make a custom scope with auto-consent which holds the attributes the plugin requires.

- Glowsome

[2022-10-04 21:40] #348 closed

[2022-10-04 21:43] #419 closed

[2022-10-04 21:55] timnolte commented on #414
@fvdm I'm wondering if you have tried using the [configuration constants](https://github.com/oidc-wp/openid-connect-generic/wiki/Configuration-Environment-Variables-Constants) in the `sunrise.php` file or in the `wp-config.php` file? That may actually work to configure all of the sites at once.

[2022-10-04 21:59] timnolte commented on #415
@jimkleiber as @nranderson pointed out I think it would be better to use and IDP, like Amazon Cognito, that supports federated authentication. That is going to greatly simplify the WordPress configuration required.

[2022-10-04 22:00] #415 closed

[2022-10-05 00:26] Glowsome commented on #440
@timnolte been debugging a bit with the consent thingy ( with use of [OIDC Debugger](https://oidcdebugger.com)
And if i look at a/the results when i explicitly untick profile on a/the consent-screen the response also references it.
![image](https://user-images.githubusercontent.com/32739009/193953429-45cdcde6-f0bf-4bee-8e05-17c51f801b1d.png)

In this request i have asked for openid email and profi

[2022-10-05 02:24] timnolte commented on #440
@Glowsome excellent debugging. I will have to do some testing against some of my available IDPs. What is concerning is that neither of the OIDC documents, [OpenID Connect Basic Client Implementer's Guide](https://openid.net/specs/openid-connect-basic-1_0.html) & [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html), I've read through provide any indication that an IDP wo

[2022-10-05 02:30] Glowsome commented on #440
@timnolte i can - i f you want put my IDP as 'testsubject'  ( the vendor states its implemented to full oidc-spec) :)

[2022-10-05 02:33] timnolte commented on #440
@Glowsome I checked the debug logs of my Keycloak IDP responses and I don't see `scope` in the responses. I will say that any IDP implementation can meet full specs while still doing things that are not in the spec, so long as they aren't against the spec. I don't believe the specs are super explicit about that.

[2022-10-05 02:45] timnolte commented on #440
@Glowsome so checking the responses in the plugin debug logs from my Amazon Cognito instance I'm also not seeing `scope` in the responses. I'm going to create a client configuration on both to use with the [OIDC Debugger](https://oidcdebugger.com/) and confirm.

[2022-10-05 03:31] timnolte commented on #440
@Glowsome so yeah, I've ran through both Keycloak & Amazon Cognito with the OIDC Debugger and neither return the `scope` attribute. I went looking and according to the [Microfocus Access Manager documentation](https://www.microfocus.com/documentation/access-manager/developer-documentation-5.0/oauth-application-developer-guide/authorization-endpoint-details.html) it also gives no indication that it

[2022-10-19 09:05] billnet76 opened #442 "The client MUST NOT use more than one authentication method in each"
Hello,
we have a problem with using the plugin.

We always receive the following response from the server: "ERROR (invalid_request): **The client MUST NOT use more than one authentication method in each**".

I believe the problem lies the plugin using basic authentication but is also sending the 'client_id' and 'client_secret' credentials in the post data of the request against the token endpoint,

[2022-10-19 10:14] timnolte commented on #442
What IDP are you using? This is interesting as I've configured the plugin for testing with at least 5 different IDPs and have never seen this error. I will definitely take a look at the specs and see where we may be off here.

[2022-10-25 01:53] danielband opened #443 "Users with email like username can´t login"
Hi, why are all characters stripped from the username after an @? This breaks login, if the email **is** the username and prevents further upgrades of the plugin past 3.8.5.
[code]

[2022-11-03 21:48] RumRogerz opened #444 "I can't seem to set wp roles from mapped keycloak groups"
I have a user_claim coming in like this:
[code]
I essentially told keycloak to map group memberships to my tokens from my wordpress client.  Named the Token Mapper `wp-groups` and set the type to `Group Membership`

I found some code from some of the other issues on this site, and drew up this for testing:

[code]

I my head - this works.  I added this to the `include/functions.php` file. I *think

[2022-11-03 22:07] timnolte commented on #444
Have you looked at the code in this MU Plugin I created and have referenced for a way to have this working? https://github.com/timnolte/oidc-keycloak-sso

[2022-11-03 22:16] timnolte commented on #444
I need to test that code again because I know that I had to adjust that when I implemented it on an Azure AD role mapping integration I did. WordPress doesn't let you update/change the role on-the-fly while a user is already logged in. In order to change a user's role you will have to log them out and then back in again for it to be reflected.

[2022-11-03 23:44] RumRogerz commented on #444
@timnolte Thanks for getting back to me.  I HAVE seen that MU plugin.  I read through the code and have a general understanding on how it works. Here is the rub - I have 0 idea how to implement it.  Like, do I just git pull it into the same plugin folder as the oidc-generic plugin?  I can't stress enough how little to no knowledge I have of wordpress. We have a team of people who are 'the wordpres

[2022-11-08 14:06] CaporalJuju opened #445 "connect without login and password"
If i use Open Id to connect, first time i fill login and password. (User A)
I disconnect
I connect with wordpress form to another account (user B)
I disconnect
If i click on openID login, the connection is automatic with the user A without fill login and password.

how to always ask for login info
thanks

[2022-11-08 15:11] timnolte commented on #445
The username & password on the WordPress login form has nothing to do with the OpenID Connect login, that would only be used for directly logging into WordPress without OpenID Connect. If you want all logins to use OpenID Connect then change the plugin settings to Auto instead of Button for the login type.

[2022-11-08 16:08] CaporalJuju commented on #445
ok, but if i connect with openID, i disconnect with logout link wordpress, i do not want auto connect without fill my login and pass on open id when i clic on connect wiyh open id.
i use OIDC with an logout endpoint : https://oidc.spg.qc.ca/connect/endsession

actually when i disconnect on wordpress i m not disconnected on OIDC.
how to do
thanks

[2022-11-09 14:36] adityatelange commented on #444
Thanks a lot for this extension.

[2022-11-09 14:40] adityatelange commented on #444
@RumRogerz keycloak by default does not send the roles in $user_claim.
We have to add it in client scope and enable it to include in profile.

[2022-11-09 20:28] talss89 opened #447 "Avoid Auto-SSO mode redirect if user makes a password reset request to wp-login.php"
**Is your feature request related to a problem? Please describe.**
We have a SCIM API hooked up which allows the RP to set a password on the OP. We need to preserve the original password reset functionality, but in Auto-SSO mode, the redirect to the login endpoint kicks in and intercepts the request.

**Describe the solution you'd like**
A `do_filter` on `OpenID_Connect_Generic_Login_Form::handle_